.auth {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: $background;

  &--top {
    margin-top: 162px;
  }

  &__reset {
    &--green {
      color: $success-green;
    }
  }

  &-wrapper{
    @include breakpoint-min(sm) {
      padding: 0;
    }
    padding: 0 12px;
  }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  max-width: 649px;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: $main-shadow;
  border: $main-border;

  @include breakpoint-min(sm) {
    padding: 50px 115px 60px 108px;
  }

  &--new-company {
    @include breakpoint-min(sm) {
      padding: 48px 97px 45px 97px;
      min-width: 645px;
    }

    padding: 20px;
  }

  &--company-name {
    padding: 48px 61px 60px 61px;
  }

  &--goal {
    @include breakpoint-min(sm) {
      padding: 36px 44px 6px 44px;
    }
  }

  .v-window {
    width: 100%;
  }

  .v-input--has-state {
    fieldset {
      border: 2px solid $red !important;
    }
  }
}

.auth-header {
  &__text {
    font-size: 26px;
    font-weight: 600;
    margin-left: 11px;
  }
}

.auth-description {
  text-align: center;

  &__text {
    font-size: 30px;
    font-weight: 500;
    width: 100%;
  }

}

.auth-form {
  width: 100%;
  margin: 32px auto 0 auto;
  max-width: 301px;

  &--login {
    padding-top: 15px;
    border-top: $main-border;
  }

  &--signup {
    border-bottom: $main-border;
  }

  &__input {
    fieldset {
      box-shadow: inset 0 1px 3px 0 $light-blue-grey;
      border: $main-border;
    }

    input {
      text-align: left;
    }

    ::placeholder {
      font-size: 14px;
      text-align: center;
    }
  }

  &__btn {
    width: 100%;
    font-size: 17px !important;
    font-weight: 600 !important;
    border-radius: 8px;
    text-transform: none !important;
    letter-spacing: -0.4px !important;

    &--submit {
      letter-spacing: -0.4px;
      color: white !important;
    }

    &--submit-small {
      display: flex !important;
      width: 80%;
      margin: 0 auto;
    }

    &--google {
      margin-top: 33px;
      color: $azure !important;
      box-shadow: $main-shadow !important;
      border: $main-border !important;
    }
  }

  &--full-width {
    max-width: none;
  }

  &--goal {
    margin: 0;
    max-width: 369px;
  }
}

.v-text-field--outlined {
  fieldset {
    border-color: $very-light-blue !important;
  }
}

.auth {
  &-form {
    &__input--company {
      margin-bottom: 33px;
    }
  }
}

.auth-goal-info {
  font-size: 16px;
  font-weight: 500;
}

.auth-goal-meaning {
  font-size: 14px;
  color: $blue-grey;
  max-width: 318px;
  text-align: center;
  margin-bottom: 38px;
}

.auth-skip__text {
  margin-top: 18px;
  color: $main-purple;
  transition: opacity .2s;
  &:hover {
    opacity: .9;
    cursor: pointer;
  }
}

.auth__active-switcher {
  color: $red;
  background-color: $white;
  border-radius: 24px !important;
  border: $main-border !important;
  padding: 3px;
}

.auth-switcher {
  .v-slide-group__wrapper {
    background-color: $pale-grey;
    border-radius: 24px !important;
    border: $main-border !important;
    padding: 3px;
  }

  .v-tab {
    text-transform: none;
    font-size: 17px;
    letter-spacing: -0.4px;
    ;
  }
}

.v-tab--active {
  background-color: $white;

  .v-tab--active {
    background-color: $white;
  }
}

.v-tab:before {
  border-radius: 24px;
}

.v-tabs-slider-wrapper {
  display: none;
}


.auth-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;

  &__name {
    width: 100%;
    max-width: 130px;
    font-size: 14px;
    color: $blue-grey;

    &--login {
      max-width: 85px;
    }
  }
}

.auth-forgot-pass {
  display: flex;
  width: 100%;

  &__link {
    color: $main-purple;
    cursor: pointer;
    margin: 0 auto;
  }
}

.auth-section {
  max-width: 650px;
  width: 100%;
}

.auth-rules {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: $blue-grey;
  cursor: pointer;
}

