<template>
  <div>
    <Header :company-name="company.companyName" :loading="loading" />
    <ObjectiveInfo
      :title.sync="objective.title"
      :objective-id="+$route.query.objectiveId"
      :objective="objective"
      :company-users="company.companyUsers"
      :loading="loading"
    />
    <LastUpdate
      :objective-note="objective.note"
      :objective-status="objective.status"
      :objective-logs="objective.objLogs"
      :objective-users="objective.users"
      :loading="loading"
    />
    <AddInitiative
      v-model="showAddInitiative"
      :company-id="company.companyId"
      :objective-id="+$route.query.objectiveId"
    />
    <KpiAdd
      v-model="showAddIndicator"
      :objective-id="+$route.query.objectiveId"
    />
    <div class="custom-container custom-container--inset-shadow pb-6">
      <div class="pt-5 pb-1 d-flex align-center">
        <span class="dashboard-indicators__title"
          >Weekly Performance Indicators</span
        >
        <v-icon
          class="cursor-pointer"
          color="#dfe1e4"
          @click="showAddIndicator = true"
          >add_circle</v-icon
        >
      </div>
      <v-row class="dashboard-indicators-wrapper">
        <div v-if="loading" class="w-100 d-flex flex-wrap">
          <v-skeleton-loader
            v-for="item in 4"
            :key="item.id"
            :loading="loading"
            transition="fade-transition"
            height="100px"
            width="250px"
            type="card"
            class="pa-3"
          />
        </div>
        <Indicator
          v-for="kpi in objective.kpi"
          v-else
          :key="kpi.id"
          :indicator="kpi"
          :loading="loading"
          :company-id="company.companyId"
          :indicator-logs="kpi.logs"
          @delete-indicator="getObjectiveInfo"
        />
      </v-row>
      <div class="py-5 d-flex align-center">
        <span class="dashboard-indicators__title">Initiatives</span>
        <v-icon
          class="cursor-pointer"
          color="#dfe1e4"
          @click="showAddInitiative = true"
          >add_circle</v-icon
        >
      </div>
      <div v-if="loading" class="w-100 d-flex flex-wrap">
        <v-skeleton-loader
          v-for="item in 3"
          :key="item.id"
          :loading="loading"
          class="pa-3 pl-0"
          transition="fade-transition"
          height="70px"
          width="300px"
          d
          type="card"
        />
      </div>
      <Initiatives
        v-else
        :initiatives="objective.initiatives"
        :company-users="company.companyUsers"
        @open-initiative="openInitiative"
      />
      <InitiativeDrawer
        v-model="showInitiative"
        :objective-id="objective.id"
        :initiative="initiative"
        :company-id="company.companyId"
        :objective-users="objective.users"
        :loading="loading"
        :items="items"
      />
    </div>
    <!-- <QuarterDate /> -->
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import Indicator from '~/components/dashboard/Indicator.vue';
import LastUpdate from '~/components/objective/LastUpdate.vue';
import Header from '~/components/objective/Header';
import ObjectiveInfo from '~/components/objective/ObjectiveInfo';
import Initiatives from '~/components/dashboard/Initiatives';
import KpiAdd from '~/components/modal/KpiAdd';
import InitiativeDrawer from '~/components/initiative/InitiativeDrawer';
import AddInitiative from '@/components/modal/AddInitiative';
// import QuarterDate from '~/components/general/QuarterDate';

export default {
  name: 'Index',
  layout: 'main',
  middleware: 'redirectToLogin',
  components: {
    AddInitiative,
    InitiativeDrawer,
    KpiAdd,
    Initiatives,
    Header,
    ObjectiveInfo,
    // QuarterDate,
    LastUpdate,
    Indicator
  },
  data() {
    return {
      loading: true,
      showAddInitiative: false,
      showAddIndicator: false,
      showAddKpi: false,
      showInitiative: false,
      objective: {},
      company: {},
      logs: {},
      initiative: {},
      items: [
        { text: 'Dashboard', disabled: false, href: 'dashboard' },
        {
          text:
            'Build a world class product and something else that’s really important',
          disabled: true,
          href: 'initiative'
        }
      ]
    };
  },
  async created() {
    await this.getObjectiveInfo();

    this.$nuxt.$on('update-objective', () => {
      (async () => {
        await this.getObjectiveInfo();
      })();
    });

    this.$nuxt.$on('update-initiative', (id) => {
      (async () => {
        await this.getObjectiveInfo();
        this.initiative = this.objective.initiatives.find(
          (item) => item.id === id
        );
      })();
    });
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async getObjectiveInfo() {
      try {
        this.loading = true;
        const objId = +this.$router.history.current.query.objectiveId;
        const response = await this.$axios.get(`objectives/${objId}`);

        this.objective = response.data.objective;
        this.company = response.data.company;
        this.logs = response.data.logs;
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } finally {
        this.loading = false;
      }
    },
    openInitiative(initiative) {
      this.initiative = initiative;
      this.showInitiative = true;
    }
  }
};
</script>
