.company-info{
  background-color: $white;

  &__name{
    padding-top: 23px;
    color: $black;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.61px;
  }

  .v-skeleton-loader__list-item{
    padding: 0;
  }
}

.company-info-goal{
  display: flex;
  align-items: center;
  height: auto;
  padding-bottom: 20px;

  &__icon{
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $azure;
    margin-right: 10px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__title{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 2.7;
    letter-spacing: -0.42px;
  }
}
