.custom-dropdown {
  position: relative;
  &__list {
    position: absolute;
    top: 2.6em;
    z-index: 10;
    left: -30px;
  }
  &__list-title {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.33px;
    color: $blue-grey;
    white-space: nowrap;
    height: 25px;
    padding: 0 15px 0px 13px;
  }
  &__list-item {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.33px;
    color: $black;
    white-space: nowrap;
    height: 25px;
    padding: 0 15px 0px 13px;
    margin: 0 7px;
    &:hover {
      background-color: $light-blue;
      color: $azure;
      cursor: pointer;
      border-radius: 8px;
    }
  }

  &__content {
  }
}
