.dashboard-indicators{
  &__title{
    padding-right: 8px;
    font-size: 16px;
    letter-spacing: -0.34px;
    color: $grey-text;
  }
}

.dashboard-objectives{
  &__title{
    padding-right: 8px;
    font-size: 16px;
    letter-spacing: -0.34px;
    color: $grey-text;
  }
}

.dashboard-objectives-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.dashboard-indicators-wrapper{
  display: flex;
  flex-wrap: wrap;

  //.dashboard-indicator{
  //  @include breakpoint-min(sm) {
  //    margin-right: 15px;
  //
  //    &:nth-child(2n){
  //      margin-right: 0;
  //    }
  //  }
  //}
}

.card-objectives {
  padding: 33px 25px 39px 25px;
}

.card-objectives-content {
  display: block;
}

.card-status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;

  @include breakpoint-min(md) {
    min-height: 70px;
    padding: 15px 18px 16px 22px;
  }


  &__desc {
    font-size: 18px;
    line-height: 3;
    letter-spacing: -0.38px;
    color: $black;
    padding: 0;
  }

  &__info{
    font-size: 12px;
    letter-spacing: -0.28px;

    &--on-track{
      span{
        color: $dark-blue;
      }
    }

    &--off-track{
      span{
        color: $red-text;
      }
    }

    &--at-risk{
      span{
        color: $vivid-amber;
      }
    }

    &--completed{
      span{
        color: $dark-green;
      }
    }

    &--not-started{
      span{
        color: $purple;
      }
    }

    &--ahead-of-schedule{
      span{
        color: $dark-green;
      }
    }

    span{
      padding-right: 4px;
      font-weight: 600;
    }

    p{
      color: $dark-grey-text;
    }
  }

  &__info-block{
    @include breakpoint-min(sm){
      max-width: 270px;
    }
  }

  &__days-left {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: -0.33px;
    color: $blue-grey;
    text-align: right;
    margin-bottom: 0 !important;

    @include breakpoint-min(md) {font-size: 14px}

  }
}


.card-content {
  margin-left: 90px;
}

.kpis-items-card:last-child {
  margin-right: 0;
}

.kpis-items-card {
  max-width: 305px;
  height: auto;
  background-color: #ffffff;
  margin-right: 18px;
  margin-bottom: 16px;

  @include breakpoint-min(md) { min-height: 120px; } // md or sm


  &__menu-title {
    max-height: 20px !important;
  }

  &__status {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: $blue-grey;
    margin-bottom: 10px !important;
  }

  &__value {
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.85px;
    color: #0a082c;
    margin-bottom: 0 !important;
  }

  &__icon {

  }

  &__content {
    padding: 0 22px 18px 22px !important;
  }
}




.dashboard-title {
  display: flex;
  align-items: center;
}

.dashboard-custom-id {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  object-fit: contain;
  background-color: $aqua;
  border-radius: 50%;
  margin-right: 26px;

  @include breakpoint-min(md) {
    width: 43px;
    height: 43px;
  }
}

.dashboard-id-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-custom-id {
  position: absolute;
  display: flex;
  align-items: center;
}

.dashboard-custom-id span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.56px;
  color: #ffffff;
  margin-right: 2px;
  margin-top: 1px;

  @include breakpoint-min(sm) {
    font-size: 24px;
  }
}

.dashboard-mission-block {
  display: flex;
  align-items: center;

  img {
    margin-right: 23px;
  }
}


.custom-expansion .v-expansion-panel-content__wrap,
.custom-expansion .v-expansion-panel-header {
  padding: 0;
}

.custom-expansion .v-expansion-panel-header__icon {
  position: absolute;
  left: -28px;
  padding-bottom: 8px;
  transform: rotateZ(180deg);
}

.custom-expansion__header {}

.v-menu__content {
  border-radius: 8px !important;
  box-shadow: $darker-shadow !important;
  border: $main-border !important;
}

.edit-icon {
  cursor: pointer;
}

.objective-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: $dark-yellow;

  @include breakpoint-min(md) {
    min-width: 43px;
    height: 43px;
    margin-right: 20px;
  }
  img {
    margin: 0;
  }
}

.nuxt-link {
  &--non-decoration {
    text-decoration: none;
  }
}

.error{
  &--text{
    fieldset{
      border-color: $reddish-pink !important;
    }
  }
}
