.objective-title {
  &__input input {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.71px;
    margin: 4px 0;
    max-height: 34px !important;
  }
  &__text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.71px;
    color: $black;

    @include breakpoint-min(sm) {
      font-size: 30px;
    }
  }
  &__placeholder {
    font-family: Inter;
    font-size: 30px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.71px;
    color: $light-blue-grey !important;
    margin: 4px 0;
  }
}

.objective-mission{
  &__text{
    color: $light-blue-grey;
  }
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border: transparent;
}
