.dashboard-header{
  border-top-left-radius: 10px;
  background-color: $white;
  border-bottom: 1px solid $border-light-grey;
  display: flex;
  justify-content: space-between;
  padding: 6px 0;

  .custom-container{
    display: flex;
    justify-content: space-between;
  }

  &__welcome-user{
    color: $grey-text;
    font-size: 20px;
    line-height: 2.7;
    letter-spacing: -0.42px;
  }
}

.v-application{
  .dashboard-header{
    &__welcome-user{
      margin-bottom: 0;
    }
  }
}
