.dashboard-indicator{
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(229, 231, 235, 0.33);
  border: solid 1px $border-light-grey;
  background-color: $pale-grey;


}

.dashboard-indicator-list-item{
  color: $black !important;
}

.dashboard-indicator-main-info-sparkline{
  height: 100%;
  width: 40%;
  position: relative;
}

.dashboard-indicator-main{
  border-radius: 8px 8px 0 0;
  background-color: $white;
  border-bottom: 1px solid $border-light-grey;

  .dashboard-card-container{
    padding-right: 20px;
  }
}

.dashboard-indicator-bottom{
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 2px 0 rgba(229, 231, 235, 0.33);
  background-color: $pale-grey;

  &__goal{
    padding: 6px 0 9px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.33px;
    color: $grey-text;
  }

  &__date-left{
    padding: 7px 0 9px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.33px;
    color: $grey-text;
  }

  .dashboard-card-container{
    display: flex;
    justify-content: space-between;
  }
}

.dashboard-card-container{
  padding: 0 20px;
}

.dashboard-indicator-main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.38px;
    padding: 10px 0 4px;
    color: $black;
  }

  &__menu{
    position: absolute;
    top: 10px;
    right: -10px;
  }
}

.dashboard-indicator-main-info{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  min-height: 42px;

  &__no-updates{
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 12px;
    color: $grey-text;
  }

  &__progress{
    border-radius: 12px;
    border: solid 2px $green-border;
    background-color: $light-green;
    padding: 2px 7px;
    margin: 0 0 10px 12px;
    height: 18px;
    display: flex;
    align-items: center;

    &--red{
      background-color: $light-red;
      border-color: $red-border;

      .dashboard-indicator-main-info{
        &__percentage{
          color: $red-text;
        }
      }
    }

    &--green{
      background-color: $light-green;
      border-color: $green-border;

      .dashboard-indicator-main-info{
        &__percentage{
          color: $dark-green;
        }
      }
    }
  }

  &__percentage{
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -0.26px;
    color: $dark-green;
  }
}

.dashboard-indicator-main-info-amount{
  display: flex;
  align-items: flex-end;

  &__money{
    font-size: 26px;
    letter-spacing: -0.61px;
    color: $black;
  }
}
