.dashboard-objective{
  border-radius: 8px;
  box-shadow: $main-shadow;
  border: solid 1px $border-light-grey;
  background-color: $pale-grey;

  &__no-kpis{
    position: absolute;
    color: $grey-text;
    top: 40%;
    left: 0;
    font-size: 12px;

    @include breakpoint-min(md) {
      font-size: 14px;
    }
  }

  &__no-initiatives{
    position: absolute;
    font-size: 12px;
    color: $grey-text;
    top: 40%;
    right: 10px;

    @include breakpoint-min(md) {
      font-size: 14px;
    }
  }

  &--at-risk{
    .dashboard-objective-header{
      &__index{
        border-color: $orange-border;
        background-color: $light-amber;
      }

      &__status{
        color: $vivid-amber;
      }
    }
  }

  &--ahead-of-schedule{
    .dashboard-objective-header{
      &__index{
        border-color: $green-border;
        background-color: $light-green;
      }

      &__status{
        color: $dark-green;
      }
    }
  }

  &--completed{
    .dashboard-objective-header{
      &__index{
        border-color: $green-border;
        background-color: $light-green;
      }

      &__status{
        color: $dark-green;
      }
    }
  }

  &--on-track{
    .dashboard-objective-header{
      &__index{
        border-color: $blue-border;
        background-color: $light-blue;
      }

      &__status{
        color: $dark-blue;
      }
    }
  }

  &--off-track{
    .dashboard-objective-header{
      &__index{
        border-color: $red-border;
        background-color: $light-red;
      }

      &__status{
        color: $red-text;
      }
    }
  }

  &--not-started{
    .dashboard-objective-header{
      &__index{
        border-color: $purple-border;
        background-color: $light-purple;
      }

      &__status{
        color: $purple;
      }
    }
  }
}

.dashboard-objective-body{
  border-radius: 8px 8px 0 0;
  background-color: $white;
  border-bottom: 1px solid $border-light-grey;
  padding-top: 22px;
  height: 100%;
  max-height: 182px;

  &__title{
    font-size: 23px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.54px;
    color: $black;
    padding-bottom: 21px;

    &--grey{
      font-size: 20px;
      color: $grey-text;
    }
  }

  .dashboard-card-container{
    padding-right: 10px;
  }

  &__progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 40%;
  }
}

.dashboard-objective-footer{
  border-radius: 0 0 8px 8px;
  box-shadow: $main-shadow;
  background-color: $pale-grey;

  &__date-left{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.33px;
    color: $grey-text;
  }

  .dashboard-card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 68px;
  }
}

.dashboard-objective-header{
  padding-top: 24px;
  position: relative;
  background-color: $white;

  &__index{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 36px;
    border-radius: 8px;
    padding: 12px 5px;
    border: solid 3px $blue-border;
    background-color: $bubbles;
    position: relative;

    span{
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.38px;
      color: $blue-green;
    }

    .v-icon.v-icon{
      position: relative !important;
      top: auto !important;
      right: auto !important;
    }
  }

  .v-icon.v-icon{
    position: absolute;
    top: 0;
    right: 25px;
  }

  &__status{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.38px;
    color: $blue-green;
    padding-left: 15px;
  }

  .dashboard-card-container{
    display: flex;
    align-items: center;
    position: relative;
  }
}

.dashboard-objective-body-info{
  display: flex;
  padding-bottom: 15px;
  position: relative;
  min-height: 102px;

  &__update-status{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: $light-green;
    margin-right: 9px;

    &--up{
      background-color: $light-green;
    }

    &--down{
      background-color: $light-red;
    }
  }

  &__update{
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: -0.29px;
    color: $black;
    padding-bottom: 12px;

    &:nth-child(3){
      padding-bottom: 0;
    }
  }

  &__updates{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
}
