.team-select {
  display: flex;
  align-items: center;

  & img {
    border-radius: 50%;
    margin-left: -6px;
    border: 2px solid white;
  }

  &__avatar {
    &:nth-child(1) img {
      margin-left: 0;
    }
  }
}
