<template>
  <v-card class="new-card" color="#fafbfc" @click="addNewObjective">
    <v-btn
      class="mr-5 new-card__mdi-plus"
      fab
      dark
      color="#21ccde"
      depressed
      max-width="32"
      max-height="32"
    >
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>
    <p class="p-text color__blue-grey new-card__title">Add an objective</p>
    <p class="small-text color__blue-grey new-card__desc ml-10">
      Objectives are what you want to achieve or where you want to go
    </p>
  </v-card>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  name: 'AddAnObjective',
  props: {
    companyId: {
      type: Number,
      default: null
    }
  },
  computed: {
    ...mapState({
      companies: (state) => state.companies.companies,
      company: (state) => state.company.company
    })
  },
  async created() {
    this.$auth.user.role !== 'superAdmin'
      ? await this.getCompany()
      : await this.getCompanies();
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    ...mapActions({
      getCompany: 'company/getCompany',
      getCompanies: 'companies/getCompanies'
    }),
    async addNewObjective() {
      try {
        if (this.$auth.user.role !== 'superAdmin') {
          const { status } = await this.$axios.post(
            `/objectives/${this.company.id}`,
            {
              start_date: new Date(),
              end_date: new Date()
            }
          );

          const msg = {
            status,
            info: `Your objective was created`,
            error: 'Success'
          };
          this.ADD_SNACKBAR_MESSAGE(msg);
          await this.getCompany();
        }

        if (this.$auth.user.role === 'superAdmin') {
          const currentCompanyId = this.companies.find(
            (item) => item.id === this.companyId
          ).id;
          const { status } = await this.$axios.post(
            `/objectives/${currentCompanyId}`,
            {
              start_date: new Date(),
              end_date: new Date()
            }
          );
          const msg = {
            status,
            info: `Your objective was created`,
            error: 'Success'
          };
          this.ADD_SNACKBAR_MESSAGE(msg);
          await this.getCompanies();
        }
      } catch ({ response }) {
        const msg = {
          status: 'help',
          info: 'help',
          error: 'help'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
