<template>
  <div class="company-info">
    <div class="custom-container">
      <component
        :is="
          'expand-transition' !== 'None' ? `v-${'expand-transition'}` : 'div'
        "
        hide-on-leave
      >
        <v-skeleton-loader
          v-if="loading"
          transition="fade"
          height="40px"
          max-width="300px"
          type="list-item"
        />
        <div v-else class="company-info__name">{{ name }}</div>
      </component>
      <component
        :is="
          'expand-transition' !== 'None' ? `v-${'expand-transition'}` : 'div'
        "
        hide-on-leave
      >
        <v-skeleton-loader
          v-if="loading"
          transition="fade"
          height="40px"
          max-width="300px"
          type="list-item"
        />
        <div v-else class="company-info-goal">
          <div class="company-info-goal__icon">
            <img src="@/assets/images/star.svg" alt="star" />
          </div>
          <p
            v-if="!edit && mission"
            class="company-info-goal__title mb-0"
            @click="isEdit(mission)"
          >
            {{ mission }}
            <v-icon class="cursor-pointer ml-5" small>edit</v-icon>
          </p>
          <div v-else class="d-flex w-100 align-center">
            <v-text-field
              ref="mission"
              v-model="editText"
              hide-details
              :loading="updating"
              color="#5856d6"
              class="objective-title__input custom-text-field"
              :placeholder="placeholder"
              @click="showCheckBtn = true"
              @blur="saveMission"
              @keydown.enter="$event.target.blur()"
            />
            <v-icon
              v-if="showCheckBtn"
              class="ml-5"
              @click="$event.target.blur()"
              >check</v-icon
            >
          </div>
        </div>
      </component>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'CompanyInfo',
  props: {
    mission: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: ''
    },
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    placeholder: 'Add a mission to get your team focused',
    editText: '',
    edit: false,
    showCheckBtn: false,
    updating: false
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    isEdit(mission) {
      this.editText = mission;
      this.edit = true;
      this.$nextTick(() => {
        this.$refs.mission.focus();
        this.showCheckBtn = true;
      });
    },
    async saveMission() {
      try {
        this.updating = true;
        const response = await this.$axios.patch(
          `/companies/${this.companyId}`,
          {
            mission: this.editText
          }
        );

        this.updating = false;
        this.edit = false;
        this.showCheckBtn = false;

        this.$emit('update:mission', response.data.mission);

        const msg = {
          status: response.status,
          info: 'Your mission was changed',
          error: 'Success'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.edit = false;
        this.updating = false;

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
