<template>
  <v-col class="d-flex" sm="10">
    <div class="dashboard-mission-block">
      <p class="dashboard-custom-id mb-0">
        <span>{{ index + 1 }}</span>
      </p>
      <p class="ml-md-16 ml-11 font__h1 color__light-blue-grey"></p>
      <p v-if="!edit" class="objective-title__text mb-0" @click="switchEdit">
        {{ item.title }}
        <img
          src="~/assets/images/edit.svg"
          class="edit-icon ml-2 mb-1"
          alt="edit"
        />
      </p>
      <div v-else class="d-flex w-100 align-center">
        <v-text-field
          ref="objectiveName"
          v-model="editText"
          hide-details
          class="objective-title__input custom-text-field"
          :placeholder="placeholder"
          @blur="switchEdit"
          @click="showCheckBtn = true"
          @keydown.enter="switchEdit"
        />
        <v-icon v-if="showCheckBtn" class="ml-5" @click="switchEdit"
          >check</v-icon
        >
      </div>
    </div>
  </v-col>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  name: 'EditTitle',
  props: {
    item: {
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: null
    },
    objectiveId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    placeholder: 'Type your objective here',
    editText: '',
    edit: false,
    showCheckBtn: false
  }),
  computed: {
    ...mapState({
      company: (state) => state.company.company
    })
  },
  mounted() {
    this.editText = this.item.title || '';

    if (!this.editText) {
      this.edit = true;
    }
  },
  methods: {
    ...mapActions({
      getCompany: 'company/getCompany',
      getCompanies: 'companies/getCompanies'
    }),
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async switchEdit() {
      this.showCheckBtn = true;
      this.edit = !this.edit;

      try {
        if (!this.edit) {
          const { status } = await this.$axios.patch(
            `/objectives/${this.item.id}`,
            {
              title: this.editText
            }
          );

          const msg = {
            status,
            info: 'Your objective name was changed',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);

          if (this.$auth.user.role !== 'superAdmin') {
            await this.getCompany();
          } else {
            await this.getCompanies();
          }

          if (!this.editText) {
            this.edit = true;
            this.isCheckShown = false;
            this.showCheckBtn = false;
          }
        } else {
          this.editText = this.item.title;
          this.$nextTick(() => {
            this.$refs.objectiveName.focus();
          });
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
