<template>
  <v-row class="mb-6">
    <v-col sm="12" class="pt-0">
      <div class="dashboard-mission-block">
        <div class="objective-icon">
          <img src="~/static/star.svg" alt="star" />
        </div>
        <p v-if="!edit" class="objective-title__text mb-0" @click="switchEdit">
          {{ editText }}
          <img
            src="~/assets/images/edit.svg"
            class="edit-icon ml-2 mb-1"
            alt="edit"
          />
        </p>
        <div v-else class="d-flex w-100 align-center">
          <v-text-field
            ref="mission"
            v-model="editText"
            hide-details
            class="objective-title__input custom-text-field"
            :placeholder="placeholder"
            @blur="switchEdit"
            @click="showCheckBtn = true"
            @keydown.enter="switchEdit"
          >
          </v-text-field>
          <v-icon v-if="showCheckBtn" class="ml-5" @click="switchEdit"
            >check</v-icon
          >
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
  name: 'EditTitle',
  props: {
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    placeholder: 'Add a mission to get your team focused',
    editText: '',
    edit: false,
    isCheckShown: false,
    showCheckBtn: false
  }),
  computed: {
    ...mapState({
      company: (state) => state.company.company,
      companies: (state) => state.companies.companies
    })
  },

  created() {
    if (this.company.mission) {
      this.editText = this.company.mission;
    } else if (this.companies.length !== 0) {
      this.editText = this.companies.find(
        (company) => company.id === this.companyId
      ).mission;
    }

    if (!this.editText) {
      this.edit = true;
    }
  },
  methods: {
    ...mapActions({
      getCompany: 'company/getCompany',
      getCompanies: 'companies/getCompanies'
    }),
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async switchEdit() {
      try {
        this.isCheckShown = true;
        this.edit = !this.edit;

        if (this.$auth.user.role === 'admin') {
          if (!this.edit) {
            const { status } = await this.$axios.patch(
              `/companies/${this.company.id}`,
              {
                mission: this.editText
              }
            );

            const msg = {
              status,
              info: 'Your mission was changed',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);
            await this.getCompany();
            if (!this.editText) {
              this.edit = true;
              this.isCheckShown = false;
              this.showCheckBtn = false;
            }
          } else {
            this.isCheckShown = true;
            this.$nextTick(() => {
              this.$refs.mission.focus();
            });
          }
        }
        if (this.$auth.user.role === 'superAdmin') {
          if (!this.edit) {
            const { status } = await this.$axios.patch(
              `/companies/${this.companyId}`,
              {
                mission: this.editText
              }
            );

            const msg = {
              status,
              info: 'Your mission was changed',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);

            await this.getCompanies();

            if (!this.editText) {
              this.edit = true;
              this.isCheckShown = false;
              this.showCheckBtn = false;
            }
          } else {
            this.isCheckShown = true;
            this.$nextTick(() => {
              this.$refs.mission.focus();
            });
          }
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>

<style scoped></style>
