<template>
  <div class="dashboard-header">
    <div class="custom-container">
      <p class="dashboard-header__welcome-user">
        👋 Welcome back, {{ $auth.user.name }}!
      </p>
      <v-menu
        min-width="202px"
        offset-y
        offset-x
        bottom
        right
        class="card-action"
      >
        <template v-slot:activator="{ on, attrs }">
          <div class="header-menu" v-bind="attrs" v-on="on">
            <div class="d-flex align-center" v-bind="attrs" v-on="on">
              <v-avatar
                width="34"
                height="34"
                class="avatar mr-1"
                align="center"
              >
                <img
                  :src="$auth.user.avatarPath || defaultUserIco"
                  alt="John"
                />
              </v-avatar>
              <p class="header-avatar-title mb-0">
                {{ $auth.user.name }}
              </p>
              <v-icon size="30" color="#c7c7cc">$expand </v-icon>
            </div>
          </div>
        </template>
        <v-list class="general-list" dense rounded>
          <v-list-item-group>
            <v-list-item
              class="sidebar-list__item hover-v-list-item"
              @click="$router.push('/profile')"
            >
              My Profile
            </v-list-item>

            <v-list-item
              class="sidebar-list__item hover-v-list-item"
              @click="logOut"
            >
              Log Out
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import defaultUserIco from '~/assets/images/defaultUserIco.png';

export default {
  name: 'Header',
  data: () => ({
    showMenu: false,
    defaultUserIco,
    showEdit: false,
    showCheckIcon: false,
    companyName: '',
    rules: {
      min: (v) => v.length >= 1 || 'Min 1 characters'
    },
    tempCompanyName: '',
    isDashboard: false
  }),
  computed: {
    ...mapState({
      company: (state) => state.company.company,
      companies: (state) => state.companies.companies
    })
  },
  watch: {
    $route(to, from) {
      this.isDashboard =
        to.path.includes('dashboard') || to.path.includes('profile');
      if (this.$auth.user.role === 'superAdmin') {
        if (this.$router.history.current.params.id) {
          this.tempCompanyName = this.companies.find(
            (item) => item.id === +this.$router.history.current.params.id
          ).name;
        } else {
          return '';
        }
      }
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    toggleMenu() {
      this.showMenu = !this.showMenu;
      this.$emit('toggleMenu', this.showMenu);
    },
    logOut() {
      this.$auth.logout();
    },
    toggleIcon() {
      this.showEdit = true;
      this.showCheckIcon = true;
    }
  }
};
</script>
