<template>
  <v-col cols="12" sm="6" md="6" lg="4" xl="3">
    <KpiEdit
      v-model="showEditKpi"
      :editing-fields="{
        goal: indicator.goal,
        name: indicator.name,
        currentValue: indicator.current_value,
        units: indicator.units
      }"
      :is-company="isCompany"
      :indicator-id="indicator.id"
      :company-id="companyId"
    />
    <div class="dashboard-indicator">
      <div class="dashboard-indicator-main">
        <div class="dashboard-card-container">
          <div class="dashboard-indicator-main-header">
            <div class="dashboard-indicator-main-header__title">
              {{ indicator.name }}
            </div>
            <div class="dashboard-indicator-main-header__menu">
              <v-menu
                left
                offset-y
                close-on-click
                nudge-bottom="10"
                class="card-action"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on">
                    mdi-dots-vertical
                  </v-icon>
                </template>
                <v-list class="px-2">
                  <v-list-item
                    class="sidebar-list__item dashboard-indicator-list-item hover-v-list-item"
                    @click="showEditKpi = true"
                  >
                    Edit {{ isCompany ? 'indicator' : 'kpi' }}
                  </v-list-item>

                  <v-list-item
                    class="sidebar-list__item dashboard-indicator-list-item hover-v-list-item"
                    @click="deleteIndicator"
                  >
                    Delete {{ isCompany ? 'indicator' : 'kpi' }}
                  </v-list-item>
                </v-list>
              </v-menu>
              <!--              <v-menu-->
              <!--                min-width="202px"-->
              <!--                offset-y-->
              <!--                left-->
              <!--                nudge-bottom="10"-->
              <!--                class="card-action"-->
              <!--              >-->
              <!--                <template v-slot:activator="{ on, attrs }">-->
              <!--                  <v-icon v-bind="attrs" v-on="on">more_vert</v-icon>-->
              <!--                </template>-->
              <!--                <v-list class="general-list" dense rounded>-->
              <!--                  <v-list-item-group>-->
              <!--                    <v-list-item-->
              <!--                      class="sidebar-list__item dashboard-indicator-list-item hover-v-list-item"-->
              <!--                      @click="showEditKpi = true"-->
              <!--                    >-->
              <!--                      Edit indicator-->
              <!--                    </v-list-item>-->

              <!--                    <v-list-item class="sidebar-list__item hover-v-list-item">-->
              <!--                      Delete indicator-->
              <!--                    </v-list-item>-->
              <!--                  </v-list-item-group>-->
              <!--                </v-list>-->
              <!--              </v-menu>-->
            </div>
          </div>
          <!--          <v-sparkline-->
          <!--            :value="value"-->
          <!--            color="#34c859"-->
          <!--            height="40px"-->
          <!--            line-width="4"-->
          <!--            width="400"-->
          <!--            auto-draw-->
          <!--            auto-line-width-->
          <!--          />-->
          <div class="dashboard-indicator-main-info">
            <div class="dashboard-indicator-main-info-amount">
              <div class="dashboard-indicator-main-info-amount__money">
                {{ checkValue(indicator.current_value, indicator.units) }}
              </div>
              <div
                v-if="indicatorLogs.length >= 2"
                class="dashboard-indicator-main-info__progress"
                :class="checkChange(indicatorLogs).class"
              >
                <v-icon small :color="checkChange(indicatorLogs).color">{{
                  checkChange(indicatorLogs).icon
                }}</v-icon
                ><span class="dashboard-indicator-main-info__percentage">{{
                  checkChange(indicatorLogs).percentage | formattedPercentage
                }}</span>
              </div>
              <span v-else class="dashboard-indicator-main-info__no-updates"
                >No updates yet</span
              >
            </div>
            <div class="dashboard-indicator-main-info-sparkline">
              <LineChart
                v-if="indicatorLogs.length >= 2"
                :chart-data="barChartData"
                :options="barChartOptions"
                :height="27"
                :width="100"
              />
            </div>

            <!--            <div class="dashboard-indicator-main-info__sparkline">-->
            <!--            </div>-->
          </div>
        </div>
      </div>
      <div class="dashboard-indicator-bottom">
        <div class="dashboard-card-container">
          <div class="dashboard-indicator-bottom__goal">
            {{ checkValue(indicator.goal, indicator.units) }}
          </div>
          <div class="dashboard-indicator-bottom__date-left">
            {{ lastUpdate(indicatorLogs) }}
          </div>
        </div>
      </div>
    </div>
  </v-col>
</template>

<script>
import { mapMutations } from 'vuex';
import numeral from 'numeral';
import moment from 'moment';
import LineChart from '~/components/general/LineChart';
import KpiEdit from '~/components/modal/KpiEdit';

export default {
  name: 'Indicator',
  components: {
    KpiEdit,
    LineChart
  },
  filters: {
    formattedValues(value) {
      return numeral(value).format('0,0');
    },
    formattedPercentage(value) {
      return numeral(value).format('0.00%');
    }
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    indicator: {
      type: Object,
      default: () => {}
    },
    companyId: {
      type: Number,
      default: null
    },
    isCompany: {
      type: Boolean,
      default: false
    },
    indicatorLogs: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      showEditKpi: false,
      barChartData: {
        labels: [
          '2019-06',
          '2019-07',
          '2019-08',
          '2019-09',
          '2019-10',
          '2019-11'
        ],
        datasets: [
          {
            label: 'Value',
            data: [45, 65, 30, 53, 34, 35, 26, 37, 34, 45, 67, 87, 98],
            backgroundColor: 'rgba(52,200,89, 0.15)',
            borderColor: 'rgba(52,200,89, 1)',
            borderWidth: 2,
            pointRadius: 0,
            pointHitRadius: 3
          }
        ]
      },
      barChartOptions: {
        responsive: true,
        legend: {
          display: false
        },
        title: {
          display: false
        },
        tooltips: {
          // Disable the on-canvas tooltip
          enabled: false,

          custom(tooltipModel) {
            // Tooltip Element
            let tooltipEl = document.getElementById('chartjs-tooltip');

            // Create element on first render
            if (!tooltipEl) {
              tooltipEl = document.createElement('div');
              tooltipEl.id = 'chartjs-tooltip';
              tooltipEl.innerHTML = '<table></table>';
              document.body.appendChild(tooltipEl);
            }

            // Hide if no tooltip
            if (tooltipModel.opacity === 0) {
              tooltipEl.style.opacity = 0;
              return;
            }

            // Set caret Position
            tooltipEl.classList.remove('above', 'below', 'no-transform');
            if (tooltipModel.yAlign) {
              tooltipEl.classList.add(tooltipModel.yAlign);
            } else {
              tooltipEl.classList.add('no-transform');
            }

            function getBody(bodyItem) {
              return bodyItem.lines;
            }

            // Set Text
            if (tooltipModel.body) {
              const titleLines = tooltipModel.title || [];
              const bodyLines = tooltipModel.body.map(getBody);

              let innerHtml = '<thead>';

              titleLines.forEach(function(title) {
                innerHtml += '<tr><th>' + title + '</th></tr>';
              });
              innerHtml += '</thead><tbody>';

              bodyLines.forEach(function(body) {
                const style = 'background: #5856d6; color: #fff';
                const span = '<span style="' + style + '"></span>';
                innerHtml += '<tr><td>' + span + body + '</td></tr>';
              });
              innerHtml += '</tbody>';

              const tableRoot = tooltipEl.querySelector('table');
              tableRoot.innerHTML = innerHtml;
            }

            // `this` will be the overall tooltip
            const position = this._chart.canvas.getBoundingClientRect();

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 1;
            tooltipEl.style.position = 'absolute';
            tooltipEl.style.left =
              position.left +
              window.pageXOffset +
              tooltipModel.caretX -
              tooltipEl.offsetWidth +
              'px';
            tooltipEl.style.top =
              position.top + window.pageYOffset + tooltipModel.caretY + 'px';
            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
            tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
            tooltipEl.style.padding =
              tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
            tooltipEl.style.pointerEvents = 'none';
            tooltipEl.style.backgroundColor = '#5856d6';
            tooltipEl.style.color = '#fff';
            tooltipEl.style.borderRadius = '5px';
          }
        },
        scales: {
          xAxes: [
            {
              display: false,
              gridLines: {
                display: false
              }
            }
          ],
          yAxes: [
            {
              display: false,
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: false
              }
            }
          ]
        }
      }
    };
  },
  mounted() {
    this.barChartData.labels = this.indicatorLogs.map((value) =>
      moment(value.date).format('DD MM YYYY')
    );
    this.barChartData.datasets[0].data = this.indicatorLogs.map(
      (value) => value.current_value
    );
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    checkValue(value, units) {
      if (units === '$') {
        return `${units}${this.$options.filters.formattedValues(value)}`;
      } else if (units === '%') {
        return `${this.$options.filters.formattedValues(value)}${units}`;
      }
      return `${this.$options.filters.formattedValues(value)} ${units}`;
    },
    checkChange(logs) {
      const lastLogValue = logs[logs.length - 1].current_value;
      const penultimateLogValue = logs[logs.length - 2].current_value;

      const difference =
        (lastLogValue - penultimateLogValue) / penultimateLogValue;

      if (difference < 0) {
        this.barChartData.datasets[0].borderColor = 'rgba(255, 67, 57, 1)';
        this.barChartData.datasets[0].backgroundColor =
          'rgba(255, 67, 57, 0.15)';

        return {
          icon: 'mdi-menu-down',
          class: 'dashboard-indicator-main-info__progress--red',
          percentage: difference * -1,
          color: '#ff5f5c'
        };
      }

      this.barChartData.datasets[0].borderColor = 'rgba(52,200,89, 1)';
      this.barChartData.datasets[0].backgroundColor = 'rgba(52,200,89, 0.15)';

      return {
        icon: 'mdi-menu-up',
        class: 'dashboard-indicator-main-info__progress--green',
        percentage: difference,
        color: '#069f6e'
      };
    },
    lastUpdate(logs) {
      if (logs.length === 0) {
        return 'No updates';
      }

      const lastLog = logs[logs.length - 1];

      return `Updated ${moment(new Date()).to(lastLog.date)}`;
    },
    async deleteIndicator() {
      try {
        if (this.isCompany) {
          await this.$axios.delete(
            `/indicators/${this.companyId}/${this.indicator.id}`
          );
        } else {
          await this.$axios.delete(`/kpi/${this.indicator.id}`);
        }

        if (this.$auth.user.role === 'superAdmin') {
          this.$nuxt.$emit('update-dashboard-super-admin');
        } else {
          this.$nuxt.$emit('update-dashboard');
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };
        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
