<template>
  <div
    class="initiatives-items"
    :class="{ 'border-none': initiatives.length === 0 }"
  >
    <div
      v-for="initiative in initiatives"
      :key="initiative.id"
      class="d-flex card-status-bar objective-initiative-item cursor-pointer"
      @click="$emit('open-initiative', initiative)"
    >
      <div class="d-flex align-center">
        <span
          class="initiative-update__status-icon"
          :class="currentStatusClass(initiative).class"
        >
          <img
            :src="
              require(`~/assets/images/${currentStatusClass(initiative).image}`)
            "
            alt="img"
          />
        </span>
        <div class="d-flex flex-column">
          <h3
            class="card-status-bar__desc d-flex mb-0 p-text"
            :class="{
              'del-text': currentStatusClass(initiative).status === 'Completed'
            }"
          >
            {{ initiative.name }}
          </h3>
          <div
            class="d-flex card-status-bar__info"
            :class="currentStatusClass(initiative).descriptionClass"
          >
            <span>{{ currentStatusClass(initiative).status }}</span>
            <p class="mb-0">{{ initiative.end_date | remaining }}</p>
          </div>
        </div>
      </div>

      <div class="card-status-bar__info-block d-flex justify-end">
        <p class="card-status-bar__days-left mr-7">
          {{ lastUpdateDate(initiative.actions) }}
        </p>
        <v-avatar size="32">
          <v-img
            :src="initiativeOwnerAvatar(initiative) || defaultUserIco"
            alt="avatar"
          ></v-img>
        </v-avatar>
        <v-icon class="ml-3" color="#c7c7cc">chevron_right</v-icon>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import defaultUserIco from '@/assets/images/defaultUserIco.png';

export default {
  name: 'Initiatives',
  filters: {
    remaining(date) {
      const difference = moment(date).diff(new Date());
      if (difference > 0) {
        return `${moment(new Date()).to(date, true)} remaining`;
      }
      return `${moment(new Date()).from(date, true)} ago`;
    }
  },
  props: {
    index: {
      type: Number,
      default: null
    },
    initiatives: {
      type: Array,
      default: () => []
    },
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    },
    companyUsers: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    panel: [0],
    statusTask: '',
    defaultUserIco
  }),
  methods: {
    lastUpdateDate(actions) {
      if (actions.length === 0) {
        return 'No  updates';
      }
      const lastAction = actions[actions.length - 1];

      return `${moment(new Date()).to(lastAction.create_date)}`;
    },
    currentStatusClass(initiative) {
      if (initiative.actions.length === 0) {
        return {
          status: 'Not started',
          class: 'update-status update-status--not-started',
          image: 'notStarted.svg',
          descriptionClass: 'card-status-bar__info--not-started'
        };
      }
      switch (initiative.actions[0].status) {
        case 'On Track':
          return {
            status: 'On Track',
            class: 'update-status update-status--on-track',
            image: 'onTrack.svg',
            descriptionClass: 'card-status-bar__info--on-track'
          };
        case 'At Risk':
          return {
            status: 'At Risk',
            class: 'update-status update-status--at-risk',
            image: 'atRisk.svg',
            descriptionClass: 'card-status-bar__info--at-risk'
          };
        case 'Off Track':
          return {
            status: 'Off Track',
            class: 'update-status update-status--off-track',
            image: 'offTrack.svg',
            descriptionClass: 'card-status-bar__info--off-track'
          };
        case 'Completed':
          return {
            status: 'Completed',
            class: 'update-status update-status--completed',
            image: 'completed.svg',
            descriptionClass: 'card-status-bar__info--completed'
          };
        case 'Not started':
          return {
            status: 'Not started',
            class: 'update-status update-status--not-started',
            image: 'notStarted.svg',
            descriptionClass: 'card-status-bar__info--not-started'
          };
        case 'Ahead of schedule':
          return {
            status: 'Ahead of schedule',
            class: 'update-status update-status--completed',
            image: 'aheadOfSchedule.svg',
            descriptionClass: 'card-status-bar__info--ahead-of-schedule'
          };
        default:
          return {
            status: 'Completed',
            class: 'update-status update-status--completed',
            image: 'completed.svg',
            descriptionClass: 'card-status-bar__info--completed'
          };
      }
    },
    timeLeft(initiative) {
      const daysLeft = moment(new Date()).to(initiative.end_date);
      if (daysLeft.includes('ago')) {
        return `${moment(new Date()).to(initiative.end_date)}`;
      } else {
        return `${moment(new Date()).to(initiative.end_date, true)} left`;
      }
    },
    initiativeOwnerAvatar(initiative) {
      const owner = this.companyUsers.find(
        (user) => user.id === initiative.owner_id
      );
      if (owner) return owner.avatarPath;
      return null;
    },
    async redirectToInitiative(initiativeId) {
      await this.$router.push({
        name: 'initiative',
        query: {
          objectiveId: this.objectiveId,
          initiativeId,
          companyId: this.companyId
        }
      });
    }
  }
};
</script>
