<template>
  <div>
    <kpi-edit
      :kpi-id="activeKpiId"
      :kpis="kpis"
      :is-modal-kpi-edit-shown="isModalKpiEditShown"
      :editing-fields="editingFields"
      @toggleModalShown="toggleModalShown"
    />
    <v-row>
      <v-col v-for="kpi in kpis" :key="kpi.id" xs="12" md="6" lg="4">
        <v-card class="kpis-items-card card-info">
          <div class="d-flex justify-end">
            <v-menu
              min-width="180px"
              nudge-bottom="10"
              nudge-left="146"
              offset-y
              class="card-action"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-icon v-bind="attrs" class="mr-4 mt-1" v-on="on"
                  >more_horiz
                </v-icon>
              </template>
              <v-list class="general-list" dense rounded>
                <v-list-item-group>
                  <v-list-item
                    class="hover-v-list-item"
                    @click="editKpi(kpi.id)"
                  >
                    <img
                      class="mr-2"
                      src="~/assets/images/edit.svg"
                      alt="edit"
                    />
                    <v-list-item-title>Edit-KPI</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="deleteKpi(kpi.id)">
                    <img
                      class="mr-2"
                      src="~/assets/images/edit.svg"
                      alt="edit"
                    />
                    <v-list-item-title>Delete-KPI</v-list-item-title>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-menu>
          </div>
          <v-card-text class="kpis-items-card__content">
            <p class="kpis-items-card__status">
              <span>{{ kpi.name }}: </span><span>{{ kpi.goal }}</span>
            </p>
            <p class="kpis-items-card__value">{{ kpi.current_value }}</p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col xs="12" md="6" lg="4">
        <NewCard :objective-id="item.id" :kpis="kpis" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

import KpiEdit from '~/components/modal/KpiEdit';
import NewCard from '~/components/dashboard/NewCard';

export default {
  name: 'KpiCard',
  components: {
    KpiEdit,
    NewCard
  },
  props: {
    kpis: {
      type: Array,
      default: () => []
    },
    index: {
      type: Number,
      default: null
    },
    item: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    isModalKpiEditShown: false,
    tracking: '',
    goal: '',
    value: '',
    activeKpiId: null
  }),
  computed: {
    ...mapState({ company: (state) => state.company.company }),
    editingFields() {
      return this.kpis.find((item) => item.id === this.activeKpiId);
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    ...mapActions({
      getCompany: 'company/getCompany',
      getCompanies: 'companies/getCompanies'
    }),
    toggleModalShown(isShow) {
      this.isModalKpiEditShown = isShow;
    },
    async deleteKpi(kpiId) {
      try {
        await this.$axios.delete(`kpi/${kpiId}`);

        const msg = {
          status: 200,
          info: `Your indicator was deleted`,
          error: 'Success'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);

        this.$auth.user.role !== 'superAdmin'
          ? await this.getCompany()
          : await this.getCompanies();
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    editKpi(kpiId) {
      this.isModalKpiEditShown = true;
      this.activeKpiId = kpiId;
    }
  }
};
</script>

<style scoped></style>
