<template>
  <div class="my-4">
    <KpiEdit
      :is-modal-kpi-edit-shown="isModalKpiEditShown"
      @toggleModalShown="toggleModalShown"
    />
    <v-expansion-panels
      v-model="panel"
      multiple
      accordion
      flat
      class="custom-expansion"
    >
      <v-expansion-panel>
        <v-expansion-panel-header
          class="ml-7 custom-expansion__header small-text color__blue-grey"
        >
          KPIs
          <template v-slot:actions>
            <v-icon size="30" color="#c7c7cc">$expand</v-icon>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col xs="12" md="6" lg="4">
              <v-card class="kpis-items-card card-info">
                <div class="d-flex justify-end">
                  <v-menu
                    min-width="180px"
                    nudge-bottom="10"
                    nudge-left="146"
                    offset-y
                    class="card-action"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon v-bind="attrs" class="mr-4 mt-1" v-on="on"
                        >more_horiz
                      </v-icon>
                    </template>
                    <v-list class="general-list" dense rounded>
                      <v-list-item-group>
                        <v-list-item
                          v-for="(item, index) in items"
                          :key="index"
                          class="hover-v-list-item"
                          @click="shownSelectModal(index)"
                        >
                          <img
                            class="mr-2"
                            src="~/assets/images/edit.svg"
                            alt="edit"
                          />
                          <v-list-item-title
                            >{{ item.title }}
                          </v-list-item-title>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list>
                  </v-menu>
                </div>

                <v-card-text class="kpis-items-card__content">
                  <p class="kpis-items-card__status">ARR target: $2.0MM</p>
                  <p class="kpis-items-card__value">$1.3MM</p>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col xs="12" md="6" lg="4">
              <v-card class="kpis-items-card card-info">
                <div class="d-flex justify-end">
                  <v-menu
                    min-width="180px"
                    nudge-bottom="10"
                    nudge-left="146"
                    offset-y
                    class="card-action"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        color="#8e8e93"
                        dark
                        v-bind="attrs"
                        class="mr-4 mt-1"
                        v-on="on"
                      >
                        more_horiz
                      </v-icon>
                    </template>
                    <v-list class="general-list" dense rounded>
                      <v-list-item-group>
                        <v-list-item
                          v-for="(item, index) in items"
                          :key="index"
                          class="hover-v-list-item"
                          @click="shownSelectModal(index)"
                        >
                          <img
                            class="mr-2"
                            src="~/assets/images/edit.svg"
                            alt="edit"
                          />
                          <v-list-item-title
                            >{{ item.title }}
                          </v-list-item-title>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list>
                  </v-menu>
                </div>
                <v-card-text class="kpis-items-card__content">
                  <p class="kpis-items-card__status">Churn target: 96%</p>
                  <p class="kpis-items-card__value">96.4%</p>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col xs="12" md="6" lg="4">
              <NewCard />
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
import NewCard from '~/components/dashboard/NewCard';
import KpiEdit from '~/components/modal/KpiEdit';

export default {
  name: 'KpisItems',
  components: {
    NewCard,
    KpiEdit
  },

  data: () => ({
    text: '',
    panel: [0],
    items: [
      { title: 'Edit-KPI', icon: '' },
      { title: 'Delete-KPI', icon: '' }
    ],
    isModalKpiEditShown: false,
    deleteKpi: false,
    kpis: []
  }),
  methods: {
    shownSelectModal(index) {
      if (index === 0) {
        this.isModalKpiEditShown = true;
      } else {
        this.deleteKpi = true;
      }
    },
    toggleModalShown(isShow) {
      this.isModalKpiEditShown = isShow;
    }
  }
};
</script>

<style scoped></style>
