<template>
  <v-menu offset-y nudge-bottom="10" nudge-left="146">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        width="86px"
        height="30px"
        depressed
        v-bind="attrs"
        class="btn btn--ls-sm btn--bordered v-btn--contained dashboard-more-btn bg-color__pale-grey"
        small
        color="#fff"
        v-on="on"
        >More
        <v-icon color="#d1d1d6" size="14" class="ml-2">unfold_more</v-icon>
      </v-btn>
    </template>
    <v-list class="pa-0 list">
      <v-list-item-group>
        <v-list-item @click="deleteObjective">
          <v-list-item-icon class="list__icon">
            <v-icon color="#d1d1d6">delete_outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content class="list__content--delete">
            <v-list-item-title>Delete Objective</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'MoreBtn',
  methods: {
    deleteObjective() {
      this.$emit('delete-objective');
    }
  }
};
</script>

<style scoped></style>
