<template>
  <div>
    <KpiAdd v-model="visibility" :objective-id="objectiveId" />
    <v-card
      v-if="$auth.user.role !== 'contributor'"
      max-width="305px"
      active-class="new-card"
      class="kpis-items-card new-card"
      @click="visibility = !visibility"
    >
      <v-btn
        class="mr-2 new-card__mdi-plus"
        fab
        dark
        color="#d3d4d9"
        depressed
        max-width="32"
        max-height="32"
      >
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
      <p class="p-text color__blue-grey new-card__title ">Add KPI</p>
      <p class="small-text color__blue-grey new-card__desc ml-10">
        KPIs help you track progress towards measurable outcomes for objectives
      </p>
    </v-card>
  </div>
</template>

<script>
import KpiAdd from '~/components/modal/KpiAdd';
export default {
  name: 'NewCard',
  components: {
    KpiAdd
  },
  props: {
    objectiveId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    visibility: false
  }),
  computed: {
    addKpi: {
      get() {
        return this.kpi;
      },
      set(val) {
        this.$emit('field-kpi', val);
      }
    }
  }
};
</script>

<style scoped></style>
