<template>
  <div>
    <div v-if="titleInitiative" class="d-flex">
      <v-text-field
        ref="initiativeName"
        v-model="initiative"
        color="#5856d6"
        placeholder="Type your initiative here"
        single-line
        @keydown.enter="createInitiative"
      />
      <span @click="createInitiative">
        <v-icon class="ml-5 mt-4">
          check
        </v-icon>
      </span>
    </div>
    <v-card class="new-card" @click="showAddingInitiative">
      <v-btn
        class="mr-5 new-card__btn"
        fab
        dark
        color="#9696aa"
        depressed
        max-width="24"
        max-height="24"
      >
        <v-icon small dark>mdi-plus</v-icon>
      </v-btn>
      <p class="p-text color__dark-grey new-card__title">
        Add an initiative
      </p>
      <p class="small-text color__dark-grey new-card__desc ml-10">
        Initiatives are things you need to do to reach your objective
      </p>
    </v-card>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  name: 'NewInitiative',
  props: {
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    titleInitiative: false,
    initiative: ''
  }),
  computed: {
    ...mapState({
      company: (state) => state.company.company,
      companies: (state) => state.companies.companies
    })
  },
  methods: {
    ...mapActions({
      getCompany: 'company/getCompany',
      getCompanies: 'companies/getCompanies'
    }),
    showAddingInitiative() {
      this.titleInitiative = !this.titleInitiative;
      if (this.titleInitiative) {
        this.$nextTick(() => {
          this.$refs.initiativeName.focus();
        });
      }
    },
    async createInitiative() {
      try {
        if (this.$auth.user.role === 'admin') {
          const { status } = await this.$axios.post(
            `/initiatives/${+this.objectiveId}/${this.company.id}`,
            {
              name: this.initiative,
              end_date: '2020-09-10'
            }
          );

          const msg = {
            status,
            info: 'Your initiative was created',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);

          this.initiative = '';

          await this.getCompany();
        }
        if (this.$auth.user.role === 'superAdmin') {
          // const objectiveIdCompanies = company.objectives.find(item=>item.id === this.objectiveId)
          const { status } = await this.$axios.post(
            `/initiatives/${+this.objectiveId}/${this.companyId}`,
            {
              name: this.initiative,
              end_date: '2020-09-10'
            }
          );

          const msg = {
            status,
            info: 'Your initiative was created',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);

          this.initiative = '';

          await this.getCompanies();
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    })
  }
};
</script>

<style scoped></style>
