<template>
  <v-col cols="12" sm="6" md="6" lg="4" xl="3">
    <div
      class="dashboard-objective"
      :class="getObjectiveStatus(objective.status).class"
    >
      <div class="dashboard-objective-header">
        <div class="dashboard-card-container">
          <div class="dashboard-objective-header__index">
            <img
              :src="
                require(`~/assets/images/${
                  getObjectiveStatus(objective.status).image
                }`)
              "
              alt="img"
            />
          </div>
          <div class="dashboard-objective-header__status">
            {{ objective.status }}
          </div>
          <v-icon
            class="dashboard-objective-header__btn cursor-pointer"
            color="#d1d1d6"
            @click="redirectToObjective"
            >arrow_forward</v-icon
          >
        </div>
      </div>
      <div class="dashboard-objective-body">
        <div class="dashboard-card-container">
          <div
            class="dashboard-objective-body__title"
            :class="{
              'dashboard-objective-body__title--grey': !objective.title
            }"
          >
            {{ objective.title || 'No title yet' }}
          </div>
          <div class="dashboard-objective-body-info">
            <div class="dashboard-objective-body-info__updates">
              <div
                v-for="kpi in objective.kpi.slice(0, 3)"
                :key="kpi.id"
                class="dashboard-objective-body-info__update"
              >
                <div
                  class="dashboard-objective-body-info__update-status"
                  :class="checkKpiProgress(kpi.kpiLogs).class"
                >
                  <v-icon
                    x-small
                    :color="checkKpiProgress(kpi.kpiLogs).color"
                    >{{ checkKpiProgress(kpi.kpiLogs).icon }}</v-icon
                  >
                </div>
                {{ kpi.name }}
              </div>
              <span
                v-if="objective.kpi.length === 0"
                class="dashboard-objective__no-kpis"
                >No kpis yet</span
              >
            </div>
            <div class="dashboard-objective-body__progress-bar">
              <DoughnutChart
                v-if="objective.initiatives.length !== 0"
                :chart-data="barChartData"
                :options="barChartOptions"
                :height="80"
                :width="80"
              />
              <span v-else class="dashboard-objective__no-initiatives"
                >No initiatives yet</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-objective-footer">
        <div class="dashboard-card-container">
          <TeamSelect
            :objective="objective"
            :objective-users="objective.users"
            :users="companyUsers"
            :loading="loading"
          />
          <div class="dashboard-objective-footer__date-left">
            {{ lastUpdate(objective.objLogs) }}
          </div>
        </div>
      </div>
    </div>
  </v-col>
</template>

<script>
import moment from 'moment';
import TeamSelect from '~/components/dashboard/TeamSelect';
import DoughnutChart from '~/components/general/DoughnutChart';
import checkStatus from '@/mixins/checkStatus';

export default {
  name: 'Objective',
  components: {
    TeamSelect,
    DoughnutChart
  },
  mixins: [checkStatus],
  props: {
    companyUsers: {
      type: Array,
      default: () => []
    },
    objective: {
      type: Object,
      default: () => {}
    },
    companyId: {
      type: Number,
      default: null
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      barChartData: {
        labels: [],
        datasets: [
          {
            label: 'Status',
            backgroundColor: [
              '#0d9cf2', // blue color
              '#ca9610', // orange color
              '#ff7976', // red color
              '#56a989', // green color
              '#5b55da', // purple color
              '#56a989' // green color
            ],
            borderWidth: 0,
            data: [],
            pointHitRadius: 2,
            weight: 2
          }
        ]
      },
      barChartOptions: {
        responsive: true,
        cutoutPercentage: 70,
        legend: {
          display: false
        },
        title: {
          display: false
        },
        tooltips: {
          // Disable the on-canvas tooltip
          enabled: false,

          custom(tooltipModel) {
            // Tooltip Element
            let tooltipEl = document.getElementById('chartjs-tooltip');

            // Create element on first render
            if (!tooltipEl) {
              tooltipEl = document.createElement('div');
              tooltipEl.id = 'chartjs-tooltip';
              tooltipEl.innerHTML = '<table></table>';
              document.body.appendChild(tooltipEl);
            }

            // Hide if no tooltip
            if (tooltipModel.opacity === 0) {
              tooltipEl.style.opacity = 0;
              return;
            }

            // Set caret Position
            tooltipEl.classList.remove('above', 'below', 'no-transform');
            if (tooltipModel.yAlign) {
              tooltipEl.classList.add(tooltipModel.yAlign);
            } else {
              tooltipEl.classList.add('no-transform');
            }

            function getBody(bodyItem) {
              return bodyItem.lines;
            }

            // Set Text
            if (tooltipModel.body) {
              const titleLines = tooltipModel.title || [];
              const bodyLines = tooltipModel.body.map(getBody);

              let innerHtml = '<thead>';

              titleLines.forEach(function(title) {
                innerHtml += '<tr><th>' + title + '</th></tr>';
              });
              innerHtml += '</thead><tbody>';

              bodyLines.forEach(function(body) {
                const style = 'background: #5856d6; color: #fff';
                const span = '<span style="' + style + '"></span>';
                innerHtml += '<tr><td>' + span + body + '</td></tr>';
              });
              innerHtml += '</tbody>';

              const tableRoot = tooltipEl.querySelector('table');
              tableRoot.innerHTML = innerHtml;
            }

            // `this` will be the overall tooltip
            const position = this._chart.canvas.getBoundingClientRect();

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 1;
            tooltipEl.style.position = 'absolute';
            tooltipEl.style.left =
              position.left + window.pageXOffset + tooltipModel.caretX + 'px';
            tooltipEl.style.top =
              position.top + window.pageYOffset + tooltipModel.caretY + 'px';
            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
            tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
            tooltipEl.style.padding =
              tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
            tooltipEl.style.pointerEvents = 'none';
            tooltipEl.style.backgroundColor = '#5856d6';
            tooltipEl.style.color = '#fff';
            tooltipEl.style.borderRadius = '5px';
          }
        },
        scales: {
          xAxes: [
            {
              display: false,
              gridLines: {
                display: false
              }
            }
          ],
          yAxes: [
            {
              display: false,
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: false
              }
            }
          ]
        }
      }
    };
  },
  mounted() {
    this.barChartData.labels = Object.keys(this.objective.donut);
    this.barChartData.datasets[0].data = Object.values(this.objective.donut);
  },
  methods: {
    checkKpiProgress(kpiLogs) {
      if (kpiLogs.length < 2) {
        return {
          class: 'dashboard-objective-body-info__update-status--up',
          icon: 'mdi-menu-up',
          color: '#18895d'
        };
      }
      const lastLogValue = kpiLogs[kpiLogs.length - 1].current_value;
      const penultimateLogValue = kpiLogs[kpiLogs.length - 2].current_value;

      const difference =
        (lastLogValue - penultimateLogValue) / penultimateLogValue;

      if (difference >= 0) {
        return {
          class: 'dashboard-objective-body-info__update-status--up',
          icon: 'mdi-menu-up',
          color: '#18895d'
        };
      }

      return {
        class: 'dashboard-objective-body-info__update-status--down',
        icon: 'mdi-menu-down',
        color: '#ff5f5c'
      };
    },
    lastUpdate(logs) {
      if (logs.length === 0) {
        return 'No updates';
      }
      const lastLog = logs[logs.length - 1];

      return `Updated ${moment(new Date()).to(lastLog.date)}`;
    },
    async redirectToObjective() {
      await this.$router.push({
        name: 'objective',
        query: {
          objectiveId: this.objective.id,
          companyId: this.companyId
        }
      });
    }
  }
};
</script>
