<template>
  <div>
    <div class="card-objectives mx-auto card-wrap">
      <EditTitle v-if="index === 0" :company-id="companyId" />
      <div class="dashboard-id-wrap mb-4">
        <v-row>
          <EditObjectiveName
            :item="item"
            :objective-id="item.id"
            :index="index"
          />
          <v-col sm="2" class="d-flex align-center justify-end">
            <TeamSelect :company-id="companyId" :objective-id="item.id" />
          </v-col>
        </v-row>
      </div>
      <div class="card-objectives-content ml-sm-0 ml-md-16">
        <div class="d-flex align-center flex-wrap">
          <QuarterDate
            :company-id="companyId"
            :objective-id="item.id"
            :index="index"
          />
          <MoreBtn
            v-if="$auth.user.role !== 'contributor'"
            @delete-objective="deleteObjective"
          />
        </div>
        <v-expansion-panels
          v-model="panelKpi"
          multiple
          accordion
          flat
          class="custom-expansion"
        >
          <v-expansion-panel>
            <v-expansion-panel-header
              class="ml-7 custom-expansion__header small-text color__blue-grey"
            >
              KPIs
              <template v-slot:actions>
                <v-icon size="30" color="#c7c7cc">$expand </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div>
                <kpiCards :item="item" :index="index" :kpis="item.kpi" />
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-expansion-panels
          v-model="panelInitiatives"
          multiple
          flat
          class="custom-expansion"
        >
          <v-expansion-panel>
            <v-expansion-panel-header
              class="ml-7 custom-expansion__header small-text color__blue-grey"
            >
              Initiatives
              <template v-slot:actions>
                <v-icon size="30" color="#c7c7cc">$expand</v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <Initiatives
                :company-id="companyId"
                :initiatives="item.initiatives"
                :objective-id="item.id"
                :users="item.users"
                :index="index"
              />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';

import EditTitle from '~/components/dashboard/EditTitle';
import EditObjectiveName from '~/components/dashboard/EditObjectiveName';
import kpiCards from '~/components/dashboard/kpiCards';
import QuarterDate from '~/components/general/QuarterDate';
import MoreBtn from '~/components/dashboard/MoreBtn';
import TeamSelect from '~/components/dashboard/TeamSelect';
import Initiatives from '~/components/dashboard/Initiatives';

export default {
  name: 'Objective',
  components: {
    EditTitle,
    EditObjectiveName,
    QuarterDate,
    MoreBtn,
    TeamSelect,
    kpiCards,
    Initiatives
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    index: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    panelKpi: [0],
    panelInitiatives: [0]
  }),
  computed: {
    ...mapState({
      company: (state) => state.company.company,
      companies: (state) => state.companies.companies
    })
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    ...mapActions({
      getCompany: 'company/getCompany',
      getCompanies: 'companies/getCompanies'
    }),
    async deleteObjective() {
      try {
        if (this.$auth.user.role === 'superAdmin') {
          const { status } = await this.$axios.delete(
            `/objectives/${this.item.id}`
          );
          const msg = {
            status,
            info: 'Your objective was deleted',
            error: 'Success'
          };
          this.ADD_SNACKBAR_MESSAGE(msg);
        }
        if (this.$auth.user.role !== 'superAdmin') {
          const { status } = await this.$axios.delete(
            `/objectives/${this.item.id}`
          );
          const msg = {
            status,
            info: 'Your objective was deleted',
            error: 'Success'
          };
          this.ADD_SNACKBAR_MESSAGE(msg);
        }

        this.$auth.user.role !== 'superAdmin'
          ? await this.getCompany()
          : await this.getCompanies();
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };
        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>

<style scoped></style>
