<template>
  <div>
    <v-skeleton-loader v-if="loading" height="50" width="60" type="avatar" />
    <v-menu
      v-else
      :close-on-content-click="false"
      min-width="240px"
      offset-y
      offset-x
      offset-overflow
      bottom
      right
      nudge-right="-15px"
      class="card-action"
    >
      <template v-slot:activator="{ on, attrs }">
        <div class="d-flex align-center">
          <div class="team-select mt-1 ml-auto" v-bind="attrs" v-on="on">
            <div
              v-for="(user, index) in objectiveUsers.slice(0, 4)"
              :key="index"
              class="team-select__avatar"
            >
              <img
                width="34"
                height="34"
                :src="user.avatarPath || defaultUserIco"
              />
            </div>
          </div>
          <v-icon color="#d1d1d6" small class="ml-1" v-bind="attrs" v-on="on"
            >unfold_more</v-icon
          >
        </div>
      </template>
      <v-list class="general-list" flat rounded>
        <v-list-item-group>
          <v-list-item
            v-for="item in users"
            :key="item.id"
            rounded
            dense
            class="hover-v-list-item"
            @click="switchCheck(item)"
          >
            <v-avatar width="34" height="34">
              <img
                class="mr-2"
                :src="item.avatarPath || defaultUserIco"
                alt="user"
              />
            </v-avatar>
            <v-list-item-title class="mr-6">{{ item.name }}</v-list-item-title>
            <v-icon v-if="checkUser(item)"> check </v-icon>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import defaultUserIco from '~/assets/images/defaultUserIco.png';

export default {
  name: 'TeamSelect',
  props: {
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    },
    users: {
      type: Array,
      default: () => []
    },
    objectiveUsers: {
      type: Array,
      default: () => []
    },
    objective: {
      type: Object,
      default: () => {}
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    defaultUserIco
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async switchCheck(user) {
      try {
        if (this.objectiveUsers.find((item) => item.id === user.id)) {
          const data = { userId: user.id };
          await this.$axios.delete(
            `/objectives/delete/user/${this.objective.id}`,
            {
              data
            }
          );
          this.$nuxt.$emit('update-dashboard');
        } else {
          await this.$axios.post(`/objectives/add/user/${this.objective.id}`, {
            userId: user.id
          });
          this.$nuxt.$emit('update-dashboard');
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    checkUser(user) {
      return this.objectiveUsers.find((item) => item.id === user.id);
    }
  }
};
</script>

<style scoped></style>
