<template>
  <div class="companies">
    <v-card>
      <v-card-title>
        Companies List
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="companies"
        :loading="loading"
        :search="search"
        sort-by="id"
      >
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'Companies',
  props: {
    companies: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Id',
          align: 'start',
          value: 'id'
        },
        { text: 'Name', value: 'name' },
        { text: 'Admin', value: `admin` },
        { text: 'Actions', value: 'actions', sortable: false }
      ]
    };
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    editItem(item) {
      this.$router.push({ path: `/admin-super/edit/${item.id}` });
    },
    async deleteItem(item) {
      try {
        const { status } = await this.$axios.delete(`/companies/${item.id}`);

        const msg = {
          status,
          info: `${item.name} was deleted`,
          error: 'Success'
        };

        this.$nuxt.$emit('update-companies');
        this.ADD_SNACKBAR_MESSAGE(msg);
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
