<template>
  <div>
    <nuxt-link
      class="text-decoration-none"
      :to="{
        name: 'admin-super-edit-id',
        params: {
          id: companyId,
          redirect: true
        }
      }"
    >
      <v-row class="company-item ma-0 align-center">
        <div class="company-item__info">
          <b>
            Company:
          </b>
          <img
            :src="avatar || defaultUserIco"
            alt="avatar"
            class="company-item__avatar ma-3"
          />
          <span class="company-item__name">
            {{ name }}
          </span>
        </div>
        <div v-if="admin" class="company-item__admin ma-0">
          <b>Admin:</b>
          <img
            :src="admin.avatarPath || defaultUserIco"
            alt="Admin avatar"
            class="company-item__admin-avatar ma-3"
          />
          <span class="company-item__admin-name">{{ admin.name }}</span>
        </div>
        <span class="company-item__creation-date">
          <b>Date of creation: </b>{{ creationDate }}
        </span>
        <v-spacer></v-spacer>
        <v-btn
          :loading="isLoading"
          class="btn v-btn v-btn--contained btn--blue-white-text  btn--bordered btn--main-shadow modal__btn"
          @click.prevent="deleteCompanyId(companyId)"
          >Delete</v-btn
        >
      </v-row>
    </nuxt-link>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import defaultUserIco from '@/assets/images/defaultUserIco.png'

export default {
  name: 'CompanyItem',
  props: {
    companyId: {
      type: Number,
      default: null
    },
    id: {
      type: Number,
      default: 0
    },
    avatar: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    admin: {
      type: Object,
      default: () => {}
    },
    creationDate: {
      type: String,
      default: ''
    },
    companies: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    defaultUserIco,
    selectedCompany: {},
    isLoading: false
  }),

  methods: {
    ...mapActions({
      getCompanies: 'companies/getCompanies'
    }),
    async deleteCompanyId(companyId) {
      try {
        this.isLoading = true
        await this.$axios.delete(`/companies/${companyId}`)
        await this.getCompanies()
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        }
        this.ADD_SNACKBAR_MESSAGE(msg)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
