.invite-teammate {
  border-radius: $main-border-radius-sm;
  border: 1px dashed $dashed-border-color;
  background: $pale-grey;
  &__title {
    color: $blue-grey;
    font-size: 17px;
    font-weight: 500;
  }
  &__description {
    font-size: 14px;
    font-weight: normal;
    color: $blue-grey;
  }
}
