.reminders {
  border: $main-border;
  box-shadow: $main-shadow;
  background: $white;
  & h4 {
    color: $charcoal-grey;
    letter-spacing: -0.47px;
    font-size: 20px;
    font-weight: normal;
  }
}
.reminders-item {
  &__title {
    font-weight: 500;
    font-size: 16px;
  }
  &__description {
    color: $blue-grey;
    font-size: 14px;
  }
  & .v-input--selection-controls__input {
    margin-top: -20px;
  }
}
.reminders-item-text-wrapper {
  display: flex;
  flex-direction: column;
}
