.users {
  & h4 {
    color: $charcoal-grey;
    letter-spacing: -0.47px;
    font-size: 20px;
    font-weight: normal;
  }
}
.standart-btn {
  color: white;
}
.users-item-wrapper {
  overflow-x: hidden;
  border: $main-border;
  border-bottom: none;
  box-shadow: $main-shadow;
}
.users-item {
  background: $white;
  border-bottom: $main-border;
  &__avatar {
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }
  &__divider.theme--light.v-divider {
    border-color: $very-light-blue;
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
  }
  &__mail {
    font-size: 14px;
    font-weight: normal;
    color: $blue-grey;
  }
  &__invited-date{
    font-size: 12px;
    color: $grey-text
  }
  &__main-info {
    display: flex;
    align-items: center;
  }
  &__skill-item.v-chip.v-size--default {
    border-radius: 12px;
    .v-chip__content {
      color: $azure;
      font-weight: 500;
    }
  }
  &__btn .v-btn__content {
    color: $blue-grey;
    text-transform: none;
    font-weight: normal;
  }
  &__position-info-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 55px;
    @include breakpoint-min(sm) {
      justify-content: center;
      width: auto;
    }
  }
  &__position-info {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: flex-start;

    & span {
      color: $charcoal-grey;
    }

    @include breakpoint-min(sm) {
      justify-content: flex-end;
    }
  }
  &__delete-btn-wrapper {
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.users-item-name-wrapper {
  display: flex;
  flex-direction: column;
}
