<template>
  <div class="v-container auth">
    <CompanyForm />
  </div>
</template>

<script>
import CompanyForm from '~/components/auth/CompanyForm';

export default {
  layout: 'auth',
  components: {
    CompanyForm
  },
  beforeRouteEnter(to, from, next) {
    const { accessToken, refreshToken } = to.query;
    // eslint-disable-next-line no-console
    console.debug(accessToken, refreshToken);
    if (process.client && accessToken) {
      next((vm) => {
        vm.$router.replace({ query: null });
        try {
          vm.$auth.setUserToken(accessToken, refreshToken);
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e.message);
        }
      });
    } else {
      next();
    }
  }
};
</script>
