<template>
  <div class="v-container fill-height d-flex">
    <SignUpLogin />
  </div>
</template>

<script>
import SignUpLogin from '~/components/auth/SignUpLogin';

export default {
  components: { SignUpLogin },
  layout: 'auth',
  middleware: 'redirectToCompany'
};
</script>
