<template>
  <div class="v-container auth">
    <Goal />
  </div>
</template>

<script>
import Goal from '~/components/auth/Goal';

export default {
  layout: 'auth',
  components: {
    Goal
  }
};
</script>
