<template>
  <div class="objective-header dashboard-header">
    <v-skeleton-loader v-if="loading" width="200" type="list-item" />
    <div v-else class="custom-container justify-start">
      <p
        class="objective-header__welcome-user dashboard-header__welcome-user pr-2"
      >
        {{ companyName }}
      </p>
      <v-icon color="#dfe1e4">mdi-chevron-right</v-icon>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import defaultUserIco from '~/assets/images/defaultUserIco.png';

export default {
  name: 'Header',
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    companyName: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    showMenu: false,
    defaultUserIco,
    showEdit: false,
    showCheckIcon: false,
    rules: {
      min: (v) => v.length >= 1 || 'Min 1 characters'
    },
    tempCompanyName: '',
    isDashboard: false
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    toggleMenu() {
      this.showMenu = !this.showMenu;
      this.$emit('toggleMenu', this.showMenu);
    },
    logOut() {
      this.$auth.logout();
    },
    toggleIcon() {
      this.showEdit = true;
      this.showCheckIcon = true;
    }
  }
};
</script>
