<template>
  <div class="last-update custom-container">
    <v-row>
      <v-col cols="12" md="8" class="last-update-main">
        <div class="last-update-header">
          <div class="last-update-header__title">Latest Objective Update</div>
          <!--          <div class="last-update-header__btn&#45;&#45;reviewed">-->
          <!--            <v-btn small class="btn btn&#45;&#45;main-shadow btn&#45;&#45;bordered"-->
          <!--              >Mark as reviewed</v-btn-->
          <!--            >-->
          <!--          </div>-->
        </div>
        <v-skeleton-loader
          v-if="loading"
          width="300"
          height="80"
          type="card"
          class="py-2"
        />
        <div v-else class="last-update-info">
          <div
            class="last-update__status"
            :class="checkObjectiveStatus(objectiveStatus).class"
          >
            <img
              :src="
                require(`~/assets/images/${
                  getObjectiveStatus(objectiveStatus).image
                }`)
              "
              alt="img"
            />
            <span class="last-update__status-info">{{ objectiveStatus }}</span>
          </div>
          <div class="d-flex flex-column">
            <p
              class="last-update__description"
              :class="{ 'last-update__description--grey-text': !objectiveNote }"
            >
              {{ objectiveNote || 'No objective note' }}
            </p>
            <div class="last-update-users">
              <div class="last-update__owner">
                <img
                  class="last-update__img"
                  :src="
                    getObjectiveUser(objectiveLogs).avatarPath ||
                      defaultUserIcon
                  "
                  alt="owner"
                />
                <span class="last-update__owner_name">{{
                  getObjectiveUser(objectiveLogs).name
                }}</span>
              </div>
              <!--              <div class="d-flex align-center">-->
              <!--                <v-icon color="#0097f1" class="pr-2"-->
              <!--                  >mdi-check-circle-outline</v-icon-->
              <!--                >-->
              <!--                <span class="last-update__reviews-text">3 Reviews</span>-->
              <!--                <div class="last-update-users-wrapper">-->
              <!--                  <img-->
              <!--                    v-for="item in 3"-->
              <!--                    :key="item.id"-->
              <!--                    src="~/assets/images/defaultUserIco.png"-->
              <!--                    class="last-update__img last-update-reviewd__user-img"-->
              <!--                    alt="img"-->
              <!--                  />-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
        <!--        <div class="last-update-users last-update-users&#45;&#45;mobile">-->
        <!--          <div class="last-update__owner">-->
        <!--            <img-->
        <!--              class="last-update__img"-->
        <!--              src="~/assets/images/defaultUserIco.png"-->
        <!--              alt="owner"-->
        <!--            />-->
        <!--            <span class="last-update__owner_name">User name</span>-->
        <!--          </div>-->
        <!--          <div class="d-flex align-center">-->
        <!--            <v-icon color="#0097f1" class="pr-2"-->
        <!--              >mdi-check-circle-outline</v-icon-->
        <!--            >-->
        <!--            <span class="last-update__reviews-text">3 Reviews</span>-->
        <!--            <div class="last-update-users-wrapper">-->
        <!--              <img-->
        <!--                v-for="item in 3"-->
        <!--                :key="item.id"-->
        <!--                src="~/assets/images/defaultUserIco.png"-->
        <!--                class="last-update__img last-update-reviewd__user-img"-->
        <!--                alt="img"-->
        <!--              />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </v-col>
      <v-col cols="12" md="4" class="last-update-trend">
        <div class="last-update-trend__title">Confidence trend</div>
        <v-skeleton-loader
          v-if="loading"
          width="300"
          height="80"
          type="card"
          class="pt-2"
        />
        <div v-else class="last-update__trend-wrapper">
          <LineChart
            :chart-data="barChartData"
            :options="barChartOptions"
            :height="100"
            :width="100"
          />
          <!--          <LineChartVue-->
          <!--            :data="barChartData"-->
          <!--            :options="barChartOptions"-->
          <!--            :height="27"-->
          <!--            :width="100"-->
          <!--          />-->
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import moment from 'moment';
import LineChart from '~/components/general/LineChart';
import checkStatus from '@/mixins/checkStatus';
import defaultUserIcon from '@/assets/images/defaultUserIco.png';

function checkValue(value) {
  switch (value) {
    case '3':
      return 'On Track';
    case '4':
      return 'Ahead of schedule';
    case '2':
      return 'At Risk';
    case '1':
      return 'Off Track';
    case '5':
      return 'Completed';
    case '0':
      return 'Not started';
    default:
      return null;
  }
}

export default {
  components: {
    LineChart
  },
  mixins: [checkStatus],
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    objectiveStatus: {
      type: String,
      default: ''
    },
    objectiveNote: {
      type: String,
      default: ''
    },
    objectiveLogs: {
      type: Array,
      default: () => []
    },
    objectiveUsers: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      defaultUserIcon,
      barChartData: {
        labels: [],
        datasets: [
          {
            label: 'Status',
            data: [],
            backgroundColor: 'rgba(44,142,253, 0.2)',
            borderColor: '#3c97ff',
            borderWidth: 2,
            pointRadius: 0,
            lineTension: 0,
            pointHitRadius: 3
          }
        ]
      },
      barChartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        title: {
          display: false
        },
        tooltips: {
          // Disable the on-canvas tooltip
          enabled: false,

          custom(tooltipModel) {
            // Tooltip Element
            let tooltipEl = document.getElementById('chartjs-tooltip');

            // Create element on first render
            if (!tooltipEl) {
              tooltipEl = document.createElement('div');
              tooltipEl.id = 'chartjs-tooltip';
              tooltipEl.innerHTML = '<table></table>';
              document.body.appendChild(tooltipEl);
            }

            // Hide if no tooltip
            if (tooltipModel.opacity === 0) {
              tooltipEl.style.opacity = 0;
              return;
            }

            // Set caret Position
            tooltipEl.classList.remove('above', 'below', 'no-transform');
            if (tooltipModel.yAlign) {
              tooltipEl.classList.add(tooltipModel.yAlign);
            } else {
              tooltipEl.classList.add('no-transform');
            }

            function getBody(bodyItem) {
              return checkValue(bodyItem.lines[0].substring(8, 9));
            }

            // Set Text
            if (tooltipModel.body) {
              const titleLines = tooltipModel.title || [];
              const bodyLines = tooltipModel.body.map(getBody);

              let innerHtml = '<thead>';

              titleLines.forEach(function(title) {
                innerHtml += '<tr><th>' + title + '</th></tr>';
              });
              innerHtml += '</thead><tbody>';

              bodyLines.forEach(function(body) {
                const style = 'background: #5856d6; color: #fff';
                const span = '<span style="' + style + '"></span>';
                innerHtml += '<tr><td>' + span + body + '</td></tr>';
              });
              innerHtml += '</tbody>';

              const tableRoot = tooltipEl.querySelector('table');
              tableRoot.innerHTML = innerHtml;
            }

            // `this` will be the overall tooltip
            const position = this._chart.canvas.getBoundingClientRect();

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 1;
            tooltipEl.style.position = 'absolute';
            tooltipEl.style.left =
              position.left +
              window.pageXOffset +
              tooltipModel.caretX -
              tooltipEl.offsetWidth +
              'px';
            tooltipEl.style.top =
              position.top + window.pageYOffset + tooltipModel.caretY + 'px';
            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
            tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
            tooltipEl.style.padding =
              tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
            tooltipEl.style.pointerEvents = 'none';
            tooltipEl.style.backgroundColor = '#5856d6';
            tooltipEl.style.color = '#fff';
            tooltipEl.style.borderRadius = '5px';
          }
        },
        scales: {
          xAxes: [
            {
              display: false,
              gridLines: {
                display: false
              }
            }
          ],
          yAxes: [
            {
              display: false,
              ticks: {
                display: false
              },
              gridLines: {
                display: true
              }
            }
          ]
        }
      }
    };
  },
  watch: {
    objectiveLogs(newValue) {
      this.barChartData.labels = newValue.map((value) =>
        moment(value.date).format('DD MM YYYY')
      );
      this.barChartData.datasets[0].data = newValue.map((value) =>
        this.checkStatusValue(value.status)
      );
    }
  },
  methods: {
    getObjectiveUser(objectiveLogs) {
      if (objectiveLogs.length !== 0) {
        const lastObjLog = objectiveLogs[objectiveLogs.length - 1];

        return this.objectiveUsers.find(
          (item) => item.id === lastObjLog.ownerId
        );
      }
      return {};
    },
    checkStatusValue(status) {
      switch (status) {
        case 'On Track':
          return 3;
        case 'Ahead of schedule':
          return 4;
        case 'At Risk':
          return 2;
        case 'Off Track':
          return 1;
        case 'Completed':
          return 5;
        case 'Not started':
          return 0;
        default:
          return null;
      }
    },
    checkObjectiveStatus(objectiveStatus) {
      switch (objectiveStatus) {
        case 'On Track':
          return {
            image: 'onTrack.svg',
            value: 3,
            class: 'last-update__status--on-track'
          };
        case 'At Risk':
          return {
            image: 'atRisk.svg',
            value: 2,
            class: 'last-update__status--at-risk'
          };
        case 'Off Track':
          return {
            image: 'offTrack.svg',
            value: 1,
            class: 'last-update__status--off-track'
          };
        case 'Completed':
          return {
            image: 'completed.svg',
            value: 5,
            class: 'last-update__status--completed'
          };
        case 'Ahead of schedule':
          return {
            image: 'aheadOfSchedule.svg',
            value: 4,
            class: 'last-update__status--ahead-of-schedule'
          };
        case 'Not started':
          return {
            image: 'notStarted.svg',
            value: 0,
            class: 'last-update__status--not-started'
          };
        default:
          return {};
      }
    }
  }
};
</script>
