<template>
  <div class="company-info objective-info">
    <div class="custom-container">
      <AddUpdate
        v-model="showUpdateModal"
        :is-objective="true"
        :objective-id="objectiveId"
        :objective-status="objective.status"
        :objective-note="objective.note"
      />
      <div class="objective-info-name d-flex align-center">
        <v-skeleton-loader v-if="loading" width="200" type="list-item" />
        <p
          v-else-if="!edit && title"
          class="company-info-goal__title mb-0"
          @click="isEdit(title)"
        >
          {{ title }}
          <v-icon class="cursor-pointer ml-5" small>edit</v-icon>
        </p>
        <div v-else class="d-flex w-100 align-center">
          <v-text-field
            ref="objectiveName"
            v-model="editText"
            hide-details
            :loading="updating"
            color="#5856d6"
            class="objective-title__input custom-text-field"
            :placeholder="placeholder"
            @click="showCheckBtn = true"
            @blur="saveTitle"
            @keydown.enter="$event.target.blur()"
          />
          <v-icon v-if="showCheckBtn" class="ml-5" @click="$event.target.blur()"
            >check</v-icon
          >
        </div>
        <v-tooltip left>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              class="ml-auto"
              v-bind="attrs"
              @click="deleteObjective"
              v-on="on"
            >
              delete_outline
            </v-icon>
          </template>
          <span>delete Objective</span>
        </v-tooltip>
      </div>
      <div class="objective-info-container">
        <div class="objective-info-container-controls">
          <QuarterDate
            :objective="objective"
            :objective-id="objectiveId"
            :loading="loading"
          />
          <v-skeleton-loader
            v-if="loading"
            height="20"
            width="60"
            type="button"
          />
          <v-btn
            v-else
            small
            color="#fff"
            class="btn btn--main-shadow btn--bordered mr-1"
            @click="showUpdateModal = true"
            >Post Update</v-btn
          >
          <!--          <v-btn small color="#fff" class="btn btn&#45;&#45;main-shadow btn&#45;&#45;bordered"-->
          <!--            >Archive</v-btn-->
          <!--          >-->
        </div>
        <TeamSelect
          :objective-users="objective.users"
          :users="companyUsers"
          :loading="loading"
        />
      </div>
      <div class="objective-info__tab">
        Overview
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import TeamSelect from '../dashboard/TeamSelect.vue';
import QuarterDate from '@/components/general/QuarterDate';
import AddUpdate from '@/components/modal/AddUpdate';

export default {
  name: 'CompanyInfo',
  components: { AddUpdate, QuarterDate, TeamSelect },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    objectiveId: {
      type: Number,
      default: null
    },
    objective: {
      type: Object,
      default: () => {}
    },
    companyUsers: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    placeholder: 'Type your title here',
    editText: '',
    edit: false,
    showCheckBtn: false,
    updating: false,
    showUpdateModal: false
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    isEdit(objectiveName) {
      this.editText = objectiveName;
      this.edit = true;
      this.$nextTick(() => {
        this.$refs.objectiveName.focus();
        this.showCheckBtn = true;
      });
    },
    async saveTitle() {
      try {
        if (this.$auth.user.role === 'admin') {
          this.updating = true;
          const response = await this.$axios.patch(
            `/objectives/${this.objectiveId}`,
            {
              title: this.editText
            }
          );

          this.updating = false;
          this.edit = false;
          this.showCheckBtn = false;

          this.$emit('update:title', response.data.title);

          const msg = {
            status: response.status,
            info: 'Your title was changed',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
        }
        if (this.$auth.user.role === 'superAdmin') {
          if (!this.edit) {
            const { status } = await this.$axios.patch(
              `/companies/${this.companyId}`,
              {
                title: this.editText
              }
            );

            const msg = {
              status,
              info: 'Your title was changed',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);

            await this.getCompanies();

            if (!this.editText) {
              this.edit = true;
              this.showCheckBtn = false;
            }
          } else {
            this.$nextTick(() => {
              this.$refs.title.focus();
            });
          }
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    async deleteObjective() {
      try {
        if (this.$auth.user.role === 'superAdmin') {
          const { status } = await this.$axios.delete(
            `/objectives/${this.objectiveId}`
          );
          await this.$router.push('/dashboard');
          const msg = {
            status,
            info: 'Your objective was deleted',
            error: 'Success'
          };
          this.ADD_SNACKBAR_MESSAGE(msg);
        }
        if (this.$auth.user.role !== 'superAdmin') {
          const { status } = await this.$axios.delete(
            `/objectives/${this.objectiveId}`
          );
          await this.$router.push('/dashboard');
          const msg = {
            status,
            info: 'Your objective was deleted',
            error: 'Success'
          };
          this.ADD_SNACKBAR_MESSAGE(msg);
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };
        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
