<template>
  <div>
    <Reminders :reminders-arr="remindersArr" :company="company" />
    <v-row class="w-100 ma-0">
      <v-col class="admin-settings">
        <span>Settings</span>
        <CompanySettings :company="company" />
      </v-col>
    </v-row>
    <Users
      :users-arr="company.users"
      :invited-users="company.invites"
      :company-id="company.id"
    />
    <!--    <InviteTeammate />-->
    <!--    TODO mb user can invite teammate in future-->
  </div>
</template>

<script>
import Reminders from '~/components/admin/Reminders';
import Users from '~/components/admin/Users';
import CompanySettings from '@/components/admin/CompanySettings';

export default {
  name: 'Admin',
  components: {
    CompanySettings,
    Reminders,
    Users
  },
  data: () => ({
    company: {},
    remindersArr: [
      {
        title: 'Send email reminders',
        description: 'Emails will be sent every Friday at 9:00am EST'
      },
      {
        title: 'Send email reminders to update KPIs',
        description:
          'Emails will be sent the third Friday of every month at 9:00am EST'
      }
    ]
  }),
  async created() {
    await this.getCompany();

    this.$nuxt.$on('update-admin', () => this.getCompany());
  },
  methods: {
    async getCompany() {
      const response = await this.$axios.get(`/companies/admin`);

      this.company = response.data;
    }
  },
  layout: 'main',
  middleware: ['redirectToLogin', 'isAdmin']
};
</script>
