<template>
  <div>
    <TaskBoard :items="items" />
    <div class="initiative-update">
      <span class="initiative-update__header">Updates</span>
      <v-btn
        class="btn btn--main-shadow btn--bordered btn--fz-md btn--ls-sm"
        color="#fff"
        small
        @click="visibility = true"
        ><v-icon small color="#5856d6" class="mr-2">add</v-icon>Add
        update</v-btn
      >
      <AddUpdate v-model="visibility" />
    </div>
    <Update
      v-for="item in reversedActions"
      :key="item.id"
      :update="item"
      :owner-id="initiative.owner_id"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Update from '~/components/initiative/Update';
import TaskBoard from '~/components/initiative/TaskBoard';
import AddUpdate from '~/components/modal/AddUpdate';

export default {
  components: { Update, TaskBoard, AddUpdate },
  data: () => ({
    visibility: false
  }),
  computed: {
    ...mapState({
      company: (state) => state.company.company,
      companies: (state) => state.companies.companies
    }),
    initiative() {
      if (this.$auth.user.role !== 'superAdmin') {
        if (this.company.objectives) {
          return this.company.objectives
            .find((item) => item.id === +this.$route.query.objectiveId)
            .initiatives.find(
              (item) => item.id === +this.$route.query.initiativeId
            );
        }
        return {
          actions: []
        };
      } else {
        if (
          this.companies.find(
            (item) => item.id === +this.$route.query.companyId
          )
        ) {
          return this.companies
            .find((item) => item.id === +this.$route.query.companyId)
            .objectives.find(
              (item) => item.id === +this.$route.query.objectiveId
            )
            .initiatives.find(
              (item) => item.id === +this.$route.query.initiativeId
            );
        }
        return {
          actions: []
        };
      }
    },
    reversedActions() {
      return this.initiative.actions.map((item) => item).reverse();
    }
  },
  async created() {
    await this.getCompany();
  },
  methods: {
    ...mapActions({
      getCompany: 'company/getCompany'
    })
  },
  layout: 'main',
  middleware: 'redirectToLogin'
};
</script>
