<template>
  <div>
    <Companies :companies="filteredCompanies" :loading="loading" />
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import Companies from '@/components/admin-super/dashboard/Companies.vue';

export default {
  name: 'SuperAdmin',
  components: {
    Companies
  },
  data() {
    return {
      companies: [],
      loading: true
    };
  },
  computed: {
    filteredCompanies() {
      if (this.companies.length !== 0) {
        return this.companies.reduce((acc, currentValue) => {
          const admin = currentValue.users.find(
            (item) => item.role === 'admin'
          );

          if (admin) {
            return [
              ...acc,
              {
                id: currentValue.id,
                name: currentValue.name,
                admin: admin.name
              }
            ];
          }
          return acc;
        }, []);
      }
      return [];
    }
  },
  async created() {
    await this.getCompanies();

    this.$nuxt.$on('update-companies', () => {
      this.getCompanies();
    });
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async getCompanies() {
      try {
        this.loading = true;

        const response = await this.$axios.get('/companies/get/all');
        this.companies = response.data;
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } finally {
        this.loading = false;
      }
    }
  },
  layout: 'main'
};
</script>
