// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$main-purple: #5856d6;
$dark-grey-text: #9696a9;
$purple: #5751d9;
$blue-border: #daf1ff;
$light-blue: #bae3fc;
$border-light-grey: #eff1f4;
$pale-grey: #fafbfc;
$bg-grey: #fafbfd;
$very-light-blue: #e5e7eb;
$light-blue-grey: #d1d1d6;
$dark-blue: #0097f1;
$blue-grey: #8e8e93;
$dashed-border-color: #d3d4d9;
$azure: #1099ee;
$azure-light: #d5f1ff;
$charcoal-grey: #43434b;
$aqua: #21ccde;
$light-green: #def7ec;
$light-red: #ffe9e9;
$dark-green: #18895d;
$bubbles: #e8fdff;
$vivid-amber: #c78f00;
$light-amber: #fff6ed;
$white: #fff;
$black: #0a082c;
$red: #ff0000;
$light-orange: rgba(255, 121, 0, 0.07);
$light-purple: rgba(87, 81, 217, 0.12);
$blue-border: rgba(0, 204, 224, 0.19);
$orange-border: rgba(255, 164, 0, 0.4);
$red-border: rgba(255, 95, 92, 0.4);
$green-border: rgba(6, 159, 110, 0.22);
$purple-border: rgba(87, 81, 217, 0.25);
$blue-green: #0eaab9;
$weird-green: #4cd964;
$red-text: #ff5f5c;
$reddish-pink: #ff2d55;
$persian-rose: #ff2d95;
$light-blue: #f0faff;
$background: #f5f7fa;
$dark-grey: #646475;
$tangerine: #ff9500;
$dark-yellow: #ffcc00;
$initiative-border: #f6f7f9;

$success-green: #009219;
$nuxt-active: #544883;
$bg-main: #251260;
$grey-text: #9696aa;
$main-shadow: 0 2px 2px 0 rgba(229, 231, 235, 0.33);
$hover-shadow: 0 0 19px 3px rgba(229, 231, 235, 0.9);
$darker-shadow: 0 7px 11px 0 rgba(229, 231, 235, 0.61);
$last-update-shadow: 0 1px 2px 0 rgba(223, 225, 228, 0.46);
$main-border: solid 1px $very-light-blue;
$main-border-radius-md: 12px;
$main-border-radius-sm: 8px;
