<template>
  <v-app class="transparent">
    <header>
      <v-row align="center">
        <v-col cols="2" sm="2">
          <div class="c-logo">
            <img src="@/static/okapiLogo.svg" alt="Okapi" />
            <span class="auth-header__text header__name">Okapi</span>
          </div>
        </v-col>
        <v-col cols="7" sm="7" class="header__company-name" align-sm-end>
          <div class="company-name d-flex align-center">
            <h3 v-show="!showCheckIcon && $auth.user.role !== 'superAdmin'">
              {{ company.name }}
            </h3>
            <h3
              v-show="
                !isDashboard && !showEdit && $auth.user.role === 'superAdmin'
              "
            >
              {{ tempCompanyName }}
            </h3>
            <img
              v-if="
                $auth.user.role === 'superAdmin' &&
                  !showCheckIcon &&
                  tempCompanyName &&
                  !isDashboard
              "
              src="~/assets/images/edit.svg"
              class="edit-icon ml-3 "
              alt="edit"
              @click="toggleIcon"
            />
            <v-text-field
              v-if="
                $auth.user.role === 'superAdmin' && showEdit && !isDashboard
              "
              v-model="tempCompanyName"
              required
              :rules="[rules.min]"
              class="objective-title__input"
              @keyup.enter="editCompanyName"
              @blur="editCompanyName"
            />
            <!--            <h3 v-show="!showCheckIcon">-->
            <!--              {{ company.name }}-->
            <!--            </h3>-->
            <v-text-field
              v-if="$auth.user.role === 'admin' && showEdit"
              v-model="companyName"
              required
              :rules="[rules.min]"
              class="objective-title__input"
              @keyup.enter="editCompanyName"
              @blur="editCompanyName"
            />
            <img
              v-if="
                $route.name === 'profile' &&
                  $auth.user.role === 'admin' &&
                  !showCheckIcon
              "
              src="~/assets/images/edit.svg"
              class="edit-icon ml-3 "
              alt="edit"
              @click="toggleIcon"
            />
            <v-icon v-if="showEdit" class="ml-5" @click="editCompanyName"
              >check</v-icon
            >
          </div>
        </v-col>
        <v-col cols="3" sm="3" class="d-flex pl-0" align="center">
          <v-spacer />
          <v-icon
            class="header-avatar__icon--menu"
            color="#8e8e93"
            @click="toggleMenu"
          >
            mdi-dots-vertical
          </v-icon>
          <v-menu
            min-width="202px"
            offset-y
            offset-x
            bottom
            right
            class="card-action"
          >
            <template v-slot:activator="{ on, attrs }">
              <div class="header-menu" v-bind="attrs" v-on="on">
                <div class="d-flex" v-bind="attrs" v-on="on">
                  <v-avatar
                    width="34"
                    height="34"
                    class="avatar mr-1"
                    align="center"
                  >
                    <img
                      :src="$auth.user.avatarPath || defaultUserIco"
                      alt="John"
                    />
                  </v-avatar>
                  <p class="header-avatar-title mb-0">
                    {{ $auth.user.name }}
                  </p>
                  <v-icon size="30" color="#c7c7cc">$expand</v-icon>
                </div>
              </div>
            </template>
            <v-list class="general-list" dense rounded>
              <v-list-item-group>
                <v-list-item
                  class="sidebar-list__item hover-v-list-item"
                  @click="$router.push('/profile')"
                >
                  My Profile
                </v-list-item>

                <v-list-item
                  class="sidebar-list__item hover-v-list-item"
                  @click="logOut"
                >
                  Log Out
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>
        </v-col>
      </v-row>
    </header>
  </v-app>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import defaultUserIco from '~/assets/images/defaultUserIco.png';

export default {
  name: 'Header',
  data: () => ({
    showMenu: false,
    defaultUserIco,
    showEdit: false,
    showCheckIcon: false,
    companyName: '',
    rules: {
      min: (v) => v.length >= 1 || 'Min 1 characters'
    },
    tempCompanyName: '',
    isDashboard: false
  }),
  watch: {
    $route(to, from) {
      this.isDashboard =
        to.path.includes('dashboard') || to.path.includes('profile');
      if (this.$auth.user.role === 'superAdmin') {
        if (this.$router.history.current.params.id) {
          this.tempCompanyName = this.companies.find(
            (item) => item.id === +this.$router.history.current.params.id
          ).name;
        } else {
          return '';
        }
      }
    }
  },
  computed: {
    ...mapState({
      company: (state) => state.company.company,
      companies: (state) => state.companies.companies
    })
  },
  async created() {
    if (this.$auth.user.role === 'superAdmin') {
      await this.getCompanies();
      await this.getCompany();
    }
    await this.getCompany();
    this.companyName = this.company.name;

    if (this.$auth.user.role === 'superAdmin') {
      if (this.$router.history.current.params.id) {
        const currentCompanyName = this.companies.find(
          (item) => item.id === +this.$router.history.current.params.id
        ).name;
        this.tempCompanyName = currentCompanyName;
      } else {
        this.tempCompanyName = '';
      }
    }
  },
  methods: {
    ...mapMutations({
      SET_COMPANY: 'company/SET_COMPANY',
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    ...mapActions({
      getCompanies: 'companies/getCompanies',
      getCompany: 'company/getCompany'
    }),
    toggleMenu() {
      this.showMenu = !this.showMenu;
      this.$emit('toggleMenu', this.showMenu);
    },
    logOut() {
      this.$auth.logout();
    },
    async editCompanyName() {
      try {
        if (this.$auth.user.role === 'admin') {
          this.showEdit = false;
          this.showCheckIcon = false;
          await this.$axios.patch(`companies/${this.company.id}`, {
            name: this.companyName
          });
          await this.getCompany();
        }
        if (this.$auth.user.role === 'superAdmin') {
          this.showEdit = false;
          this.showCheckIcon = false;
          await this.$axios.patch(
            `companies/${+this.$router.history.current.params.id}`,
            {
              name: this.tempCompanyName
            }
          );
          await this.getCompany();
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    toggleIcon() {
      this.showEdit = true;
      this.showCheckIcon = true;
    }
  }
};
</script>
