<template>
  <div class="transparent nav w-100">
    <div class="sidebar-list">
      <div class="sidebar-list-head" :class="{ 'pb-4': toggleMenu }">
        <img
          class="sidebar-list__logo"
          src="@/assets/images/okapiLogo.png"
          alt="okapi"
        />
        <div
          class="sidebar-list__hamburger-menu cursor-pointer"
          :class="{
            'sidebar-list__hamburger-menu--open': toggleMenu
          }"
          @click="toggleMenu = !toggleMenu"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <transition-group
        name="page"
        class="sidebar-menu-items"
        :class="{
          'sidebar-menu-items--open':
            toggleMenu || this.$vuetify.breakpoint.mdAndUp
        }"
      >
        <nuxt-link
          v-if="this.$auth.user.role !== 'superAdmin'"
          key="dashboard"
          to="/dashboard"
          class="sidebar-list__item .p-text"
          @click.native="toggleMenu = false"
          >Dashboard
        </nuxt-link>
        <nuxt-link
          v-if="$auth.user.role === 'superAdmin'"
          key="superAdmin"
          to="/admin-super/dashboard"
          class="sidebar-list__item .p-text"
          @click.native="toggleMenu = false"
          >Companies
        </nuxt-link>
        <nuxt-link
          v-if="$auth.user.role === 'admin'"
          key="admin"
          to="/admin"
          class="sidebar-list__item .p-text"
          @click.native="toggleMenu = false"
          >Admin
        </nuxt-link>
        <nuxt-link
          key="profile"
          to="/profile"
          class="sidebar-list__item .p-text"
          :class="{ 'hidden-sm-and-up': true }"
          @click.native="toggleMenu = false"
          >My profile
        </nuxt-link>
        <div
          key="logOut"
          class="sidebar-list__item .p-text cursor-pointer"
          :class="{ 'hidden-sm-and-up': $auth.user.role !== 'superAdmin' }"
          @click="logOut"
        >
          Log out
        </div>
        <!--        <div-->
        <!--          v-if="$auth.user.role === 'superAdmin'"-->
        <!--          key="logOut"-->
        <!--          class="sidebar-list__item .p-text cursor-pointer"-->
        <!--          @click="logOut"-->
        <!--        >-->
        <!--          Log out-->
        <!--        </div>-->
      </transition-group>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  data() {
    return {
      toggleMenu: false
    };
  },
  methods: {
    logOut() {
      this.$auth.logout();
    }
  }
};
</script>
