//utilities
@import "utilities/index";
//blocks and elements
@import "components/index";
@import "profile/index";
@import "general/index";

* {
  font-family: 'Inter', sans-serif;
}

.v-application--wrap {
  min-height: 0 !important;
}

.transparent {
  background-color: transparent !important;
}
