.companies {
  overflow-x: hidden;
  border: solid 1px #e5e7eb;
  border-radius: 12px;
  box-shadow: $main-shadow;
  .company-item {
    border: $main-border;
    padding: 10px;
    color: $charcoal-grey;
    text-decoration: none;
    transition: 150ms;
    &:hover {
      box-shadow: $hover-shadow;
    }
    &__info, &__admin {
      display: flex;
      align-items: center;
      width: 200px;
    }
    &__avatar, &__admin-avatar {
      height: 55px;
      width: 55px;
      border-radius: 50%;
    }
    &__name, &__admin-name {
      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden; /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis;
      max-width: 60px;
    }
    &__creation-date {

    }
  }
}

.admin-super{
  &__tab{
    border-bottom: solid 2px $purple;
  }
}

.col{
  .theme--light.v-tabs-items {
    background-color: transparent;
  }
}

