<template>
  <div class="objective-header initiative-header-component">
    <div class="custom-container justify-start">
      <div class="initiative-header__btn-back">
        <v-icon
          color="#9696aa"
          class="cursor-pointer"
          @click="$nuxt.$emit('hide-initiative')"
          >mdi-arrow-left</v-icon
        >
      </div>
      <div class="objective-info-name">
        <v-skeleton-loader v-if="loading" width="200" type="list-item" />
        <p
          v-else-if="!edit && initiative.name"
          class="company-info-goal__title mb-0 initiative-header__title"
          @click="isEdit(initiative.name)"
        >
          {{ initiative.name }}
          <v-icon class="cursor-pointer ml-5" small>edit</v-icon>
        </p>
        <div v-else class="d-flex w-100 align-center">
          <v-text-field
            ref="initiativeName"
            v-model="editText"
            hide-details
            :loading="updating"
            color="#5856d6"
            class="objective-title__input custom-text-field"
            :placeholder="placeholder"
            @click="showCheckBtn = true"
            @blur="saveTitle"
            @keydown.enter="$event.target.blur()"
          />
          <v-icon v-if="showCheckBtn" class="ml-5" @click="$event.target.blur()"
            >check</v-icon
          >
        </div>
      </div>
      <div class="w-100 d-flex justify-start">
        <QuarterDateInitiative
          :initiative="initiative"
          :company-id="companyId"
          :initiative-id="initiative.id"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import QuarterDateInitiative from '@/components/initiative/QuarterDateInitiative';

export default {
  name: 'Header',
  components: { QuarterDateInitiative },
  props: {
    modalVisibility: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    initiative: {
      type: Object,
      default: () => {}
    },
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    placeholder: 'Type your title here',
    editText: '',
    edit: false,
    showCheckBtn: false,
    updating: false
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    isEdit(initiativeName) {
      this.editText = initiativeName;
      this.edit = true;
      this.$nextTick(() => {
        this.$refs.initiativeName.focus();
        this.showCheckBtn = true;
      });
    },
    async saveTitle() {
      try {
        if (this.$auth.user.role === 'admin') {
          this.updating = true;
          const response = await this.$axios.patch(
            `/initiatives/${this.initiative.id}`,
            {
              name: this.editText
            }
          );

          this.updating = false;
          this.edit = false;
          this.showCheckBtn = false;

          this.$nuxt.$emit('update-initiative', this.initiative.id);

          const msg = {
            status: response.status,
            info: 'Your title was changed',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
        }
        if (this.$auth.user.role === 'superAdmin') {
          if (!this.edit) {
            const { status } = await this.$axios.patch(
              `/initiatives/${this.initiative.id}`,
              {
                name: this.editText
              }
            );

            const msg = {
              status,
              info: 'Your title was changed',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);

            if (!this.editText) {
              this.edit = true;
              this.showCheckBtn = false;
            }
          } else {
            this.$nextTick(() => {
              this.$refs.title.focus();
            });
          }
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
