<template>
  <v-navigation-drawer
    v-model="modalVisibility"
    fixed
    right
    temporary
    class="initiative-navigation"
    width="570px"
  >
    <Header
      :loading="loading"
      :initiative="initiative"
      :company-id="companyId"
      :objective-id="objectiveId"
    />
    <TaskBoard
      :items="items"
      :initiative="initiative"
      :objective-users="objectiveUsers"
      :loading="loading"
    />
    <div class="custom-container custom-container--inset-shadow">
      <div class="initiative-update">
        <span class="initiative-update__header">Updates</span>
        <v-btn
          class="btn btn--main-shadow btn--bordered btn--fz-md btn--ls-sm"
          color="#fff"
          small
          @click="showUpdateModal = true"
          ><v-icon small color="#5856d6">add</v-icon>Add update</v-btn
        >
      </div>
    </div>
    <div class="custom-container">
      <v-skeleton-loader v-if="loading" width="100%" height="150" type="card" />
      <Update
        v-for="update in initiative.actions"
        v-else
        :key="update.id"
        :update="update"
        :owner-id="update.ownerId"
        :objective-users="objectiveUsers"
        :initiative-id="initiative.id"
      />
    </div>
    <AddUpdate
      v-model="showUpdateModal"
      :objective-id="objectiveId"
      :initiative-id="initiative.id"
    />
  </v-navigation-drawer>
</template>

<script>
import Header from '~/components/initiative/Header';
import TaskBoard from '~/components/initiative/TaskBoard';
import AddUpdate from '~/components/modal/AddUpdate';
import Update from '@/components/initiative/Update';

export default {
  name: 'InitiativeDrawer',
  components: {
    Update,
    TaskBoard,
    Header,
    AddUpdate
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    initiative: {
      type: Object,
      default: () => {}
    },
    loading: {
      type: Boolean,
      default: false
    },
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    },
    items: {
      type: Array,
      default: () => []
    },
    objectiveUsers: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      showUpdateModal: false
    };
  },
  computed: {
    modalVisibility: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
  created() {
    this.$nuxt.$on('hide-initiative', () => (this.modalVisibility = false));
  }
};
</script>
