<template>
  <div class="d-flex data-block">
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      :return-value.sync="date"
      transition="scale-transition"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="dateFormatted"
          prepend-icon="event"
          hide-details
          dense
          readonly
          color="#5856d6"
          class="pa-0 ma-0 d-flex align-center initiative-date-picker"
          v-bind="attrs"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="date" color="#5856d6" no-title scrollable>
        <v-spacer></v-spacer>
        <v-btn text color="#5856d6" @click="menu = false">Cancel</v-btn>
        <v-btn text color="#5856d6" @click="saveData">OK</v-btn>
      </v-date-picker>
    </v-menu>
    <span class="small-text color__dark-grey-text d-flex align-center pl-2">{{
      date | daysLeft
    }}</span>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import moment from 'moment';

export default {
  name: 'QuarterDateInitiative',
  filters: {
    daysLeft(date) {
      const difference = moment(date).diff(new Date());
      if (difference > 0) {
        return `${moment(new Date()).to(date, true)} remaining`;
      }
      return `${moment(new Date()).from(date, true)} ago`;
    }
  },
  props: {
    initiative: {
      type: Object,
      default: () => {}
    },
    objectiveId: {
      type: Number,
      default: null
    },
    initiativeId: {
      type: Number,
      default: null
    },
    index: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    date: moment(new Date()).format('YYYY-MM-DD'),
    menu: false
  }),
  computed: {
    dateFormatted() {
      return moment(this.date).format('MM-DD-YYYY');
    }
  },
  watch: {
    initiative(value) {
      this.date = moment(value.end_date).format('YYYY-MM-DD');
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async saveData() {
      try {
        await this.$refs.menu.save(`${this.date}`);

        const { status } = await this.$axios.patch(
          `/initiatives/${this.initiativeId}`,
          {
            end_date: this.date
          }
        );

        const msg = {
          status,
          info: 'Your date was successfully changed',
          error: 'Success'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);

        this.$nuxt.$emit('update-objective');
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
