<template>
  <div class="initiative-info-board">
    <div class="custom-container custom-container--white">
      <!--      <div class="initiative-task-header">-->
      <!--        <v-breadcrumbs-->
      <!--          v-if="$auth.user.role !== 'superAdmin'"-->
      <!--          :items="items"-->
      <!--          class="pa-0"-->
      <!--        />-->
      <!--        <v-btn-->
      <!--          v-else-->
      <!--          class="btn btn&#45;&#45;main-shadow btn&#45;&#45;ls-sm btn&#45;&#45;bordered pl-2"-->
      <!--          small-->
      <!--          color="#fff"-->
      <!--          @click="$router.go(-1)"-->
      <!--          ><v-icon class="mr-2" color="#d1d1d6" small>navigate_before</v-icon-->
      <!--          >Back-->
      <!--        </v-btn>-->
      <!--        <v-menu-->
      <!--          v-if="$auth.user.role !== 'contributor'"-->
      <!--          offset-y-->
      <!--          nudge-bottom="10"-->
      <!--          nudge-left="125"-->
      <!--        >-->
      <!--          <template v-slot:activator="{ on, attrs }">-->
      <!--            <v-btn-->
      <!--              v-bind="attrs"-->
      <!--              class="btn btn&#45;&#45;main-shadow btn&#45;&#45;ls-sm btn&#45;&#45;bordered"-->
      <!--              small-->
      <!--              color="#fff"-->
      <!--              v-on="on"-->
      <!--              >More-->
      <!--              <v-icon class="ml-3" color="#d1d1d6" small>unfold_more</v-icon>-->
      <!--            </v-btn>-->
      <!--          </template>-->
      <!--          <v-list class="pa-0 list">-->
      <!--            <v-list-item-group>-->
      <!--              <v-list-item @click="deleteInitiative">-->
      <!--                <v-list-item-icon class="list__icon">-->
      <!--                  <v-icon color="#d1d1d6">delete_outline</v-icon>-->
      <!--                </v-list-item-icon>-->
      <!--                <v-list-item-content class="list__content&#45;&#45;delete">-->
      <!--                  <v-list-item-title>Delete Action</v-list-item-title>-->
      <!--                </v-list-item-content>-->
      <!--              </v-list-item>-->
      <!--            </v-list-item-group>-->
      <!--          </v-list>-->
      <!--        </v-menu>-->
      <!--      </div>-->
      <!--      <div class="initiative-header">-->
      <!--        <v-text-field-->
      <!--          v-if="edit"-->
      <!--          ref="initiativeName"-->
      <!--          v-model="editText"-->
      <!--          class="large-title-text&#45;&#45;input"-->
      <!--          hide-details="true"-->
      <!--          placeholder="Type your initiative name here"-->
      <!--          @blur="changeInitiativeName"-->
      <!--        />-->
      <!--        <v-icon v-if="edit" @click="changeInitiativeName">check</v-icon>-->
      <!--        <span v-if="!edit" class="font__h1" @click="switchEdit">-->
      <!--          {{ editText }}-->
      <!--        </span>-->
      <!--        <img-->
      <!--          v-if="!edit"-->
      <!--          src="~assets/images/edit.svg"-->
      <!--          class="initiative-header__img"-->
      <!--          alt="edit"-->
      <!--          @click="switchEdit"-->
      <!--        />-->
      <!--      </div>-->
      <v-row
        class="initiative-item initiative-item--center wrap ma-0"
        no-gutters
      >
        <!--        <v-col-->
        <!--          class="initiative-item__name"-->
        <!--          cols="3"-->
        <!--          xs="6"-->
        <!--          sm="1"-->
        <!--          md="1"-->
        <!--          lg="1"-->
        <!--          xl="1"-->
        <!--        >-->
        <!--          Cycle-->
        <!--        </v-col>-->
        <!--        <v-col-->
        <!--          :class="{ 'flex-wrap': this.$vuetify.breakpoint.xsOnly }"-->
        <!--          class="initiative-item__date"-->
        <!--          cols="9"-->
        <!--          xs="8"-->
        <!--          sm="4"-->
        <!--          md="4"-->
        <!--          lg="4"-->
        <!--          xl="4"-->
        <!--        >-->
        <!--          <QuarterDateInitiative-->
        <!--            :objective-id="+this.$route.query.objectiveId"-->
        <!--            :initiative-id="+this.$route.query.initiativeId"-->
        <!--            :company-id="+this.$route.query.companyId"-->
        <!--          />-->
        <!--          <span-->
        <!--            :class="{ 'my-2 ml-3': this.$vuetify.breakpoint.xsOnly }"-->
        <!--            class="small-text small-text&#45;&#45;grey w-100"-->
        <!--            >{{ daysLeft }}</span-->
        <!--          >-->
        <!--        </v-col>-->
        <v-col class="initiative-item__info px-0 pb-0" cols="12">
          <span class="small-text small-text--grey initiative-item__owner"
            >Owner</span
          >
          <img
            :src="ownerInitiative.avatarPath || defaultUserIco"
            alt="avatar"
          />
          <span class="initiative-item__owner-name">{{
            ownerInitiative.name
          }}</span>
          <v-menu offset-y nudge-bottom="10" nudge-left="200">
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                v-bind="attrs"
                class="initiative__more-btn"
                color="#d1d1d6"
                small
                v-on="on"
                >unfold_more
              </v-icon>
            </template>
            <v-list flat rounded class="general-list" :avatar="true">
              <v-list-item-group>
                <v-list-item
                  v-for="(user, i) in objectiveUsers"
                  :key="i"
                  class="hover-v-list-item"
                  @click="changeOwner(user)"
                >
                  <v-list-item-avatar>
                    <v-img :src="user.avatarPath || defaultUserIco" />
                  </v-list-item-avatar>
                  <v-list-item-content class="mr-5">
                    <v-list-item-title>
                      {{ user.name }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>
        </v-col>
      </v-row>
      <!--<v-row class="initiative-item initiative-item&#45;&#45;center" no-gutters>
        <v-col
          class="initiative-item__name"
          cols="3"
          xs="6"
          sm="1"
          md="1"
          lg="1"
          xl="1"
        >
          Team
        </v-col>
        <v-col
          class="initiative-item__info"
          cols="9"
          xs="6"
          sm="11"
          md="11"
          lg="11"
          xl="11"
        >
          <v-chip
            v-for="(selection, i) in selections"
            :key="selection.text"
            class="initiative-item__team-item mr-2"
            color="#f0faff"
            close
            @click:close="selected.splice(i, 1)"
          >
            {{ selection.text }}
          </v-chip>
          <v-menu
            :close-on-content-click="false"
            offset-y
            nudge-bottom="10"
            nudge-left="146"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-icon color="#d1d1d6" v-bind="attrs" v-on="on"
                >add_circle_outline
              </v-icon>
            </template>
            <v-list class="initiative__team" rounded>
              <v-text-field
                v-model="newTeam"
                placeholder="Type and press enter to add new team"
                full-width
                hide-details
                class="initiative__team-input"
                outlined
                @keyup.enter="addTeam"
              ></v-text-field>
              <template v-for="item in teams">
                <v-list-item
                  v-if="!selected.includes(item)"
                  :key="item.text"
                  :disabled="loading"
                  class="initiative__team-item mr-2"
                  @click="selected.push(item)"
                >
                  <v-list-item-title
                    class="initiative__chips-title"
                    v-text="item.text"
                  ></v-list-item-title>
                </v-list-item>
              </template>
            </v-list>
          </v-menu>
        </v-col>
      </v-row>-->
      <v-row class="initiative-item ma-0 pa-0" no-gutters>
        <v-col class="initiative-item__note px-0" cols="12">
          <span class="small-text small-text--grey initiative-item__owner mr-5"
            >Notes</span
          >
          <v-text-field
            v-if="editNotes"
            ref="initiativeNote"
            v-model="editNotesText"
            hide-details="true"
            class="ma-0 pa-0"
            color="#5856d6"
            placeholder="Type your note here"
            @blur="changeNotes"
            @keydown.enter="$event.target.blur()"
          ></v-text-field>
          <v-icon v-if="editNotes" @click="changeNotes">check</v-icon>
          <span
            v-if="!editNotes"
            class="color__black pr-2"
            @click="switchNotes"
          >
            {{ editNotesText }}
          </span>
          <v-icon v-if="!editNotes" small @click="switchNotes">edit</v-icon>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import defaultUserIco from '~/assets/images/defaultUserIco.png';

export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    initiative: {
      type: Object,
      default: () => {}
    },
    objectiveUsers: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    editText: 'Initiative',
    defaultUserIco,
    edit: false,
    editNotes: false,
    editNotesText: '',
    avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
    title: 'John Doe',
    newTeam: '',
    ownerInitiative: {},
    loading: false
    // teams: [
    //   {
    //     text: 'Engineering'
    //   },
    //   {
    //     text: 'Design'
    //   },
    //   {
    //     text: 'R&D'
    //   },
    //   {
    //     text: 'Sales'
    //   },
    //
    //   {
    //     text: 'Marketing'
    //   }
    // ],
    // search: '',
    // selected: [{ text: 'Engineering' }]
  }),
  computed: {
    // categories() {
    //   const search = this.search.toLowerCase()
    //
    //   if (!search) return this.items
    //
    //   return this.items.filter((item) => {
    //     const text = item.text.toLowerCase()
    //
    //     return text.includes(search)
    //   })
    // },
    // selections() {
    //   const selections = []
    //
    //   for (const selection of this.selected) {
    //     selections.push(selection)
    //   }
    //
    //   return selections
    // }
  },
  watch: {
    initiative(value) {
      this.editText = value.name;
      this.editNotesText = value.notes;
      this.ownerInitiative = this.objectiveUsers.find(
        (item) => item.id === value.owner_id
      );
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    // ownerInitiative(initiative) {
    //   const ownerId = initiative.owner_id;
    //   return this.objectiveUsers.find((item) => item.id === ownerId);
    // },
    async changeNotes() {
      try {
        this.editNotes = !this.editNotes;

        const { status } = await this.$axios.patch(
          `/initiatives/${+this.initiative.id}`,
          { notes: this.editNotesText }
        );

        const msg = {
          status,
          info: status && 'Your notes was successfully set',
          error: status && 'Success'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    switchEdit() {
      this.edit = !this.edit;

      if (this.edit) {
        this.$nextTick(() => {
          this.$refs.initiativeName.focus();
        });
      }
    },
    switchNotes() {
      this.editNotes = !this.editNotes;

      if (this.editNotes) {
        this.$nextTick(() => {
          this.$refs.initiativeNote.focus();
        });
      }
    },
    async changeInitiativeName() {
      try {
        this.edit = !this.edit;

        const { status } = await this.$axios.patch(
          `/initiatives/${this.initiative.id}`,
          {
            name: this.editText
          }
        );

        const msg = {
          status,
          info: status === 200 && 'Your name was successfully set',
          error: status === 200 && 'Success'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    async changeOwner(newOwner) {
      try {
        const { status } = await this.$axios.patch(
          `/initiatives/owner/${+this.initiative.id}`,
          {
            userId: newOwner.id
          }
        );

        const msg = {
          status,
          info: 'Owner was successfully changed',
          error: 'Success'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },

    // addTeam() {
    //   if (this.newTeam !== '') {
    //     this.teams.push({ text: this.newTeam })
    //     this.newTeam = ''
    //   }
    // },
    async deleteInitiative() {
      try {
        const { status } = await this.$axios.delete(
          `/initiatives/${this.initiative.id}`
        );
        const msg = {
          status,
          info: 'Your request was sent to add an update',
          error: 'Request sent'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
        this.$nuxt.$on('hide-initiative');
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
