<template>
  <div class="card-wrap--initiative-update">
    <div class="initiative-update__head">
      <div class="initiative-update__status">
        <span class="initiative-update__status-icon" :class="statusClass.class">
          <img :src="require(`~/assets/images/${statusClass.image}`)" alt="" />
        </span>
        {{ statusClass.status }}
      </div>
      <div class="initiative-update__time">
        {{ updateDate }}
        <v-menu offset-y nudge-bottom="10" nudge-left="172">
          <template v-slot:activator="{ on, attrs }">
            <v-icon v-bind="attrs" class="initiative__more-btn" v-on="on"
              >more_horiz</v-icon
            >
          </template>
          <v-list class="pa-0 list btn btn--main-shadow">
            <v-list-item-group>
              <v-list-item @click="deleteUpdate(update.id)">
                <v-list-item-icon class="list__icon">
                  <v-icon color="#d1d1d6">delete_outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="mr-5 btn--fz-sm btn--ls-sm">
                  <v-list-item-title>Delete Update</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </div>
    </div>
    <div class="initiative-update__message">{{ update.note }}</div>
    <div class="initiative-update__user">
      <div class="initiative-update__user-img">
        <img :src="ownerUpdate.avatarPath || defaultUserIco" alt="image" />
      </div>
      <div class="initiative-update__user-name">
        {{ ownerUpdate.name }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import moment from 'moment';
import defaultUserIco from '~/assets/images/defaultUserIco.png';

export default {
  props: {
    update: {
      type: Object,
      default: null
    },
    ownerId: {
      type: Number,
      default: null
    },
    objectiveUsers: {
      type: Array,
      default: () => []
    },
    initiativeId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      defaultUserIco,
      ownerUpdate: {}
    };
  },
  computed: {
    //   ownerUpdate() {
    //     if (this.$auth.user.role !== 'superAdmin') {
    //       if (this.company) {
    //         return this.company.users.find(
    //           (item) => item.id === this.update.ownerId
    //         );
    //       }
    //       return 'Owner';
    //     } else {
    //       if (this.companies.length !== 0) {
    //         if (
    //           this.companies
    //             .find((item) => item.id === +this.$route.query.companyId)
    //             .users.find((item) => item.id === this.update.ownerId)
    //         ) {
    //           return this.companies
    //             .find((item) => item.id === +this.$route.query.companyId)
    //             .users.find((item) => item.id === this.update.ownerId);
    //         } else {
    //           return 'Super Admin';
    //         }
    //       }
    //       return 'Owner';
    //     }
    //   },
    statusClass() {
      switch (this.update.status) {
        case 'On Track':
          return {
            status: 'On Track',
            class: 'update-status update-status--on-track',
            image: 'onTrack.svg'
          };
        case 'At Risk':
          return {
            status: 'At Risk',
            class: 'update-status update-status--at-risk',
            image: 'atRisk.svg'
          };
        case 'Off Track':
          return {
            status: 'Off Track',
            class: 'update-status update-status--off-track',
            image: 'offTrack.svg'
          };
        case 'Completed':
          return {
            status: 'Completed',
            class: 'update-status update-status--completed',
            image: 'completed.svg'
          };
        case 'Not started':
          return {
            status: 'Not started',
            class: 'update-status update-status--not-started',
            image: 'notStarted.svg'
          };
        case 'Ahead of schedule':
          return {
            status: 'Ahead of schedule',
            class: 'update-status update-status--completed',
            image: 'aheadOfSchedule.svg'
          };
        default:
          return {
            status: 'Completed',
            class: 'update-status update-status--completed',
            image: 'completed.svg'
          };
      }
    },
    updateDate() {
      return moment(this.update.create_date).fromNow();
    }
  },
  mounted() {
    this.ownerUpdate = this.objectiveUsers.find(
      (item) => item.id === this.ownerId
    );
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async deleteUpdate() {
      try {
        const { status } = await this.$axios.delete(
          `/actions/${this.update.id}`
        );

        const msg = {
          status,
          info: status === 200 && 'Your update was deleted',
          error: status === 200 && 'Deleted'
        };

        this.ADD_SNACKBAR_MESSAGE(msg);

        this.$nuxt.$emit('update-initiative', this.initiativeId);
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
