.objective-info {
  &__tab {
    width: 100%;
    max-width: 92px;
    padding: 12px 6px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.42px;
    color: $black;
    border-bottom: 3px solid $persian-rose;
  }

  .custom-container {
    padding-top: 20px;
  }
}

.objective-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
  padding-top: 10px;
}

.objective-info-container-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
