.last-update {
  display: flex;
  background-color: $white;
  box-shadow: inset $last-update-shadow;

  &.custom-container {
    padding-top: 18px;
    padding-bottom: 18px;

    @include breakpoint-min(md){
      padding-top: 30px;
      padding-bottom: 28px;
    }
  }

  &__img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  &__trend-wrapper{
    height: 110px;
    width: 100%;
    padding-top: 23px;

    @include breakpoint-min(xs) {
      height: 150px;
    }

    @include breakpoint-min(md) {
      height: 110px;
    }
  }

  &__status {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 87px;
    height: 66px;
    border-radius: 5px;
    border: solid 3px;
    margin-right: 17px;

    span {
      font-weight: 600;
      color: $vivid-amber;
    }

    &--on-track {
      border-color: $blue-border;
      background-color: $light-blue;

      span {
        color: $dark-blue;
      };
    }

    &--ahead-of-schedule {
      border-color: $green-border;
      background-color: $light-green;

      span {
        color: $dark-green;
      };
    }

    &--completed {
      border-color: $green-border;
      background-color: $light-green;

      span {
        color: $dark-green;
      };
    }

    &--off-track {
      border-color: $red-border;
      background-color: $light-red;

      span {
        color: $red-text;
      };
    }

    &--not-started {
      border-color: $purple-border;
      background-color: $light-purple;

      span {
        color: $purple;
      };
    }

    &--at-risk {
      border-color: $orange-border;
      background-color: $light-orange;

      span {
        color: $vivid-amber;
      };
    }
  }

  &__status-num {
    height: 27px;
    font-size: 24px;
    letter-spacing: -0.56px;
  }

  &__status-info {
    font-size: 14px;
    letter-spacing: -0.33px;
  }

  &__description {
    display: flex;
    font-size: 16px;
    letter-spacing: -0.34px;
    color: $black;

    &--grey-text{
      color: $grey-text;
    }
  }

  &__owner {
    display: flex;
    align-items: center;
  }

  &__owner_name {
    font-size: 14px;
    letter-spacing: -0.33px;
    color: $grey-text;
    padding-left: 7px;
  }

  &__reviews-text {
    font-size: 14px;
    letter-spacing: -0.33px;
    color: $black;
    padding-right: 10px;
  }
}

.last-update-users {
  //display: none;
  //justify-content: space-between;
  //
  //@include breakpoint-min(md) {
  //  display: flex;
  //}
  //
  //&--mobile {
  //  display: flex;
  //
  //  @include breakpoint-min(md) {
  //    display: none;
  //  }
  //}
}

.last-update-main {
  display: flex;
  flex-direction: column;
}

.last-update-trend {
  display: flex;
  flex-direction: column;

  &__title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.42px;
    color: $black;
  }
}

.last-update-header {
  display: flex;

  &__title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.42px;
    padding-right: 15px;

    color: $black;

    @include breakpoint-min(sm) {
      font-size: 18px;
    }
  }
}

.last-update-info {
  display: flex;
  padding-top: 15px;
}

.last-update-users-wrapper {
  display: flex;
  align-items: center;

  .last-update-reviewd__user-img {
    margin-left: -10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
