<template>
  <div class="custom-container custom-container--white">
    <v-row>
      <v-col>
        <h2 class="edit-profile__title">My Profile</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <span class="edit-profile__label">Your Name</span>
      </v-col>
      <v-col cols="12">
        <div>
          <v-form ref="form" :lazy-validation="lazy">
            <v-text-field
              v-model="profileName"
              outlined
              dense
              class="modal-content-kpi__input"
              background-color="#fafbfc"
              hide-details="true"
              required
              :placeholder="profileName"
              :rules="UserNameRules"
            >
            </v-text-field>
            <v-btn
              class="btn v-btn v-btn--contained btn--blue-white-text  btn--bordered btn--main-shadow modal-kpi__btn"
              color="#5856d6"
              dark
              width="118px"
              height="40px"
              @click="editionProfile"
            >
              Save
            </v-btn>
          </v-form>
        </div>

        <transition name="fade">
          <div v-if="showEditPassword" class="mt-6">
            <v-form ref="password">
              <v-text-field
                v-if="!$auth.user.fromGoogle"
                v-model="oldPassword"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                outlined
                dense
                class="edit-profile__input"
                background-color="#fafbfc"
                required
                :rules="signupPasswordRules"
                label="Current password"
                @click:append="show1 = !show1"
              >
              </v-text-field>
              <v-text-field
                v-model="newPassword"
                :type="show2 ? 'text' : 'password'"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                dense
                :rules="rules"
                outlined
                label="New password"
                class="edit-profile__input"
                @click:append="show2 = !show2"
              ></v-text-field>
              <v-text-field
                v-model="newPasswordConfirm"
                :type="show3 ? 'text' : 'password'"
                :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                dense
                outlined
                :rules="rules"
                class="edit-profile__input"
                label="Confirm new password"
                @click:append="show3 = !show3"
              ></v-text-field>
            </v-form>
            <v-btn
              class="btn v-btn v-btn--contained btn--blue-white-text  btn--bordered btn--main-shadow modal-kpi__btn"
              color="#5856d6"
              dark
              width="118px"
              height="40px"
              @click="submitChangePassword"
            >
              Save
            </v-btn>
          </div>
        </transition>
        <v-btn class="auth-skip__text mt-6" @click="changePassword">
          Change Password
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'Profile',
  layout: 'main',
  data: () => ({
    lazy: false,
    show1: false,
    show2: false,
    show3: false,
    test: false,
    password: 'Password',
    profileName: '',
    showEditPassword: false,
    allowSpaces: false,
    // max: 8,
    oldPassword: '',
    newPassword: '',
    newPasswordConfirm: '',
    signupPasswordRules: [
      (v) => !!v || 'Password is required',
      (v) => (v && v.length >= 8) || 'Password must be more than 8 char',
      (v) =>
        (v &&
          /((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/.test(v)) ||
        'Password must contain at least one uppercase, one lowercase and one number with one special character'
    ],
    UserNameRules: [(v) => !!v || 'Name is required']
  }),
  computed: {
    rules() {
      const rules = [];

      const rule = (v) =>
        (v &&
          /((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/.test(v)) ||
        'Password must contain at least one uppercase, one lowercase and one number with one special character';
      rules.push(rule);

      if (!this.allowSpaces) {
        const rule = (v) => !(v || '').includes(' ') || 'No spaces are allowed';

        rules.push(rule);
      }

      if (this.newPasswordConfirm) {
        const rule = (v) =>
          (!!v && v) === this.newPasswordConfirm || 'Values do not match';

        rules.push(rule);
      }

      return rules;
    }
  },
  watch: {
    newPasswordConfirm: 'validateField',
    max: 'validateField',
    newPassword: 'validateField'
  },
  created() {
    this.profileName = this.$auth.user.name;
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    changePassword() {
      this.showEditPassword = !this.showEditPassword;
      this.oldPassword = '';
      this.newPassword = '';
      this.newPasswordConfirm = '';
    },
    async editionProfile() {
      try {
        const isValid = await this.$refs.form.validate();

        if (isValid) {
          const { status } = await this.$axios.patch('/auth/me/edit', {
            name: this.profileName
          });
          const msg = {
            status,
            info: `Your name was changed`,
            error: 'Success'
          };
          this.ADD_SNACKBAR_MESSAGE(msg);

          window.location.reload(true);
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    validateField() {
      this.$refs.form.validate();
    },
    async submitChangePassword() {
      try {
        const isValid = await this.$refs.password.validate();

        if (isValid) {
          if (this.$auth.user.fromGoogle) {
            const { status } = await this.$axios.patch('/auth/me/password', {
              newPassword: this.newPassword
            });
            const msg = {
              status,
              info: `Your password was changed`,
              error: 'Success'
            };
            this.ADD_SNACKBAR_MESSAGE(msg);

            this.oldPassword = '';
            this.newPassword = '';
            this.newPasswordConfirm = '';
            this.showEditPassword = false;
          } else {
            const { status } = await this.$axios.patch('/auth/me/password', {
              oldPassword: this.oldPassword,
              newPassword: this.newPassword
            });
            const msg = {
              status,
              info: `Your password was changed`,
              error: 'Success'
            };
            this.ADD_SNACKBAR_MESSAGE(msg);

            this.oldPassword = '';
            this.newPassword = '';
            this.newPasswordConfirm = '';
            this.showEditPassword = false;
          }
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
