.c-logo {
  display: flex;
}

.company-name h3 {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: -0.5px;
  color: $charcoal-grey;

  @include breakpoint-min(sm) {
    font-size: 23px;
  }
}

.header-avatar {

  &-title {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: $blue-grey;
    white-space: nowrap;

    display: none;
    align-items: center;

    @include breakpoint-min(sm) {
      display: flex;
    }
  }

  &__icon {
    &--menu {
      display: flex !important;

      @include breakpoint-min(sm) {
        display: none !important;
      }
    }
  }
}


.header {
  &__name {
    display: none;

    @include breakpoint-min(sm) {
      display: flex;
    }
  }

  &__company-name {
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include breakpoint-min(sm) {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }

  &-menu {
    display: none;

    @include breakpoint-min(sm) {
      display: flex;
    }
  }
}

.avatar {
  img {
    width: 34px !important;
    height: 34px !important;
  }
}
