.sidebar-list {
  &__hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 16px;

    @include breakpoint-min(md) {
      display: none;
    }

    span {
      height: 2px;
      width: 25px;
      border-radius: 5px;
      background-color: white;
      transform: translateY(5px);
      transition: all ease-in-out 0.3s;

      &:first-child {
        transform: translateY(0);
      }

      &:last-child {
        transform: translateY(10px);
      }
    }

    &--open {
      span {
        &:nth-child(2) {
          transform: translate(-10px, 5px);
          opacity: 0;
        }

        &:first-child {
          transform: translate(0, 250%) rotate(45deg);
        }

        &:last-child {
          transform: translate(0, 50%) rotate(-45deg);
        }
      }
    }
  }

  .sidebar-list__title {
    margin-bottom: 0;
  }

  span {
    display: flex;
    flex-direction: column;
  }

  .nuxt-link-active {
    background-color: $nuxt-active;
    color: $white !important;
  }

  &__item {
    * {
      text-decoration: none;
      color: $charcoal-grey !important;
    }

    text-decoration: none;
    color: $white !important;
    padding: 10px 17px;
    margin: 2px 0;
    border-radius: 8px;
    transition: all ease 0.3s;

    &:hover {
      background-color: $nuxt-active;
      color: $white !important;
    }
  }
}

.v-application--wrap {
  .no-gutters > .col .hide-sidebar,
  .no-gutters > [class*='col-'] {
    padding: 20px 19px 20px 15px;
  }
}

.hide-sidebar {
  display: flex;
  transition: all ease-in-out 0.3s;
  background-image: linear-gradient(108deg, #251260 45%, #5b1646 99%);
  // height: 82px;
}

//.nav {
//  min-width: 256px;
//
//  @include breakpoint-min(sm) {
//    min-width: 156px;
//  }
//}

.sidebar-menu-items {
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.3s;

  &--open {
    max-height: 100vh;
  }
}

.sidebar-list-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: padding ease-in-out 0.3s;

  @include breakpoint-min(md) {
    padding-bottom: 25px;
  }
}
