<template>
  <v-app class="auth">
    <div class="notification-wrapper">
      <Notification
        v-for="(item, index) in messages"
        :key="index"
        :index="index"
        :message="item"
        :msg-id="item.id"
      />
    </div>
    <nuxt />
  </v-app>
</template>

<script>
import { mapState } from 'vuex';
import Notification from '~/components/general/Notification';

export default {
  components: {
    Notification
  },
  data: () => ({
    showMenu: false
  }),
  computed: {
    ...mapState('notifications', ['messages'])
  }
};
</script>
