<template>
  <v-app class="general">
    <!--    <Header @toggleMenu="toggle" />-->
    <div class="notification-wrapper">
      <Notification
        v-for="(item, index) in messages"
        :key="index"
        :index="index"
        :msg-id="item.id"
        :message="item"
      />
    </div>
    <v-row no-gutters>
      <v-col cols="12" sm="12" md="2" class="hide-sidebar">
        <SideBar />
      </v-col>
      <v-col cols="12" sm="12" md="10" class="pa-0 main-section">
        <nuxt />
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';
// import Header from '~/components/Header.vue'
import SideBar from '~/components/Sidebar.vue';
import Notification from '~/components/general/Notification';

export default {
  components: {
    // Header,
    SideBar,
    Notification
  },
  data: () => ({
    showMenu: false
  }),
  computed: {
    ...mapState('notifications', ['messages'])
  }
};
</script>

<style lang="scss" scoped>
.general {
  width: 100%;
  min-height: 100vh;
  background-color: #251260;
  //overflow: hidden;
}
</style>
