<template>
  <v-row justify="center">
    <v-dialog v-model="modalVisibility" width="450">
      <v-card
        outlined
        class="modal-content modal-content-kpi modal-content-objective"
      >
        <div class="d-flex justify-end">
          <img
            class="mt-4 modal__close"
            src="~assets/images/close-icon.svg"
            alt="close"
            @click="closeModal"
          />
        </div>
        <h1 class="modal-content-kpi__title font__h1 color__charcoal-grey">
          Add an initiative
        </h1>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          class="modal-content-kpi__form"
          @submit.prevent="addInitiative"
        >
          <label class="modal-content-kpi__label">Title</label>
          <v-text-field
            v-model="title"
            dense
            placeholder="Type here"
            outlined
            hide-details="true"
            :rules="titleRules"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />

          <div class="d-flex justify-space-between mt-8">
            <v-btn
              class="btn v-btn v-btn--contained btn--blue-gray-text  btn--bordered btn--main-shadow modal__btn "
              color="#ffffff"
              white
              width="103px"
              height="40px"
              @click="closeModal"
            >
              Cancel
            </v-btn>

            <v-btn
              class="btn v-btn v-btn--contained btn--blue-white-text  btn--bordered btn--main-shadow modal__btn "
              color="#5856d6"
              dark
              width="118px"
              height="40px"
              type="submit"
            >
              Add
            </v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'AddInitiative',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    valid: true,
    title: '',
    titleRules: [(v) => !!v || 'E-mail is required']
  }),
  computed: {
    modalVisibility: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async addInitiative() {
      try {
        const isValid = await this.$refs.form.validate();

        if (isValid) {
          const response = await this.$axios.post(
            `/initiatives/${this.objectiveId}/${this.companyId}`,
            {
              end_date: new Date(),
              name: this.title
            }
          );

          this.$nuxt.$emit('update-objective');

          const msg = {
            status: response.status,
            info: `Your initiative was created`,
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
          this.$refs.form.reset();
          this.modalVisibility = false;
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    closeModal() {
      this.$refs.form.reset();
      this.modalVisibility = false;
    }
  }
};
</script>
