<template>
  <v-dialog v-model="modalVisibility" content-class="modal" max-width="450">
    <v-card class="modal--update modal-content">
      <!--      <div class="d-flex justify-end">-->
      <v-icon class="modal__close modal__close--add-update" @click="closeModal"
        >close</v-icon
      >
      <!--      </div>-->
      <div class="modal-content__title large-title-text">
        Post an update
      </div>
      <div class="modal-update__info small-text">Status</div>
      <div class="modal-update__status-btn">
        <v-menu offset-y nudge-bottom="10">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="btn btn--bordered btn--main-shadow btn--ls-sm px-2"
              color="#fff"
              v-bind="attrs"
              v-on="on"
            >
              <span :class="currentStatus.class">
                <img
                  :src="require(`~/assets/images/${currentStatus.image}`)"
                  alt="img"
                />
              </span>
              {{ currentStatus.status }}
              <v-icon class="ml-3" color="#d1d1d6">unfold_more</v-icon>
            </v-btn>
          </template>
          <v-list class="pa-0 list" min-width="202">
            <v-list-item-group>
              <v-list-item
                v-for="(status, i) in updateStatus"
                :key="i"
                class="px-2"
                @click="changeStatus(status)"
              >
                <v-list-item-content class="mr-5">
                  <v-list-item-title class="d-flex align-center">
                    <span :class="status.class" class="mr-2">
                      <img
                        :src="require(`~/assets/images/${status.image}`)"
                        alt="img"
                      />
                    </span>
                    {{ status.status }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </div>
      <div class="modal-update__info small-text mt-3">Notes</div>
      <div class="modal-update__note">
        <v-textarea
          v-model="updateMessage"
          outlined
          auto-grow
          hide-details
          class="auth-form__input update__input"
          placeholder="Type your update here, remember to try to be as descriptive as possible!"
          rows="3"
          row-height="30"
        ></v-textarea>
      </div>
      <div class="d-flex justify-space-between">
        <v-btn
          class="btn btn--bordered btn--main-shadow btn--fz-md btn--blue-grey-text btn--ls-md px-6"
          color="#fff"
          @click="closeModal"
          >Cancel</v-btn
        >
        <v-btn
          class="btn btn--white-text btn--main-shadow btn--fz-md btn--ls-md px-12"
          color="#5856d6"
          @click="saveUpdate"
          >Post</v-btn
        >
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    isObjective: {
      type: Boolean,
      default: false
    },
    objectiveId: {
      type: Number,
      default: null
    },
    objectiveStatus: {
      type: String,
      default: ''
    },
    objectiveNote: {
      type: String,
      default: ''
    },
    initiativeId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    showNotification: false,
    updateMessage: '',
    currentStatus: {
      class: 'update-status update-status--small update-status--on-track',
      status: 'On Track',
      image: 'onTrackSmall.png'
    },
    updateStatus: [
      {
        status: 'On Track',
        class: 'update-status update-status--small update-status--on-track',
        image: 'onTrackSmall.png'
      },
      {
        status: 'Off Track',
        class: 'update-status update-status--small update-status--off-track',
        image: 'offTrackSmall.png'
      },
      {
        status: 'At Risk',
        class: 'update-status update-status--small update-status--at-risk',
        image: 'atRiskSmall.png'
      },
      {
        status: 'Completed',
        class: 'update-status update-status--small update-status--completed',
        image: 'completedSmall.png'
      },
      {
        status: 'Ahead of schedule',
        class:
          'update-status update-status--small update-status--ahead-of-schedule',
        image: 'aheadOfScheduleSmall.png'
      },
      {
        status: 'Not started',
        class: 'update-status update-status--small update-status--not-started',
        image: 'notStartedSmall.png'
      }
    ]
  }),
  computed: {
    modalVisibility: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
  watch: {
    objectiveStatus(value) {
      if (this.isObjective) {
        this.checkStatus(value);
      }
    },
    objectiveNote(value) {
      if (this.isObjective) {
        this.updateMessage = value;
      }
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    changeStatus(status) {
      this.currentStatus = status;
    },
    checkStatus(status) {
      const onTrack = 'On Track';
      switch (status) {
        case onTrack:
          this.currentStatus = {
            status: 'On Track',
            class: 'update-status update-status--small update-status--on-track',
            image: 'onTrackSmall.png'
          };
          break;
        case 'Off Track':
          this.currentStatus = {
            status: 'Off Track',
            class:
              'update-status update-status--small update-status--off-track',
            image: 'offTrackSmall.png'
          };
          break;
        case 'At Risk':
          this.currentStatus = {
            status: 'At Risk',
            class: 'update-status update-status--small update-status--at-risk',
            image: 'atRiskSmall.png'
          };
          break;
        case 'Completed':
          this.currentStatus = {
            status: 'Completed',
            class:
              'update-status update-status--small update-status--completed',
            image: 'completedSmall.png'
          };
          break;
        case 'Ahead of schedule':
          this.currentStatus = {
            status: 'Ahead of schedule',
            class:
              'update-status update-status--small update-status--ahead-of-schedule',
            image: 'aheadOfScheduleSmall.png'
          };
          break;
        case 'Not started':
          this.currentStatus = {
            status: 'Not started',
            class:
              'update-status update-status--small update-status--not-started',
            image: 'notStartedSmall.png'
          };
          break;
        default:
          this.currentStatus = {
            status: 'Not started',
            class:
              'update-status update-status--small update-status--not-started',
            image: 'notStartedSmall.png'
          };
      }
    },
    closeModal() {
      if (!this.isObjective) {
        this.updateMessage = '';
        this.currentStatus = {
          class: 'update-status update-status--small update-status--on-track',
          status: 'On Track',
          image: 'onTrackSmall.png'
        };
      }

      this.modalVisibility = false;
    },
    async saveUpdate() {
      try {
        let response;
        if (this.isObjective) {
          response = await this.$axios.patch(
            `/objectives/${this.objectiveId}`,
            {
              status: this.currentStatus.status,
              note: this.updateMessage
            }
          );

          this.modalVisibility = false;

          const msg = {
            status: response.status,
            info: 'Your update was created',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);

          this.$nuxt.$emit('update-objective');
        } else {
          response = await this.$axios.post(`/actions/${this.initiativeId}`, {
            status: this.currentStatus.status,
            note: this.updateMessage
          });

          this.modalVisibility = false;

          const msg = {
            status: response.status,
            info: 'Your update was created',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
          this.$nuxt.$emit('update-initiative', this.initiativeId);
        }

        this.updateMessage = '';
        this.currentStatus = {
          class: 'update-status update-status--small update-status--on-track',
          status: 'On Track',
          image: 'onTrackSmall.png'
        };
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
