<template>
  <v-row justify="center">
    <v-dialog v-model="modalVisibility" width="450">
      <v-card outlined class="modal-content modal-content-kpi">
        <div class="d-flex justify-end">
          <img
            class="mt-4 modal__close"
            src="~assets/images/close-icon.svg"
            alt="close"
            @click="closeModal"
          />
        </div>
        <h1 class="modal-content-kpi__title font__h1 color__charcoal-grey">
          Add an {{ isCompany ? 'indicator' : 'kpi' }}
        </h1>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          class="modal-content-kpi__form"
          @submit.prevent="addNewKpi"
        >
          <label class="modal-content-kpi__label">What are you tracking?</label>
          <v-text-field
            v-model="tracking"
            dense
            placeholder="ARR, Churn, NPS, etc"
            outlined
            hide-details="true"
            :rules="trackingRules"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <label class="modal-content-kpi__label">Goal</label>
          <v-text-field
            v-model="goal"
            dense
            placeholder="100, 50 etc."
            outlined
            hide-details="true"
            :rules="goalRules"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <label class="modal-content-kpi__label">Current Value</label>
          <v-text-field
            v-model="currentValue"
            dense
            placeholder="500, 0 etc."
            outlined
            hide-details="true"
            :rules="currentValueRules"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <label class="modal-content-kpi__label"
            >Which measure are you tracking?</label
          >
          <v-text-field
            v-model="units"
            dense
            placeholder="$, %, etc."
            outlined
            hide-details="true"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <div class="d-flex justify-space-between mt-8">
            <v-btn
              class="btn v-btn v-btn--contained btn--blue-gray-text  btn--bordered btn--main-shadow modal__btn "
              color="#ffffff"
              white
              width="103px"
              height="40px"
              @click="closeModal"
            >
              Cancel
            </v-btn>

            <v-btn
              class="btn v-btn v-btn--contained btn--blue-white-text  btn--bordered btn--main-shadow modal__btn "
              color="#5856d6"
              dark
              width="118px"
              height="40px"
              type="submit"
            >
              Add
            </v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'KpiAdd',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    },
    isCompany: {
      type: Boolean,
      default: false
    },
    indicators: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    valid: true,
    tracking: '',
    trackingRules: [(v) => !!v || 'Name is required'],
    goal: '',
    goalRules: [
      (v) => !!v || 'Goal is required',
      (v) => !isNaN(v) || 'Goal must be a number'
    ],
    currentValue: '',
    currentValueRules: [
      (v) => !!v || 'Current value is required',
      (v) => !isNaN(v) || 'Current value must be a number',
      (v) => v > 0 || 'Bigger than 0'
    ],
    units: ''
  }),
  computed: {
    modalVisibility: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
  watch: {
    goal(value) {
      if (value) {
        if (value.includes(' ')) this.goal = value.replace(' ', '');
      }
    },
    currentValue(value) {
      if (value) {
        if (value.includes(' ')) this.currentValue = value.replace(' ', '');
      }
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async addNewKpi() {
      try {
        const isValid = await this.$refs.form.validate();

        if (isValid) {
          let response;
          if (!this.units) this.units = '';
          if (this.isCompany) {
            response = await this.$axios.post(`/indicators/${this.companyId}`, {
              name: this.tracking,
              goal: +this.goal,
              current_value: +this.currentValue,
              units: this.units
            });

            if (this.$auth.user.role === 'superAdmin') {
              this.$nuxt.$emit('update-dashboard-super-admin');
            } else {
              this.$nuxt.$emit('update-dashboard');
            }
          } else {
            response = await this.$axios.post(`/kpi/${this.objectiveId}`, {
              name: this.tracking,
              goal: +this.goal,
              current_value: +this.currentValue,
              units: this.units
            });

            this.$nuxt.$emit('update-objective');
          }

          const msg = {
            status: response.status,
            info: `Your ${this.isCompany ? 'indicator' : 'kpi'} was created`,
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);

          this.$refs.form.reset();
          this.modalVisibility = false;
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    closeModal() {
      this.$refs.form.reset();
      this.modalVisibility = false;
    }
  }
};
</script>
