<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" width="450">
      <v-card outlined class="modal-content modal-content-kpi">
        <div class="d-flex justify-end">
          <img
            class="mt-4 modal__close"
            src="~assets/images/close-icon.svg"
            alt="close"
            @click="dialog = false"
          />
        </div>
        <h1 class="modal-content-kpi__title font__h1 color__charcoal-grey">
          Edit KPI
        </h1>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          class="modal-content-kpi__form"
          @submit.prevent="saveEdit"
        >
          <label class="modal-content-kpi__label">What are you tracking?</label>
          <v-text-field
            v-model="name"
            :rules="nameRules"
            dense
            placeholder="ARR"
            outlined
            hide-details="true"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <label class="modal-content-kpi__label">Goal</label>
          <v-text-field
            v-model="goal"
            :rules="goalRules"
            dense
            placeholder="$2.0MM"
            outlined
            hide-details="true"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <label class="modal-content-kpi__label">Current Value</label>
          <v-text-field
            v-model="currentValue"
            :rules="currentValueRules"
            dense
            placeholder="$1.3MM"
            outlined
            hide-details="true"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <label class="modal-content-kpi__label"
            >Which measure are you tracking?</label
          >
          <v-text-field
            v-model="units"
            dense
            placeholder="$1.3MM"
            outlined
            hide-details="true"
            class="modal-content-kpi__input"
            background-color="#fafbfc"
          />
          <div class="d-flex justify-space-between mt-8">
            <v-btn
              class="btn v-btn v-btn--contained btn--blue-gray-text  btn--bordered btn--main-shadow modal__btn "
              color="#ffffff"
              white
              width="103px"
              height="40px"
              @click="dialog = false"
            >
              Cancel
            </v-btn>

            <v-btn
              class="btn v-btn v-btn--contained btn--blue-white-text  btn--bordered btn--main-shadow modal__btn "
              color="#5856d6"
              dark
              width="118px"
              height="40px"
              type="submit"
            >
              Save
            </v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'KpiEdit',
  props: {
    editingFields: {
      type: Object,
      default: () => ({ goal: '', name: '', currentValue: '', units: '' })
    },
    value: {
      type: Boolean,
      default: false
    },
    indicatorId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    },
    isCompany: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    valid: true,
    kpiLabel: {
      name: 'ARR target:',
      goal: '200k$',
      current_value: '50k$',
      units: '$, %, etc.'
    },
    name: '',
    nameRules: [(v) => !!v || 'Name is required'],
    goal: '',
    goalRules: [
      (v) => !!v || 'E-mail is required',
      (v) => !isNaN(v) || 'Goal must be a number'
    ],
    currentValue: '',
    currentValueRules: [
      (v) => !!v || 'Current value is required',
      (v) => !isNaN(v) || 'Current value must be a number',
      (v) => v > 0 || 'Bigger than 0'
    ],
    units: ''
  }),
  computed: {
    dialog: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    }
  },
  watch: {
    editingFields(value) {
      this.name = this.editingFields.name;
      this.goal = this.editingFields.goal;
      this.currentValue = this.editingFields.currentValue;
      this.units = this.editingFields.units;
    },
    goal(value) {
      if (value) {
        const stringValue = value.toString();
        if (stringValue.includes(' ')) this.goal = stringValue.replace(' ', '');
      }
    },
    currentValue(value) {
      if (value) {
        const stringValue = value.toString();
        if (stringValue.includes(' '))
          this.currentValue = stringValue.replace(' ', '');
      }
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async saveEdit() {
      try {
        const isValid = await this.$refs.form.validate();

        if (isValid) {
          let response;
          if (this.isCompany) {
            response = await this.$axios.patch(
              `/indicators/${this.companyId}/${this.indicatorId}`,
              {
                name: this.name,
                goal: +this.goal,
                current_value: +this.currentValue,
                units: this.units
              }
            );

            if (this.$auth.user.role === 'superAdmin') {
              this.$nuxt.$emit('update-dashboard-super-admin');
            } else {
              this.$nuxt.$emit('update-dashboard');
            }
          } else {
            response = await this.$axios.patch(`/kpi/${this.indicatorId}`, {
              name: this.name,
              goal: +this.goal,
              current_value: +this.currentValue,
              units: this.units
            });

            this.$nuxt.$emit('update-objective');
          }

          this.$refs.form.reset();
          this.dialog = false;

          const msg = {
            status: response.status,
            info: `Your indicator was edited`,
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
