<template>
  <v-row>
    <v-col cols="12">
      <span class="edit-profile__label">Company name</span>
    </v-col>
    <v-col cols="12" class="pt-0">
      <div>
        <v-form ref="form" :lazy-validation="lazy">
          <v-text-field
            v-model="companyName"
            outlined
            dense
            class="modal-content-kpi__input"
            background-color="#fafbfc"
            hide-details="true"
            required
            :placeholder="companyName"
            :rules="companyNameRules"
          >
          </v-text-field>
          <v-btn
            class="btn v-btn v-btn--contained btn--blue-white-text btn--fz-md btn--bordered btn--main-shadow modal-kpi__btn"
            color="#5856d6"
            dark
            width="118px"
            height="40px"
            @click="editCompany"
          >
            Save
          </v-btn>
        </v-form>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'Profile',
  layout: 'main',
  props: {
    company: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    lazy: false,
    password: 'Password',
    companyName: '',
    companyNameRules: [(v) => !!v || 'Name is required']
  }),
  watch: {
    company(value) {
      this.companyName = value.name;
    }
  },
  mounted() {
    this.companyName = this.company.name;
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async editCompany() {
      try {
        const isValid = await this.$refs.form.validate();

        if (isValid) {
          const { status } = await this.$axios.patch(
            `/companies/${this.company.id}`,
            {
              name: this.companyName
            }
          );

          const msg = {
            status,
            info: `Company name was changed`,
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    async submitChangePassword() {
      try {
        const isValid = await this.$refs.password.validate();

        if (isValid) {
          if (this.$auth.user.fromGoogle) {
            const { status } = await this.$axios.patch('/auth/me/password', {
              newPassword: this.newPassword
            });
            const msg = {
              status,
              info: `Your password was changed`,
              error: 'Success'
            };
            this.ADD_SNACKBAR_MESSAGE(msg);

            this.oldPassword = '';
            this.newPassword = '';
            this.newPasswordConfirm = '';
            this.showEditPassword = false;
          } else {
            const { status } = await this.$axios.patch('/auth/me/password', {
              oldPassword: this.oldPassword,
              newPassword: this.newPassword
            });
            const msg = {
              status,
              info: `Your password was changed`,
              error: 'Success'
            };
            this.ADD_SNACKBAR_MESSAGE(msg);

            this.oldPassword = '';
            this.newPassword = '';
            this.newPasswordConfirm = '';
            this.showEditPassword = false;
          }
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
