<template>
  <v-row class="invite-teammate mx-0 my-4 px-1" align="center">
    <v-icon class="ma-3" color="#d1d1d6" size="32">
      add_circle
    </v-icon>
    <span class="invite-teammate__title mr-3">
      Invite a teammate
    </span>
    <span class="invite-teammate__description">
      Everything is better with friends!
    </span>
  </v-row>
</template>

<script>
export default {
  name: 'InviteTeammate'
};
</script>
