<template>
  <div class="reminders">
    <v-col>
      <h4>Reminders</h4>
      <RemindersItem
        v-for="item in remindersArr"
        :key="item.id"
        :title="item.title"
        :description="item.description"
        :company="company"
      />
    </v-col>
  </div>
</template>

<script>
import RemindersItem from '~/components/admin/RemindersItem';
export default {
  name: 'Reminders',
  components: {
    RemindersItem
  },
  props: {
    remindersArr: {
      type: Array,
      default: () => []
    },
    company: {
      type: Object,
      default: () => {}
    }
  }
};
</script>
