<template>
  <div class="reminders-item">
    <v-checkbox v-model="checked" color="#1099ee" @change="setReminder">
      <div slot="label" class="reminders-item-text-wrapper">
        <span class="reminders-item__title">
          {{ title }}
        </span>
        <span class="reminders-item__description">
          {{ description }}
        </span>
      </div>
    </v-checkbox>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'RemindersItem',
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    company: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    checked: false
  }),
  watch: {
    company(value) {
      if (this.title === 'Send email reminders') {
        this.checked = value.updateAction;
      } else if (this.title === 'Send email reminders to update KPIs') {
        this.checked = value.updateKpi;
      }
    }
  },
  mounted() {
    if (this.$auth.user.role === 'superAdmin') {
      if (this.title === 'Send email reminders') {
        this.checked = this.company.updateAction;
      } else if (this.title === 'Send email reminders to update KPIs') {
        this.checked = this.company.updateKpi;
      }
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async setReminder() {
      try {
        if (this.title === 'Send email reminders') {
          if (this.checked) {
            const { status } = await this.$axios.patch(
              `/companies/update/actions/${this.company.id}`,
              {
                value: this.checked
              }
            );

            const msg = {
              status,
              info: 'Reminder was set',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);
          } else {
            const { status } = await this.$axios.patch(
              `/companies/update/actions/${this.company.id}`,
              {
                value: this.checked
              }
            );

            const msg = {
              status,
              info: 'Reminder was unset',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);
          }
        } else if (this.title === 'Send email reminders to update KPIs') {
          if (this.checked) {
            const { status } = await this.$axios.patch(
              `/companies/update/kpi/${this.company.id}`,
              {
                value: this.checked
              }
            );

            const msg = {
              status,
              info: 'Reminder for update was set',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);
          } else {
            const { status } = await this.$axios.patch(
              `/companies/update/kpi/${this.company.id}`,
              {
                value: this.checked
              }
            );

            const msg = {
              status,
              info: 'Reminder for update was unset',
              error: 'Success'
            };

            this.ADD_SNACKBAR_MESSAGE(msg);
          }
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
