<template>
  <div class="users-item">
    <v-row class="ma-0 container" justify="space-between">
      <v-col
        cols="12"
        sm="10"
        class="ma-0 pa-0 d-flex align-center flex-wrap justify-space-between"
      >
        <div class="d-flex align-center">
          <img
            :src="avatar || defaultUserIco"
            class="users-item__avatar mr-3"
            alt="avatar"
          />
          <div class="users-item-name-wrapper align-center">
            <span class="users-item__mail">
              {{ email }}
            </span>
          </div>
        </div>
        <div class="d-flex align-center mr-6">
          <span class="users-item__invited-date">{{
            date | filteredDate
          }}</span>
        </div>
      </v-col>
      <div v-if="skills.length !== 0" class="users-item__main-info">
        <div>
          <v-chip
            v-for="item in skills"
            :key="item.id"
            class="users-item__skill-item mr-2"
            color="#f0faff"
          >
            {{ item }}
            <v-icon class="ml-2" color="#9dc8e3" size="14">
              close
            </v-icon>
          </v-chip>
        </div>
        <v-icon color="#d1d1d6" size="14">
          unfold_more
        </v-icon>
      </div>
      <v-col cols="12" sm="2" class="users-item__position-info-wrapper pa-0">
        <div class="users-item__position-info">
          <span>{{ roleCalculated }}</span>
        </div>
        <div class="users-item__delete-btn-wrapper ml-2">
          <!--          <v-btn-->
          <!--            v-if="-->
          <!--              !skills.length &&-->
          <!--                (role === 'contributor' || role === 'collaborator')-->
          <!--            "-->
          <!--            icon-->
          <!--            @click="deleteUser"-->
          <!--          >-->
          <!--            <v-icon>-->
          <!--              delete_outline-->
          <!--            </v-icon>-->
          <!--          </v-btn>-->
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import moment from 'moment';
import defaultUserIco from '@/assets/images/defaultUserIco.png';

export default {
  name: 'UserInvited',
  filters: {
    filteredDate(value) {
      return `Invited ${moment(value).fromNow()}`;
    }
  },
  props: {
    userId: {
      type: Number,
      default: 0
    },
    date: {
      type: String,
      default: ''
    },
    avatar: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    email: {
      type: String,
      default: ''
    },
    skills: {
      type: Array,
      default: () => []
    },
    role: {
      type: String,
      default: ''
    },
    showDivider: {
      type: Boolean,
      default: false
    },
    companyId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    defaultUserIco
  }),
  computed: {
    roleCalculated() {
      return this.role[0].toUpperCase() + this.role.slice(1);
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    })
  }
};
</script>
