<template>
  <div>
    <v-dialog
      v-model="showModal"
      content-class="invite-modal pa-5"
      max-width="430"
    >
      <p>Enter email for invitation:</p>
      <v-icon
        class="invite-modal__btn--close cursor-pointer"
        @click="showModal = false"
        >close</v-icon
      >
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="inviteEmail"
          outlined
          label="Email"
          dense
          type="email"
          class="auth-form__input"
          background-color="#fafbfc"
          hide-details="true"
          :rules="inviteEmailRules"
        />
        <v-select
          v-model="role"
          :items="roles"
          label="Role"
          color="#5856d6"
          dense
          class="auth-form__input pt-6"
          outlined
        />
        <v-layout justify-center>
          <v-btn
            width="118px"
            height="40px"
            color="#5856d6"
            class="btn btn--ls-md btn--main-shadow btn--white-text btn--fz-md users__blue-btn"
            @click="sendInvite"
            >Send Invite</v-btn
          >
        </v-layout>
      </v-form>
    </v-dialog>
    <div class="users pa-0">
      <v-row class="container mx-0" justify="space-between" align="center">
        <h4>Users</h4>
        <v-btn
          width="118px"
          height="40px"
          color="#5856d6"
          class="btn btn--ls-md btn--main-shadow btn--white-text btn--fz-md users__blue-btn"
          @click="showModal = !showModal"
        >
          Invite User
        </v-btn>
      </v-row>
      <v-col class="users-item-wrapper white-bg pa-0">
        <UserItem
          v-for="(item, index) in usersArr"
          :key="item.id"
          :user-id="item.id"
          :avatar="item.avatarPath"
          :name="item.name"
          :email="item.email"
          :skills="item.skills"
          :role="item.role"
          :company-id="companyId"
          :show-divider="isShowDivider(index)"
        />
        <UserInvited
          v-for="(item, index) in invitedUsers"
          :key="item.id"
          :user-id="item.id"
          :avatar="item.avatarPath"
          :name="item.name"
          :email="item.email"
          :skills="item.skills"
          :role="item.role"
          :date="item.create_date"
          :company-id="companyId"
          :show-divider="isShowDivider(index)"
        />
      </v-col>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import UserItem from '~/components/admin/UserItem';
import UserInvited from '@/components/admin/UserInvited';

export default {
  name: 'Users',
  components: {
    UserInvited,
    UserItem
  },
  props: {
    usersArr: {
      type: Array,
      default: () => []
    },
    companyId: {
      type: Number,
      default: null
    },
    invitedUsers: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    showModal: false,
    valid: true,
    role: '',
    roles: ['Contributor', 'Collaborator'],
    inviteEmail: '',
    inviteEmailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ]
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    isShowDivider(index) {
      return index !== this.usersArr.length - 1;
    },
    async sendInvite() {
      try {
        const isValid = await this.$refs.form.validate();

        if (isValid) {
          const { status } = await this.$axios.post(
            `invite/user/${this.companyId}`,
            {
              email: this.inviteEmail,
              role: this.role.toLocaleLowerCase()
            }
          );

          if (this.$auth.user.role === 'superAdmin') {
            this.$nuxt.$emit('update-dashboard-super-admin');
          } else {
            this.$nuxt.$emit('update-admin');
          }

          const msg = {
            status,
            info: `${this.inviteEmail} was invited to your company`,
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
          this.showModal = false;
        } else {
          const msg = {
            status: 400,
            info: `Please enter a valid email`,
            error: 'Error'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
