<template>
  <div class="v-container auth">
    <SignUpLogin v-if="!loading" />
    <v-dialog v-model="loading" hide-overlay persistent width="300">
      <v-card color="#5856d6" dark>
        <v-card-text class="pt-1">
          Just tidying up for you..
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SignUpLogin from '~/components/auth/SignUpLogin';

export default {
  components: { SignUpLogin },
  layout: 'auth',
  data() {
    return {
      loading: true
    };
  },
  mounted() {
    this.loading = false;
  },
  middleware: 'redirectToCompany',
  beforeRouteEnter(to, from, next) {
    const { accessToken, refreshToken } = to.query;
    // eslint-disable-next-line no-console
    if (process.client && accessToken) {
      next((vm) => {
        vm.loading = true;
        vm.$router.replace({ query: null });
        try {
          vm.$auth.setUserToken(accessToken, refreshToken);
          // vm.loading = false;
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e.message);
        }
      });
    } else {
      next();
    }
  }
};
</script>
