<template>
  <div class="v-container auth">
    <v-row no-gutters>
      <v-col md="12" sm="12" xs="12" lg="6" xl="6" class="d-flex mx-auto">
        <div class="auth-container">
          <div class="d-flex align-center justify-center pb-10 mt-9">
            <img src="@/assets/images/okapiLogoBlack.png" alt="Okapi" />
          </div>
          <div class="auth-description ma-auto">
            <span class="auth-description__text"
              >🎉 You’re on the way!<br />
              What’s your company’s name?</span
            >
          </div>
          <div class="auth-form mb-12">
            <v-form
              ref="form"
              :lazy-validation="lazy"
              class="auth__form"
              @submit.prevent="submitCompany"
            >
              <v-text-field
                v-model="company"
                placeholder="Enter company or team name"
                outlined
                height="40px"
                hide-details="true"
                class="auth-form__input mb-9"
                background-color="#fafbfc"
                :rules="companyRules"
              ></v-text-field>
              <v-btn
                height="53px"
                color="#5856d6"
                width="100%"
                class="btn btn--main-shadow btn--white-text btn--ls-lg btn--fz-md"
                type="submit"
                >Next Step
              </v-btn>
            </v-form>
            <!-- class="auth-form__btn auth-form__btn--submit" -->
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'CompanyForm',

  data: () => ({
    company: '',
    lazy: false,
    companyRules: [(v) => !!v || 'Name is required']
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async submitCompany() {
      try {
        const isValid = await this.$refs.form.validate();

        if (isValid) {
          const { data } = await this.$axios.post('/companies/create', {
            name: this.company
          });

          await this.$router.push({
            path: '/sign-up/objective',
            query: {
              companyId: data.id
            }
          });
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
