<template>
  <v-row no-gutters>
    <v-col md="12" sm="12" xs="12" lg="6" xl="6" class="d-flex mx-auto">
      <div class="auth-container">
        <!-- <v-row
        class="auth-container--goal align-center justify-center flex-column"
      > -->
        <div class="auth-header">
          <img src="@/assets/images/okapiLogoBlack.png" alt="Okapi" />
        </div>
        <div class="auth-goal-info mt-10">
          <span>One last thing, we swear…</span>
        </div>
        <div class="auth-description mt-3 mb-6">
          <span class="auth-description__text"
            >What important thing does your company need to get done this
            year?</span
          >
        </div>
        <div class="auth-goal-meaning">
          <span
            >Think big, in terms of what you want to achieve, or where you want
            to be.
          </span>
        </div>
        <div class="auth-form auth-form--goal">
          <v-form class="auth__form" @submit.prevent="setCompanyGoal">
            <v-text-field
              v-model="objective"
              placeholder="Ex. We want to the best SMB product on the market"
              outlined
              height="40px"
              hide-details="true"
              class="auth-form__input mb-9"
              background-color="#fafbfc"
            ></v-text-field>
            <v-btn
              height="53px"
              color="#5856d6"
              width="80%"
              class="btn btn--main-shadow btn--white-text btn--fz-md btn--ls-lg d-flex mx-auto"
              type="submit"
              >Let's go</v-btn
            >
          </v-form>
        </div>
        <div class="auth-skip">
          <p class="auth-skip__text" @click="skipGoal">
            Skip it for now
          </p>
        </div>
      </div>
      <!-- </v-row> -->
    </v-col>
  </v-row>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  data: () => ({
    objective: ''
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async setCompanyGoal() {
      try {
        await this.$axios.post(`objectives/${+this.$route.query.companyId}`, {
          start_date: new Date(),
          end_date: new Date(),
          title: this.objective,
          status: 'Not started'
        });

        await this.$router.push('/dashboard');
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    skipGoal() {
      this.$router.push('/dashboard');
    }
  }
};
</script>

<style lang="scss" scoped></style>
