<template>
  <v-row no-gutters>
    <v-col md="12" sm="12" xs="12" lg="6" xl="6" class="d-flex mx-auto">
      <div class="ma-auto auth-wrapper">
        <div class="auth-container auth-container--new-company">
          <div class="d-flex align-center pb-5">
            <img src="@/assets/images/okapiLogoBlack.png" alt="Okapi" />
          </div>
          <div class="auth-switcher">
            <v-tabs
              v-model="tab"
              color="#5856d6"
              active-class="auth__active-switcher"
            >
              <v-tab @click="resetLogin">Sign up</v-tab>
              <v-tab @click="resetSignUp">Log in</v-tab>
            </v-tabs>
          </div>
          <v-tabs-items v-model="tab">
            <v-tab-item
              ><div class="auth-description mt-6">
                <span class="auth-description__text"
                  >Ready to get your strategy on?</span
                >
              </div>
              <div class="auth-form auth-form--signup auth-form--full-width">
                <v-form
                  ref="signupForm"
                  :lazy-validation="lazySignup"
                  class="auth__form"
                  @submit.prevent="signUp"
                >
                  <div class="auth-form-row">
                    <div class="auth-form-row__name">Full Name</div>
                    <v-text-field
                      v-model="signupName"
                      outlined
                      class="auth-form__input"
                      background-color="#fafbfc"
                      hide-details="true"
                      :rules="signupNameRules"
                      required
                    ></v-text-field>
                  </div>
                  <div class="auth-form-row">
                    <div class="auth-form-row__name">Your Email</div>
                    <v-text-field
                      v-model="signupEmail"
                      outlined
                      type="email"
                      class="auth-form__input"
                      background-color="#fafbfc"
                      hide-details="true"
                      :rules="signupEmailRules"
                      required
                    ></v-text-field>
                  </div>
                  <div class="auth-form-row">
                    <div class="auth-form-row__name mb-7">Create Password</div>
                    <v-text-field
                      v-model="signupPassword"
                      outlined
                      class="auth-form__input"
                      background-color="#fafbfc"
                      type="password"
                      :rules="signupPasswordRules"
                      required
                    />
                  </div>
                  <v-btn
                    height="53px"
                    color="#5856d6"
                    width="100%"
                    class="btn btn--main-shadow btn--white-text btn--fz-md btn--ls-lg mb-8"
                    type="submit"
                    >Create My Account</v-btn
                  >
                </v-form>
              </div>
              <v-btn
                height="53px"
                color="#fff"
                width="100%"
                class="btn btn--bordered btn--main-shadow btn--purple-text btn--fz-md btn--ls-lg mt-8 mb-2"
                href="https://my.okapiapp.com/api/auth/google"
                ><img
                  src="@/assets/images/googleLogo.png"
                  class="mr-2"
                  alt="Google"
                />
                Sign in with Google</v-btn>
            </v-tab-item>
            <v-tab-item>
              <!-- {{ process.env.AUTH_GOOGLE_URL }} -->
              <div v-if="!isResetPassword">
                <div class="auth-description mt-6">
                  <span class="auth-description__text">👋 Welcome back!</span>
                </div>
                <v-btn
                  height="53px"
                  color="#fff"
                  width="100%"
                  class="btn btn--bordered btn--main-shadow btn--purple-text btn--fz-md btn--ls-lg mt-7"
                  href="https://my.okapiapp.com/api/auth/google"
                  ><img
                    src="@/assets/images/googleLogo.png"
                    class="mr-2"
                    alt="Google"
                  />
                  Sign in with Google</v-btn>
                <div class="auth-form auth-form--login auth-form--full-width">
                  <v-form
                    ref="loginForm"
                    :lazy-validation="lazyLogin"
                    class="auth__form"
                    @submit.prevent="login"
                  >
                    <div class="auth-form-row">
                      <div
                        class="auth-form-row__name auth-form-row__name--login"
                      >
                        Email
                      </div>
                      <v-text-field
                        v-model="loginEmail"
                        outlined
                        height="40px"
                        type="email"
                        hide-details="true"
                        :rules="loginEmailRules"
                        class="auth-form__input"
                        background-color="#fafbfc"
                        required
                      />
                    </div>
                    <div class="auth-form-row">
                      <div
                        class="auth-form-row__name auth-form-row__name--login mb-7"
                      >
                        Password
                      </div>
                      <v-text-field
                        v-model="loginPassword"
                        outlined
                        height="40px"
                        type="password"
                        :rules="loginPasswordRules"
                        class="auth-form__input"
                        background-color="#fafbfc"
                        required
                      ></v-text-field>
                    </div>
                    <v-btn
                      height="53px"
                      color="#5856d6"
                      width="100%"
                      class="btn btn--main-shadow btn--white-text btn--fz-md btn--ls-lg"
                      type="submit"
                      >Log in</v-btn
                    >
                  </v-form>
                </div>
                <div class="auth-forgot-pass pt-7">
                  <span
                    class="auth-forgot-pass__link"
                    @click="isResetPassword = true"
                    >Forgot your password?</span
                  >
                </div>
              </div>
              <div v-if="isResetPassword">
                <div class="auth-description my-8">
                  <span class="large-title-text"
                    >Forgot password?<br />
                    Enter your email below</span
                  >
                </div>
                <v-form
                  ref="resetForm"
                  :lazy-validation="lazyReset"
                  class="auth__form"
                >
                  <div class="auth-form-row flex-column px-5">
                    <div class="w-100 d-flex align-center">
                      <div
                        class="auth-form-row__name auth-form-row__name--login"
                      >
                        Email
                      </div>
                      <v-text-field
                        v-model="resetEmail"
                        outlined
                        height="40px"
                        hide-details="true"
                        :rules="resetEmailRules"
                        class="auth-form__input"
                        background-color="#fafbfc"
                        required
                      />
                    </div>
                    <div
                      v-if="showReset"
                      class="w-100 d-flex align-center mt-3"
                    >
                      <div
                        class="auth-form-row__name auth-form-row__name--login"
                      >
                        Code
                      </div>
                      <v-text-field
                        v-model="code"
                        outlined
                        height="40px"
                        hide-details="true"
                        :rules="codeRules"
                        class="auth-form__input"
                        background-color="#fafbfc"
                        required
                      />
                    </div>
                    <div
                      v-if="showReset"
                      class="w-100 d-flex align-center mt-3"
                    >
                      <div
                        class="auth-form-row__name auth-form-row__name--login"
                      >
                        New Password
                      </div>
                      <v-text-field
                        v-model="newPassword"
                        outlined
                        height="40px"
                        type="password"
                        hide-details="true"
                        :rules="newPasswordRules"
                        class="auth-form__input"
                        background-color="#fafbfc"
                        required
                      />
                    </div>
                  </div>
                  <!--                  <transition name="page">-->
                  <!--                    <div v-if="resetSuccess" class="d-flex">-->
                  <!--                      <span class="small-text auth__reset&#45;&#45;green mx-auto"-->
                  <!--                        >Reset email sent!</span-->
                  <!--                      >-->
                  <!--                    </div>-->
                  <!--                  </transition>-->
                  <v-btn
                    v-if="!showReset"
                    height="53px"
                    color="#5856d6"
                    width="100%"
                    class="btn btn--main-shadow btn--white-text btn--fz-md btn--ls-lg mt-6"
                    @click="sendReset"
                    >Send Reset Email</v-btn
                  >
                  <v-btn
                    v-if="showReset"
                    height="53px"
                    color="#5856d6"
                    width="100%"
                    class="btn btn--main-shadow btn--white-text btn--fz-md btn--ls-lg mt-6"
                    @click="resetPassword"
                    >Reset password</v-btn
                  >
                </v-form>
                <div class="auth-forgot-pass pt-7">
                  <span
                    class="auth-forgot-pass__link"
                    @click="isResetPassword = false"
                    >Back to Login</span
                  >
                </div>
              </div>
            </v-tab-item>
          </v-tabs-items>
        </div>
        <div class="auth-rules mt-7">
          <span class="auth__rules-text">Review our Privacy Policy</span>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapMutations } from 'vuex';

export default {
  data: () => ({
    tab: null,
    showReset: false,
    isResetPassword: false,
    // resetSuccess: false,
    lazySignup: false,
    lazyReset: false,
    signupName: '',
    signupNameRules: [(v) => !!v || 'Name is required'],
    signupEmail: '',
    signupEmailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ],
    signupPassword: '',
    signupPasswordRules: [
      (v) => !!v || 'Password is required',
      (v) => (v && v.length >= 8) || 'Password must be more than 8 char',
      (v) =>
        (v &&
          /((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/.test(v)) ||
        'Password must contain at least one uppercase, one lowercase and one number with one special character'
    ],
    lazyLogin: false,
    loginPassword: '',
    loginPasswordRules: [
      (v) => !!v || 'Password is required',
      (v) => (v && v.length >= 8) || 'Password must be more than 8 char',
      (v) =>
        (v &&
          /((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/.test(v)) ||
        'Password must contain at least one uppercase, one lowercase and one number with one special character'
    ],
    loginEmail: '',
    loginEmailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ],
    code: '',
    codeRules: [
      (v) => !!v || 'Code is required',
      (v) => (v && v.length === 4) || 'Code must be more equal 4 char'
    ],
    newPassword: '',
    newPasswordRules: [
      (v) => !!v || 'Password is required',
      (v) => (v && v.length >= 8) || 'Password must be more than 8 char',
      (v) =>
        (v &&
          /((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/.test(v)) ||
        'Password must contain at least one uppercase, one lowercase and one number with one special character'
    ],
    resetEmail: '',
    resetEmailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ]
  }),
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    ...mapActions({
      addUpdate: 'initiative/addUpdate'
    }),
    async signUp() {
      try {
        const isValid = await this.$refs.signupForm.validate();

        if (isValid) {
          await this.$axios.post('/auth/signup', {
            email: this.signupEmail,
            password: this.signupPassword,
            name: this.signupName,
            role: 'admin'
          });

          await this.$auth.loginWith('local', {
            data: { email: this.signupEmail, password: this.signupPassword }
          });

          if (
            this.$auth.user.role === 'contributor' ||
            this.$auth.user.role === 'collaborator'
          ) {
            await this.$router.push('dashboard');
          } else {
            await this.$router.push('sign-up/company');
          }
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    async login() {
      try {
        const isValid = await this.$refs.loginForm.validate();

        if (isValid) {
          await this.$auth.loginWith('local', {
            data: { email: this.loginEmail, password: this.loginPassword }
          });

          await this.$router.push('/dashboard');
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    async sendReset() {
      try {
        const isValid = await this.$refs.resetForm.validate();

        if (isValid) {
          await this.$axios.patch('/auth/requestReset', {
            email: this.resetEmail
          });

          this.showReset = true;

          const msg = {
            status: 200,
            info: 'Please check your email',
            error: 'Success'
          };

          this.ADD_SNACKBAR_MESSAGE(msg);
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    async resetPassword() {
      try {
        const isValid = await this.$refs.resetForm.validate();

        if (isValid) {
          await this.$axios.patch('/auth/reset', {
            email: this.resetEmail,
            code: this.code,
            newPassword: this.newPassword
          });

          const msg = {
            status: 200,
            info: 'Your password was changed',
            error: 'Success'
          };

          this.isResetPassword = false;
          this.ADD_SNACKBAR_MESSAGE(msg);
        }
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    },
    googleAuth() {
      this.$auth.loginWith('google');
    },
    resetSignUp() {
      this.$refs.signupForm.reset();
      this.isResetPassword = false;
    },
    resetLogin() {
      if (!this.isResetPassword) {
        this.$refs.loginForm.reset();
        this.isResetPassword = false;
      }
    }
  }
};
</script>
