.initiatives-items{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: solid 1px $border-light-grey;
  overflow: hidden;

  .objective-initiative-item{
    flex-wrap: wrap;
    background-color: $white;

    &:not(:last-child){
      border-bottom: solid 1px $border-light-grey;
    }

    .card-status-bar{
      &__info-block{
        padding-top: 15px;

        @include breakpoint-min(sm) {
          padding-top: 0;
        }
      }
    }
  }
}

.initiative-item {
  margin: 19px 0;

  &__name {
    color: $blue-grey;
  }

  &__note{
    display: flex;
    align-items: center;
  }

  &--center {
    align-items: center;
  }

  &__team-item {
    margin: 3px 0;

    .v-chip__content {
      color: $azure;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;

    @include breakpoint-min(sm) {
      margin: 0;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 7px;
    }
  }

  &__date {
    display: flex;
    align-items: center;
  }

  &__owner {
    margin-right: 48px;

    @include breakpoint-min(sm){
      margin-right: 16px;
    }

    &-name {
      font-weight: 500;
      margin-right: 15px;
    }
  }

  &__edit {
    display: flex;

    .v-text-field {
      padding: 0;
      margin: 0;
    }
  }
}

.card-wrap {
  background-color: $white;

  &--initiative {
    padding: 16px;
  }

  &--initiative-update {
    border-radius: 8px;
    box-shadow: $main-shadow;
    border: solid 1px $very-light-blue;
    background-color: $white;
    padding: 16px;
    margin-bottom: 17px;
  }
}


.initiative-update {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__header {
    font-size: 16px;
    line-height: 3.38;
    letter-spacing: -0.34px;
    color: $grey-text;
  }

  &__head {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__status {
    display: flex;
    align-items: center;
  }

  &__btn--add {
    font-weight: 600 !important;
    padding-left: 5px !important;
  }

  &__message {
    margin: 17px 0;
  }

  &__user {
    display: flex;
    align-items: center;

    &-img {
      display: flex;
      align-items: center;
      margin-right: 7px;

      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }

    &-name {
      color: $blue-grey;
    }
  }
}

.initiative {
  &__more-btn {
    cursor: pointer;
  }

  &-task-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__team {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 337px;
    padding: 10px !important;

    &-input {
      fieldset {
        box-shadow: inset 0 1px 3px 0 $light-blue-grey;
        border: $main-border;
      }

      input {
        text-align: center;
      }

      margin-bottom: 14px !important;
    }

    &-item {
      min-height: 30px !important;
      max-height: 30px;
      flex: 0 0 auto !important;
      color: $azure !important;
      background-color: $light-blue;
    }
  }

  &__chips-title {
    color: $azure !important;
  }
}

.small-text {
  &--grey {
    color: $blue-grey;
  }
}


.update {
  &__input {
    margin-bottom: 48px !important;

    ::placeholder {
      text-align: left;
    }
  }
}

.initiative-header-component{
  background-color: $white;
  padding: 20px 0;
  border-bottom: 1px solid $initiative-border;

  .initiative-date-picker{
    width: 125px;
  }

  .initiative-header{
    &__title{
      font-size: 20px;
      letter-spacing: -0.61px;
      color: $black;
      font-weight: 600;

      @include breakpoint-min(sm){
        font-size: 26px;
      }
    }
  }
}


