.update-status {
  min-height: 35px;
  min-width: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border: 3px solid;
  font-size: 16px !important;

  &--small{
    min-height: 28px;
    min-width: 28px;
  }

  &--on-track {
    background-color: $light-blue;
    border-color: $blue-border;
  }

  &--completed {
    background-color: $light-green;
    border-color: $green-border;
  }

  &--ahead-of-schedule{
    background-color: $light-green;
    border-color: $green-border;
  }

  &--off-track {
    background-color: $light-red;
    border-color: $red-border;
  }

  &--at-risk {
    background-color: $light-orange;
    border-color: $orange-border;
  }

  &--not-started{
    background-color: $light-purple;
    border-color: $purple-border;
  }

  &__mob {
    position: absolute;
    right: 2px;
    top: 5px;

    @include breakpoint-min(sm) {
      position: inherit;
    }
  }
}
