.edit-profile {
  padding-top: 15px;
  padding-bottom: 47px;
  padding-left: 26px;
  &__title{
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.47px;
    color: $charcoal-grey;
  }
  &__label {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: $blue-grey;
  }
  &__input {
    max-width: 257px !important;
  }
}
