<template>
  <div>
    <Header />
    <CompanyInfo
      :loading="loading"
      :name="company.name"
      :mission.sync="company.mission"
      :company-id="company.id"
    />
    <KpiAdd v-model="showAddKpi" :company-id="company.id" :is-company="true" />
    <AddObjective
      v-model="showAddObjective"
      :company-id="company.id"
      @add-objective="addObjective"
    />
    <div class="custom-container custom-container--inset-shadow">
      <div class="pt-5 pb-1 d-flex align-center">
        <span class="dashboard-indicators__title"
          >Key Performance Indicators</span
        >
        <v-icon
          class="cursor-pointer"
          color="#dfe1e4"
          @click="showAddKpi = true"
          >add_circle
        </v-icon>
      </div>
      <v-row class="dashboard-indicators-wrapper">
        <div v-if="loading" class="w-100 d-flex flex-wrap">
          <v-skeleton-loader
            v-for="item in 3"
            :key="item.id"
            :loading="loading"
            transition="fade-transition"
            height="100px"
            width="250px"
            type="card"
            class="pa-3"
          />
        </div>
        <Indicator
          v-for="indicator in company.indicators"
          v-else
          :key="indicator.id"
          :indicator="indicator"
          :loading="loading"
          :company-id="company.id"
          :indicator-logs="indicator.indLogs"
          :is-company="true"
          @delete-indicator="getCompanyInfo"
        />
      </v-row>
      <div class="py-1 d-flex align-center">
        <span class="dashboard-objectives__title">Objectives</span>
        <v-icon
          class="cursor-pointer"
          color="#dfe1e4"
          @click="showAddObjective = true"
          >add_circle</v-icon
        >
      </div>
      <v-row class="dashboard-objectives-wrapper">
        <div v-if="loading" class="w-100 d-flex flex-wrap">
          <v-skeleton-loader
            v-for="item in 4"
            :key="item.id"
            :loading="loading"
            transition="fade-transition"
            height="150px"
            width="250px"
            type="card"
            class="pa-3"
          />
        </div>
        <ObjectiveCard
          v-for="objective in company.objectives"
          v-else
          :key="objective.id"
          :company-users="company.users"
          :objective="objective"
          :company-id="company.id"
          :loading="loading"
        />
      </v-row>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import Header from '~/components/dashboard/Header';
import CompanyInfo from '~/components/dashboard/CompanyInfo';
import Indicator from '~/components/dashboard/Indicator';
import ObjectiveCard from '~/components/dashboard/ObjectiveCard';
import KpiAdd from '~/components/modal/KpiAdd';
import AddObjective from '~/components/modal/AddObjective';

export default {
  name: 'Dashboard',
  layout: 'main',
  components: {
    Header,
    CompanyInfo,
    Indicator,
    ObjectiveCard,
    KpiAdd,
    AddObjective
  },
  data: () => ({
    loading: true,
    company: {},
    showAddKpi: false,
    showAddObjective: false,
    showEditKpi: false
  }),
  mounted() {
    // eslint-disable-next-line no-undef
    pendo.initialize({
      visitor: {
        id: this.$auth.user.id, // Required if user is logged in
        email: this.$auth.user.email,
        role: this.$auth.user.role,
        name: this.$auth.user.name
        // email:        // Recommended if using Pendo Feedback, or NPS Email
        // full_name:    // Recommended if using Pendo Feedback
        // role:         // Optional

        // You can add any additional visitor level key-values here,
        // as long as it's not one of the above reserved names.
      },

      account: {
        id: this.$auth.user.id // Highly recommended
        // name:         // Optional
        // is_paying:    // Recommended if using Pendo Feedback
        // monthly_value:// Recommended if using Pendo Feedback
        // planLevel:    // Optional
        // planPrice:    // Optional
        // creationDate: // Optional

        // You can add any additional account level key-values here,
        // as long as it's not one of the above reserved names.
      }
    });
  },
  async created() {
    await this.getCompanyInfo();

    if (!this.company) {
      if (this.$auth.user.role === 'admin') {
        await this.$router.push('/sign-up/company');
      } else await this.$auth.logout();
    }

    this.$nuxt.$on('update-dashboard', () => {
      this.getCompanyInfo();
    });
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    addObjective(objective) {
      this.company.objectives.push(objective);
    },
    addIndicator(indicator) {
      this.company.indicators.push(indicator);
    },
    async getCompanyInfo() {
      try {
        this.loading = true;
        const { data } = await this.$axios.get('/companies/me');

        this.company = data;
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } finally {
        this.loading = false;
      }
    }
  },
  middleware: ['redirectToLogin', 'redirectToSuperAdmin']
};
</script>
