<template>
  <v-snackbar
    v-model="visibility"
    color="#fff"
    min-height="80"
    class="notification--z-index notification--shadow notification--height mx-2"
    timeout="3000"
  >
    <div class="notification__header">
      <div class="notification__status">
        <v-icon
          v-if="message.status >= 200 && message.status < 300"
          color="#4cd964"
          class="mr-2"
          >check_circle_outline</v-icon
        >
        <v-icon
          v-else-if="message.status >= 400 && message.status < 600"
          color="#b80f0a"
          class="mr-2"
          >error_outline</v-icon
        >
        {{ message.error }}
      </div>
      <div>
        <v-icon
          color="#d1d1d6"
          class="notification__close-btn"
          text
          @click="deleteMsg"
          >close</v-icon
        >
      </div>
    </div>
    <div class="ml-8 mr-5">
      <span class="small-text notification__text">
        {{ message.info }}
      </span>
    </div>
  </v-snackbar>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  props: {
    msgId: {
      type: String,
      default: ''
    },
    index: {
      type: Number,
      default: 1
    },
    message: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  computed: {
    ...mapState('notifications', ['messages']),
    msgIndex() {
      return this.messages.findIndex((msg) => msg.id === this.msgId);
    },
    visibility: {
      get() {
        return this.msgIndex >= 0;
      },
      set(val) {
        if (!val) {
          this.deleteMsg();
        }
      }
    }
  },
  methods: {
    ...mapMutations('notifications', ['DELETE_SNACKBAR_MESSAGE']),
    deleteMsg() {
      this.DELETE_SNACKBAR_MESSAGE(this.msgId);
    }
  }
};
</script>
