<template>
  <div class="d-flex align-center mr-4 data-block data-block--objective">
    <v-skeleton-loader v-if="loading" width="300" type="list-item" />
    <v-menu
      v-else
      ref="menu"
      v-model="menuDatePicker"
      :close-on-content-click="false"
      :return-value.sync="date"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="dateFormatted"
          class="align-center ma-0"
          prepend-icon="event"
          readonly
          hide-details
          dense
          color="#5856d6"
          v-bind="attrs"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="date" color="#5856d6" range no-title scrollable>
        <v-spacer></v-spacer>
        <v-btn text color="#5856d6" @click="menuDatePicker = false"
          >Cancel</v-btn
        >
        <v-btn text color="#5856d6" @click="saveData">OK</v-btn>
      </v-date-picker>
    </v-menu>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import moment from 'moment';

export default {
  name: 'QuarterDate',
  props: {
    objectiveId: {
      type: Number,
      default: null
    },
    companyId: {
      type: Number,
      default: null
    },
    objective: {
      type: Object,
      default: () => {}
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    show: false,
    date: [
      moment(new Date())
        .format('YYYY-MM-DD')
        .toString(),
      moment(new Date())
        .format('YYYY-MM-DD')
        .toString()
    ],
    menuDatePicker: false
  }),
  computed: {
    dateFormatted() {
      if (Array.isArray(this.date)) {
        const startDate = moment(this.date[0]).format('MM-DD-YYYY');
        const endDate = moment(this.date[1]).format('MM-DD-YYYY');
        return [startDate, endDate].join(' — ');
      }
      return [];
    }
  },
  watch: {
    objective(value) {
      const startDate = moment(value.start_date).format('YYYY-MM-DD');
      const endDate = moment(value.end_date).format('YYYY-MM-DD');
      // this.date = `${startDate} — ${endDate}`;
      this.date = [startDate, endDate];
    }
  },
  methods: {
    ...mapMutations({
      ADD_SNACKBAR_MESSAGE: 'notifications/ADD_SNACKBAR_MESSAGE'
    }),
    async saveData() {
      try {
        await this.$refs.menu.save(`${this.patchDate}`);

        const diff = moment(this.date[0]).diff(moment(this.date[1]));

        if (diff > 0) {
          [this.date[0], this.date[1]] = [this.date[1], this.date[0]];
        }

        const response = await this.$axios.patch(
          `objectives/${this.objectiveId}`,
          {
            start_date: this.date[0],
            end_date: this.date[1]
          }
        );

        this.date = [response.data.start_date, response.data.end_date];

        const msg = {
          status: response.status,
          info: 'Date was changed',
          error: 'Success'
        };
        this.ADD_SNACKBAR_MESSAGE(msg);
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      }
    }
  }
};
</script>
