.btn {
  .v-btn__content{
    letter-spacing: -0.38px;
  }
  &.v-btn.v-btn--contained {
    border-radius: 4px;
    text-transform: none;
  }

  &--main-shadow.v-btn--contained {
    box-shadow: $main-shadow;
  }

  &--bordered {
    border: $main-border !important;
  }

  &--white-text.v-btn.v-btn--contained {
    color: $white;
  }

  &--purple-text.v-btn.v-btn--contained {
    color: $main-purple;
  }

  &--azure-text.v-btn.v-btn--contained {
    color: $azure;
  }

  &--blue-grey-text.v-btn.v-btn--contained {
    color: $blue-grey;
  }

  &--fz-sm.v-btn.v-size--default {
    font-size: 14px;
  }

  &--fz-md.v-btn.v-size--default {
    font-size: 16px;
  }

  &--ls-sm .v-btn__content {
    letter-spacing: -0.33px;
  }

  &--ls-md .v-btn__content {
    letter-spacing: -0.38px;
  }

  &--ls-lg .v-btn__content {
    letter-spacing: -0.4px;
  }

  &--center {
    display: flex;
    align-items: center;
  }
}

.v-menu__content {
  box-shadow: $main-shadow;
}

.list {
  padding: 0 !important;

  &__icon {
    margin: 13px 12px 13px 0px !important;
  }

  &__content--delete {
    margin-right: 35px;
  }
}
