.card-wrap {
  border-radius: 12px !important;
  box-shadow: $main-shadow !important;
  border: $main-border !important;
  margin-bottom: 23px;
}

.card-action {
  border-radius: 8px !important;
  box-shadow: $darker-shadow !important;
  border: $main-border !important;
}

.card-info {
  border-radius: 8px !important;
  box-shadow: $main-shadow !important;
  border: $main-border !important;
}

.new-card {
  display: flex !important;
  border-radius: 8px !important;
  border: dashed 1px #d3d4d9 !important;
  background-color: $background !important;
  box-shadow: none !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 30px;
  min-width: auto;
  @include breakpoint-min(md) {min-width: 305px}
  &__title {
    margin-bottom: 0 !important;
  }

  &__desc {
    margin-bottom: 0 !important;
    margin-left: 48px;
  }
}

.border-none{
  border: none !important;
}

.white-bg{
  background-color: $white;
}

.initiative-navigation{
  border-top-left-radius: 8px;
  background-color: $bg-grey !important;
}

.admin-settings{
  background-color: $white;
  border-bottom: $main-border;

  &>span{
    color: #43434b;
    letter-spacing: -0.47px;
    font-size: 20px;
  }
}
