.color {
  &__blue-grey {
    color: $blue-grey !important;
  }

  &__light-blue-grey {
    color: $light-blue-grey !important;
  }

  &__dark-grey{
    color: $dark-grey !important;
  }

  &__dark-grey-text{
    color: $dark-grey-text !important;
  }

  &__charcoal-grey {
    color: $charcoal-grey !important;
  }

  &__black{
    color: $black !important;
  }
}
.bg-color {
  &__blue-grey {
    background-color: $blue-grey !important;
  }

  &__light-blue-grey {
    background-color: $light-blue-grey !important;
  }

  &__charcoal-grey {
    background-color: $charcoal-grey !important;
  }
  &__pale-grey {
    background-color: $pale-grey !important;
  }
}



