.custom-container {
  width: 100%;
  padding: 0 15px;

  &--white {
    background-color: $white;
  }

  &--inset-shadow {
    box-shadow: inset $last-update-shadow;
  }

  @include breakpoint-min(sm) {
    padding: 0 20px;
  }

  @include breakpoint-min(sm) {
    padding: 0 40px;
  }

  &--inset-shadow {
    box-shadow: inset 0 1px 2px 0 rgba(223, 225, 228, 0.46);
  }
}

.container{
  width: 100%;
  max-width: none !important;
}
