.hover-v-list-item {
  &:hover {
    background-color: $light-purple !important;
    color: $purple !important;
  }

  &:hover .v-list-item__title {
    color: $purple !important;
  }
}

.general-list {
  &.v-list--rounded {
    padding: 11px 5px;
  }

  .v-list-item__avatar {
    margin-top: 0;
    margin-bottom: 0;
  }

  .v-list-item {
    margin: 0 !important;
  }
}

.dropdown-menu {
  padding: 50px;
}
