.invite-modal {
  background: $white;
  position: relative;

  &__btn{
    &--close{
      width: auto !important;
      position: absolute !important;
      top: 20px;
      right: 18px;
    }
  }
}

.modal {
  border-radius: 12px !important;
  box-shadow: 0 12px 15px 0 rgba(50, 55, 64, 0.14) !important;
  &__btn {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
  }


  &-label {
    color: $light-blue-grey;
  }

  &__close {
    cursor: pointer;

    &--add-update.v-icon.v-icon{
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &--update {
    padding: 20px 20px 15px 30px;
    position: relative;
  }

  &-update {
    &__info {
      color: $blue-grey;
      margin-bottom: 10px;

    }

    &__status-btn {
      max-width: 160px;
    }
  }

  &__dropdown-btn {
    display: flex;
    align-items: center;
    padding: 7px;
  }
}
.modal-size-btn {
  width: 305px;
}
.v-dialog{
  .modal-content-objective{
    min-height: 245px;
  }
}
.modal-content {
  &__title{
    padding-bottom: 10px;
  }
  &-kpi {
    //width: 305px !important;
    min-height: 381px;
    border-radius: 12px !important;
    background: linear-gradient(to bottom, #fff 82%, #fafbfc 14%);
    padding-left: 27px;
    padding-right: 20px;
    padding-bottom: 15px;
    &__title {
      margin-bottom: 10px;
    }

    &__input {
      //width: 259px;
      border-radius: 6px !important;
      box-shadow: inset 0 1px 3px 0 $light-blue-grey !important;
      border: $main-border !important;
      background-color: $pale-grey !important;
      margin-bottom: 12px !important;
    }
    &__label {
      display: block;
      margin-bottom: 6px;
      color: $grey-text;
    }
  }


}
