.notification {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &--height {
    height: auto !important;
  }

  &-wrapper {
    position: fixed !important;
    width: 100%;
    max-width: 410px;
    z-index: 1001;
    right: 10px;
    top: 10px;

    .v-snack {
      bottom: unset;
      left: unset;
      top: unset;
      right: unset;
      width: auto;
    }

    .v-snack:not(.v-snack--absolute) {
      position: relative;
    }

    .v-snack__wrapper {
      position: unset;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: -0.38px;
    color: $charcoal-grey;
  }

  &__close-btn {
    cursor: pointer;
  }

  &__text {
    color: $blue-grey;
  }

  &--shadow {
    .v-sheet.v-snack__wrapper:not(.v-sheet--outlined) {
      box-shadow: $darker-shadow;
    }
  }

  &--border {
    border: $main-border;

    .v-sheet.v-snack__wrapper {
      border-radius: $main-border-radius-sm;
    }
  }

  &--z-index {
    &.v-snack--absolute {
      z-index: 250;
    }
  }
}
