<template>
  <div>
    <v-tabs
      v-model="tab"
      fixed-tabs
      active-class="admin-super__tab"
      class="card-wrap"
      color="#5856d6"
    >
      <v-tab :href="'#dashboard'">Info</v-tab>
      <v-tab :href="'#settings'">Settings</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item :value="'dashboard'">
        <!--        <Header />-->
        <CompanyInfo
          :loading="loading"
          :name="company.name"
          :mission.sync="company.mission"
          :company-id="company.id"
        />
        <KpiAdd
          v-model="showAddKpi"
          :company-id="company.id"
          :is-company="true"
        />
        <AddObjective v-model="showAddObjective" :company-id="company.id" />
        <div class="custom-container custom-container--inset-shadow">
          <div class="pt-5 pb-1 d-flex align-center">
            <span class="dashboard-indicators__title"
              >2020 Organizational Performance Indicators</span
            >
            <v-icon
              class="cursor-pointer"
              color="#dfe1e4"
              @click="showAddKpi = true"
              >add_circle
            </v-icon>
          </div>
          <v-row class="dashboard-indicators-wrapper">
            <v-skeleton-loader
              v-if="loading"
              :loading="loading"
              transition="fade-transition"
              height="50px"
              width="250px"
              type="card"
              class="pl-3"
            />
            <Indicator
              v-for="indicator in company.indicators"
              v-else
              :key="indicator.id"
              :indicator="indicator"
              :loading="loading"
              :company-id="company.id"
              :indicator-logs="indicator.logs"
              :is-company="true"
              @delete-indicator="getCompanyInfo"
            />
          </v-row>
          <div class="py-1 d-flex align-center">
            <span class="dashboard-objectives__title">Objectives</span>
            <v-icon
              class="cursor-pointer"
              color="#dfe1e4"
              @click="showAddObjective = true"
              >add_circle</v-icon
            >
          </div>
          <v-row class="dashboard-objectives-wrapper">
            <v-skeleton-loader
              v-if="loading"
              :loading="loading"
              transition="fade-transition"
              height="100px"
              width="250px"
              type="card"
              class="pl-3"
            />
            <ObjectiveCard
              v-for="objective in company.objectives"
              v-else
              :key="objective.id"
              :company-users="company.users"
              :objective="objective"
              :company-id="company.id"
              :loading="loading"
            />
          </v-row>
        </div>
      </v-tab-item>
      <v-tab-item :value="'settings'">
        <Reminders :reminders-arr="remindersArr" :company="company" />
        <v-row class="w-100 ma-0">
          <v-col class="admin-settings">
            <span>Settings</span>
            <CompanySettings :company="company" />
          </v-col>
        </v-row>
        <Users
          :users-arr="company.users"
          :invited-users="company.invites"
          :company-id="company.id"
        />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import CompanySettings from '@/components/admin/CompanySettings';
// import Header from '@/components/dashboard/Header';
import CompanyInfo from '@/components/dashboard/CompanyInfo';
import KpiAdd from '@/components/modal/KpiAdd';
import AddObjective from '@/components/modal/AddObjective';
import Indicator from '@/components/dashboard/Indicator';
import ObjectiveCard from '@/components/dashboard/ObjectiveCard';
import Reminders from '@/components/admin/Reminders';
import Users from '@/components/admin/Users';

export default {
  name: 'Edit',
  layout: 'main',
  components: {
    Users,
    Reminders,
    Indicator,
    AddObjective,
    KpiAdd,
    CompanyInfo,
    CompanySettings,
    // Header,
    ObjectiveCard
  },
  asyncData({ params }) {
    const { id } = params;
    const { redirect } = params;

    return {
      id: +id,
      redirect
    };
  },
  data: () => ({
    id: null,
    redirect: true,
    tab: null,
    company: {},
    loading: false,
    showAddKpi: false,
    showAddObjective: false,
    showEditKpi: false,
    remindersArr: [
      {
        title: 'Send email reminders',
        description: 'Emails will be sent every Friday at 9:00am EST'
      },
      {
        title: 'Send email reminders to update KPIs',
        description:
          'Emails will be sent the third Friday of every month at 9:00am EST'
      }
    ],
    // items: [
    //   { tab: 'Info', content: Objective },
    //   { tab: 'Settings', content: 'AddAnObjective' }
    // ],
    items: [
      { tab: 'Info', content: '' },
      { tab: 'Settings', content: '' }
    ]
  }),
  computed: {
    // currentObjectives() {
    //   const currentCompany = this.companies.find((item) => item.id === this.id);
    //   if (currentCompany) {
    //     return currentCompany.objectives;
    //   } else {
    //     return [];
    //   }
    // },
    // users() {
    //   const company = this.companies.find((item) => item.id === this.id);
    //   if (company) {
    //     return company.users;
    //   } else {
    //     return [];
    //   }
    // }
  },
  async created() {
    await this.getCompanyInfo(this.id);

    this.$nuxt.$on('update-dashboard-super-admin', () =>
      this.getCompanyInfo(this.id)
    );
  },
  methods: {
    async getCompanyInfo(id) {
      try {
        this.loading = true;
        const response = await this.$axios.get(`/companies/get/${id}`);

        this.company = response.data;
      } catch ({ response }) {
        const msg = {
          status: response.data.statusCode,
          info: response.data.message,
          error: response.data.error
        };

        this.ADD_SNACKBAR_MESSAGE(msg);
      } finally {
        this.loading = false;
      }
    }
  },
  middleware: 'redirectToLogin'
};
</script>
